@model Banners

@if (!string.IsNullOrEmpty(Model.Imagem))
{

// tem como mudar o nome dessa classa pra dg-footer-banner?
    
    <a href="@Model.URLBanner" class="dg-outro-banner" style="display:block;background-image:url(https://static.farmaciamix.com.br/banners/fmix/@Model.Imagem)"></a>
}











