.dg-slide-event, .dg-header-luz {
    display: block;
}

.dg-tem-banner-mensagem-top ~ .dg-mascote-loja {
    .dg-mascote-menu {
        top: -29px;
        left: -27px;
    }
}

.dg-hide-event {
    display: none;
}

.dg-mascote-menu-item-mudatema {
    display: flex !important;
}

.dg-categoria-sidebar-listagem a img {
    padding: 2px;
    border-radius: 12px;
}

.container-mensagem-top {
    width: 100%;
    padding: 0;
    a {
        border-radius: 0;
    }
}

.dg-modal-mascote-avisa-evento {
    right: 190px;
    bottom: -27px;
    width: 566px;
    border: 0;
    padding: 0;
    border-radius: 30px;
    &::after {
        content: '';
        right: -40px;
        top: unset;
        bottom: 30px;
    }
    &__header {
        position: relative;
        border-radius: 30px;
        padding: 15px 34px 25px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        .dg-relative {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            z-index: 1;
            background-color: #91a4ba;
        }
        &::after {
            content: '';
            position: absolute;
            top: .5%;
            left: .3%;
            width: 99.4%;
            height: 98%;
            border-radius: 30px;
            background-color: #91a4ba;
        }
        .dg-countdown-wrapper {
            align-items: center;
            height: 30px;
            .dg-countdown-title {
                margin-right: 24px;
                margin-bottom: 0;
                flex-basis: auto;
                padding-top: 10px;
                color: #fff;
            }
            .dg-countdown-tempo {
                width: 30px;
                height: 30px;
                margin-right: 7px;
                &:last-child {
                    margin-right: 0;
                }
            }
            .dg-countdown-tempo::after {
                left: 0;
                top: 30px;
                width: 100%;
                text-align: center;
                color: #fff;
            }
        }
    }
    &__body {
        h4 {
            font-size: 12px;
        }
        padding: 25px 34px 22px;
        &-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;
            font-weight: 600;
            font-size: 12px;
            a {
                display: block;
                text-decoration: none;
                width: 126px;
                height: 38px;
                border-radius: 15px;
                line-height: 38px;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                background-color: #0e3d90;
                &:hover {
                    background-color: darken(#0e3d90, 5%);
                }
            }
            &__icone {
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url(../../img/bf/2023/truck-fast-blue.svg);
                vertical-align: middle;
                margin-right: 8px;
            }
        }
    }
}

.dg-home-produtos, .dg-produto-compre-tambem {
    margin-right: -20px;
    .tns-ovh {
        overflow: hidden;
        margin: 0px -21px 0px 0px !important;
        padding-right: 19px;
    }
    .tns-outer {
        padding-right: 20px !important;
    }
    .dg-home-produtos-titulo {
        // padding-left: 45px;
    }
    .dg-home-produtos-vermais {
        margin-right: 20px;
    }
    .tns-controls button[data-controls="next"]{
        right: 10px;
    }
}

.dg-evento-tag {
    width: 142px;
    height: 58px;
    position: absolute;
    bottom: unset;
    top: 21px;
    right: -14px;
    z-index: 20;
    ~ .dg-boxproduto-tags, ~ .dg-produto-tags {
        top: 71px;
    }
    &__image {
        position: relative;
        background-image: url(../../img/bf/2023/selo-bf.png);
        height: 100%;
        width: 100%;
        z-index: 1;
        background-position: right;
        margin-left: auto;
        transition: .2s all linear;
    }
    &__texto {
        position: absolute;
        overflow: hidden;
        color: #fff;
        font-size: 9px;
        height: 44px;
        background-color: #ff3141;
        border-radius: 30px 0 0 30px;
        top: 0;
        left: 0;
        transition: .2s all linear;
        padding: 7px 0 7px 19px;
        line-height: 1.125;
        width: 141px;
    }
    &:hover &__image {
        width: 90%;
    }
    &:hover &__texto {
        left: -125px;
        width: 147px;
    }
}

.dg-conteudounico-header {
    margin-top: 0;
    height: 38px;
    padding: 0 12px;
}

.dg-conteudounico-header__icone {
    width: 24px;
    height: 24px;
}

.dg-header.dg-tem-banner-mensagem-top {
    border-top: 0;
}

.dg-categoria {
    @media (max-width: 520px) {
        .dg-evento-tag { 
            top: 4px;
            right: -11px;
            &__image {
                height: 45px;
                background-size: 110px;
                background-repeat: no-repeat;
            }
            // background-image: url(../../img/bf/2023/selo-bf-small.png);
            ~ .dg-boxproduto-tags, ~ .dg-produto-tags {
                top: 42px !important;
            }
            &__texto {
                display: none;
            }
        }
        .dg-boxproduto-lista {
            overflow: unset;
        }
    }
    @media (max-width: 430px) {
        .dg-boxproduto-subacoes {
            left: 10px;
            top: 15px;
            a, .dg-produto-img-subacoes a {
                width: 28px;
            }
        }
        .dg-boxproduto-tags {
            top: 15px;
        }
    }
}

.dg-header-sac {
    @media (max-width: 991px) {
        margin: 50px 0 10px
    }
}

.dg-mascote-menu>a {
    &.dg-mascote-menu-item-evento {
        left: 82px;
        .dg-mascote-menu-item-evento__icone {
            background-image: url(../../img/bf/2023/mascote/fogo-vermelho.svg);
        }
        .dg-mascote-menu-item-evento__texto {
            &::before {
                content: 'Sobre a Mega Black'
            }
        }
    }
}

.dg-produto-acoes-btns-compra-qtd-input {
    transition: none;
}

// @media (max-width: 991px) {
//     .dg-header-fix.dg-bannerMensagemTopo {
//         margin-bottom: 68px;
//     }
// }

.dg-modal-id-templateModalMudaTema {
    .modalFadeInUp {
        animation: none;
    }
    div {
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: rgba(0,0,0,0);
        background: none;
        box-shadow: none;
    }
    div.dg-modal-overlay {
        background-color: rgba(0,0,0,0.75);
    }
    .dg-modal-fechar {
        position: fixed;
        top: 140px;
        left: 50%;
        margin-left: 310px;
        font-size: 0;
        background-color: rgba(0,0,0,0);
        width: 15px;
        height: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../img/bf/2023/fechar-modal.svg);

        
        @media (min-width: 992px) and (max-width: 1279px) {
            margin-left: 230px;
        }
        @media (max-width: 991px) {
            margin-left: 206px;
        }
        @media (max-width: 767px) {
            top: 115px;
            left: unset;
            right: 120px;
        }
        @media (max-width: 459px) {
            right: 40px
        }
        @media (max-width: 410px) {
            top: unset;
            bottom: 240px;
        }
    }
    div.dg-modal-container {
        position: relative;
        width: 569px;
        @media (max-width: 767px) {
            width: 359px;
        }
    }
    div.dg-modal-muda-tema {
        position: fixed;
        top: 26px;
        left: 50%;
        width: 569px;
        height: 370px;
        margin-left: -174px;
        font-size: 18px;
        font-weight: 600;
        color: #707D88;
        background-image: url(../../img/bf/2023/header-luz.png),url(../../img/bf/2023/lampada.svg);
        background-repeat: no-repeat;
        background-position: bottom center, top right 56px;
        @media (max-width: 767px) {
            top: 23px;
            left: unset;
            right: 83px;
            margin-left: 0;
            // margin-top: -262px;
            width: 359px;
            height: 262px;
            background-image: url(../../img/bf/2023/header-luz-mobile.png),url(../../img/bf/2023/lampada.svg);
            background-repeat: no-repeat;
            background-position: bottom center, top right 56px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            top: 23px;
            margin-left: -279px;
            // margin-top: -262px;
        }
        @media (min-width: 992px) and (max-width: 1279px) {
            // margin-top: -209px;
            margin-left: -254px;
        }
        @media (max-width: 459px) {
            right: 100px;
            background-position: bottom center, top right 39px;
        }
        @media (max-width: 410px) {
            top: unset;
            bottom: 0;
            right: 0;
            background-position: top center, 94.55% 91.55%;
            background-image: url(../../img/bf/2023/header-luz-mobile-invertido.png),url(../../img/bf/2023/lampada.svg);
        }
        p {
            width: 340px;
            height: 73px;
            margin-top: 261px;
            margin-left: 123px;
            margin-bottom: 0;
            @media (max-width: 767px) {
                width: 215px;
                height: 74px;
                margin-top: 187px;
                margin-left: 81px;
                margin-bottom: 0;
                font-size: 16px;
                line-height: 1;
            }
            @media (max-width: 410px) {
                margin-top: 100px;
                margin-left: 75px;
            }
        }
        span {
            color: #F03543;
        }
    } 
    @media (max-width: 767px) {
        justify-content: flex-end;
    }
}

#produto-pg {
    @media (max-width: 410px) {
        .dg-header-luz {
            bottom: 66px;
        }
        .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
            bottom: 56px;
        }
        .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
            bottom: 290px;
        }
    }
}

.dg-header {
    .dg-countdown-wrapper {
        left: 285px;
        bottom: 55px;
        @media (max-width: 991px) {
            left: 0;
        }
        @media (max-height: 680px) and (min-width: 992px) {
            bottom: 43px;
        }
        @media (max-width: 1279px) and (min-width: 992px) {
            left: 223px;
        }
        .dg-countdown-tempo::after {
            font-size: 10px;
            left: 0;
            top: 25px;
            width: 100%;
            text-align: center;
            line-height: 15px;
            @media (max-width: 991px) {
                top: 4px;
                left: 20px;
            }
        }
        .dg-countdown-title {
            font-size: 9.5px;
        }
        
        .dg-countdown-tempo:not(:last-child) {
            margin-right: 7px;
            @media (max-width: 991px) {
                margin-right: 16px;
            }
        }
    }
    .dg-ativo-busca {
        @media (max-width: 991px) {
            .dg-countdown-wrapper {
                top: 138px;
            }
        }
        .dg-header-busca {
            top: 76px;
        }
    }
    @media (max-width: 1279px) and (min-width: 992px) {
        .dg-header-busca {
            max-width: 370px;
            margin-left: auto;
        }
        .dg-header-luz, .dg-header-minhaconta, .dg-header-favoritos, .dg-header-carrinho {
            margin-left: 0;
        }
        .dg-header-sac {
            margin-left: 10px;
        }
    }
}

@media (max-width: 991px) {
    .dg-header.dg-tem-banner-mensagem-top {
        .dg-countdown-wrapper {
            top: 108px;
       }
       .dg-ativo-busca .dg-countdown-wrapper {
            top: 173px
       }
    }
    .dg-header-fix.dg-bannerMensagemTopo {
        margin-bottom: 90px;
    }
}

@media (max-height: 680px) and (min-width: 992px) {
    .dg-header-busca-btn {
        top: 19px;
    }
}


@media (min-width: 992px) {
    #home-pg .dg-produto-compre-tambem::before, #home-pg .dg-produto-compre-tambem::after, #home-pg main::before, #home-pg main::after, #produto-pg .dg-produto-compre-tambem::before, #produto-pg .dg-produto-compre-tambem::after, #produto-pg main::before, #produto-pg main::after {
        display: none
    }
}

.dg-home-produtos-vermais a {
    font-size: 14px;
}

html[blackfriday] {
    body {
        
        background-color: #15181C;

        .dg-modal-mascote-avisa-evento {
            &__header {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 30px;
                    width: 100%;
                    height: 100%;
                    filter: blur(2px);
                    background-image: linear-gradient(to right, #42C6FF, #fff);
                }
                &::after {
                    background-color: #000000;
                }
                .dg-relative {
                    background-color: #000000;
                }
            }

            .dg-modal-mascote-avisa-evento__body-footer {
                &__icone {
                    background-image: url(../../img/bf/2023/truck-fast.svg);
                }
                a {
                    background-color: #EA2E3D;
                    &:hover {
                        background-color: darken(#EA2E3D, 5%);
                    }
                }
            }
        }
        
        .dg-home-produtos-titulo {
            color: #fff;
        }

        .dg-header {
            border-top-color: #FD3141;
            background-color: #15181C;
        }

        .dg-countdown-wrapper {
            .dg-countdown-title {
                color: #fff;
            }
            .dg-countdown-tempo {
                background-image: linear-gradient(to bottom, #FD3141 50%, #000 52%, #FD3141 55%);
                &::after {
                    color: #fff;
                }
            }
        }

        section.dg-produto-abas::before {
            content: '';
            display: block;
            width: 100.35%;
            height: 101%;
            background-image: linear-gradient(to right, #42C6FF, #fff);
            position: absolute;
            top: 0;
            left: 0;
            left: -.15%;
            top: -.5%;
            border-radius: 24px;
            filter: blur(2px);
        }
        @media (min-width: 992px) {
        }

        .dg-produtos-abas {
            position: relative;
            border-right: 0;
            margin-right: 2px;
            @media (max-width: 767px) {
                background-color: #15181c;
                padding: 14px;
                margin: 0;
            }
        }
        
        @media (min-width: 992px) {
            &#home-pg, &#categoria-pg {
                background-image: url(../../img/bf/2023/bg.png);
                background-position: top;
                .dg-header {
                    background-color: rgba(0,0,0,0);
                    background-image: url(../../img/bf/2023/bg-header.png);
                    background-position: top;
                }
            }
            .dg-mascote-fundo {
                background-image: url(../../img/bf/2023/mascote/fundo.png);
            }
        }
        
        .dg-mascote-borda-baixo, .dg-mascote-borda-cima {
            display: none
        }

        .dg-modal-mascote-avisa-evento {
            color: #fff;
            background-color: #282C38;
            border-color: #282C38;
            box-shadow: 0 0 6px 4px rgba(0, 0, 0, .2);
            &::after {
                border-left-color: #282C38;
            }
        }

        .dg-mascote-corpo:not(.dg-mascote-fundo) {
            bottom: 5px;
            left: 1px;
        }

        .dg-mascote-menu>a.dg-mascote-menu-item-mudatema {
            background-color: #fff;
            .dg-mascote-menu-item-mudatema__icone {
                background-image: url(../../img/bf/2023/mascote/lampada-vermelha.svg);
            }
        }
        
        .dg-mascote-menu>a .dg-mascote-tooltip {
            background-color: #000;
        }

        @media (max-width: 991px) {
            .dg-header .dg-countdown-wrapper {
                background-color: #090909;
                border-top: 2px solid #2C2E2F;
            }
        }

        .dg-header-luz {
            @media (max-width: 410px) {
                background-color: #20232D;
                &::before {
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: -2px;
                    display: block;
                    width: 45px;
                    height: 44px;
                    background-image: linear-gradient(to right, #42C6FF, #fff);
                    border-radius: 50%;
                    filter: blur(2px);
                }
                button {
                    position: relative;
                    z-index: 1;
                    border: 0;
                    background-color: #20232D;
                }
            }
        }

        .dg-categoria-ordenacao {
            background: #20232D;
            border-color: #20232D;
        }


        .dg-categoria-sidebar {
            background-color: #20232D;
            border-color: #20232D;
            .dg-titulo {
                background: #20232D;
                border-top: 1px solid #555463;
                border-bottom: 1px solid #555463;
            }
            .dg-titulo, .dg-categoria-sidebar-titulo {
                color: #fff;
            }
            .dg-titulo {
                color: #6B6B7B;
            }
            .dg-categoria-sidebar-titulo {
                color: #FD3141;
            }
            .dg-categoria-sidebar-limpar-filtros {
                background: #20232D;
                border-top: 1px solid #555463;
                border-bottom: 1px solid #555463;
            }
        }
        
        .dg-conteudounico-header {
            background-color: #FF3141;
            color: #fff;
            &:hover, &:focus {
                background-color: lighten(#FF3141, 5%);
                color: #fff;
            }
            &__icone {
                background-position: right;
            }
        }

        .dg-produtos-abas-titulo, .dg-produto-info-fabricacao, .dg-produto-info-preco-de, .dg-produto-info-titulo, .dg-header-luz-btn, .dg-categoria-sidebar-letras a, .dg-categoria-sidebar-listagem-contrgenerico li a, .dg-categoria-paginacao>ul>li>span.dg-categoria-paginacao-etc, .dg-categoria-desc, .dg-categoria-titulo-txt .dg-titulo {
            color: #fff;
        }

        .dg-produto-aba-info a {
            color: #1EC765
        }

        .dg-produto-info-preco-por {
            color: #FF3141;
        }

        .dg-header-menu ul li.dg-header-menu-vertodas a {
            color: #fff;
            &:hover, &:focus {
                color: #fff;
                span {
                    color: #fff;
                }
            }
        }

        .dg-categoria-sidebar-listagem-contrgenerico li a {
            background-color: #363B40;
        }

        .dg-categoria-sidebar-preco-range .ui-widget-content {
            border-color: #20232D;
        }

        .dg-categoria-sidebar-preco-range .ui-widget-content::after {
            background-image: url(../../img/bf/2023/input-ranger.png);
        }

        .dg-categoria-paginacao>ul>li {
            background: #1F2022;
        }

        .dg-produto-info-sp, .dg-categoria-paginacao>ul>li>a {
            color: #7699A8;
        }

        .dg-categoria-paginacao>ul>li>a {
            color: #15181C;
            background-color: #E4E5EC;
        }

        .dg-produto-acoes-modais-btn {
            background-color: #20232D;
            border-color: #20232D;
        }

        .dg-produto-acoes-btns-compra-qtd-input {
            background: #20232D;
            color: #fff;
        }
        @media (min-width: 768px) {
            .dg-produtos-abas {
                background-color: #15181C;
            }
        }
        .dg-produtos-abas-textos .dg-produto-aba-info-wrapper, .dg-produtos-abas-textos {
            background-color: #15181C;
        }
        .dg-produtos-abas-textos .dg-produto-aba-info::-webkit-scrollbar-track {
            background-color: #2F3235;
        }
        .dg-produtos-abas-textos .dg-produto-aba-info::-webkit-scrollbar-thumb {
            background-color: #42C6FF;
        }
        .dg-produtos-abas {
            border-color: #4D5053;
        }
        .dg-produto-subtitulo, .dg-produto-titulo {
            color: #fff;
        }
        .dg-produtos-abas-textos .dg-produto-aba-info h1 b, .dg-produtos-abas-textos .dg-produto-aba-info h1 strong, .dg-produtos-abas-textos .dg-produto-aba-info h2 b, .dg-produtos-abas-textos .dg-produto-aba-info h2 strong, .dg-produtos-abas-textos .dg-produto-aba-info h3 b, .dg-produtos-abas-textos .dg-produto-aba-info h3 strong, .dg-produtos-abas-textos .dg-produto-aba-info h4 b, .dg-produtos-abas-textos .dg-produto-aba-info h4 strong, .dg-produtos-abas-textos .dg-produto-aba-info h5 b, .dg-produtos-abas-textos .dg-produto-aba-info h5 strong, .dg-produtos-abas-textos .dg-produto-aba-info h6 b, .dg-produtos-abas-textos .dg-produto-aba-info h6 strong, .dg-produtos-abas-textos .dg-produto-aba-info div, .dg-produtos-abas-textos .dg-produto-aba-info p, .dg-produtos-abas-textos .dg-produto-aba-info span {
            color: #fff !important;
        }

        .dg-produto-aba-btn:last-child {
            border: 0;
        }

        .dg-produto-aba-btn {
            border: 0;
            color: #fff;
            background-color: #15181c;
            &.dg-ativo {
                color: #fff;
                background-color: #EA2E3D;
            }
        }

        .dg-produto-anvisa .dg-produto-aba-descricao-medicamento {
            background-color: #15181c;
            color: #fff;
            border-color: #fff;
        }

        .dg-produto-acoes-btns-frete>label {
            background-color: #070707;
        }
        
        .dg-produto-info-preco {
            border-color: #20232D;
        }

        .dg-categoria-ordenacao-titulo, .dg-categoria-ordenacao-item, .dg-categoria-breadcrumb a, .dg-produto-breadcrumb {
            font-weight: 600;
            opacity: 1;
            color: #7699A8;
        }

        .dg-produto-breadcrumb a {
            color: #8B98A3;
        }

        .dg-categoria-ordenacao-item {
            color: #6B6B7B;
        }

        .dg-categoria-paginacao>ul>li>span.dg-categoria-paginacao-etc {
            color: #FD3141;
            background: #20232D;
        }

        .dg-categoria-sidebar-letras a {
            &[disabled="disabled"] {
                color: #FD3141;
            }
        }

        .dg-categoria-topo-wrapper {
            background-image: none !important;
            @media (min-width: 992px) {
                background-color: #1A1D24;
            }
        }

        @media (max-width: 991px) {
            .dg-header-m-abrirbusca {
                background-color: #20232D;
            }
            .dg-header-m-abrirmenu>span {
                background: #fff;
            }
            .dg-categoria-desc-vermais {
                border: 0;
                color: #fff;
                background-color: rgba(0,0,0,0);
                &::after {
                    background-image: url(../../img/bf/2023/chevron-down-white.svg);
                }
            }
            .dg-categoria-desc, .dg-categoria-desc-titulo{
                color: #7699A8;
            }

            .dg-categoria-menumobile>ul>li>a{
                background-color: #20232D;
                border-color: #20232D;
                color: #7699A8;
            }
        }

        .dg-show-blackfriday { 
            display: block;
        }
        
        a, p, h1, h2, h3, h4, h5, h6 {
            .dg-show-blackfriday {
                display: inline-block;
            }
        }
        
        @media (min-width: 992px) {
            &#home-pg .dg-produto-compre-tambem::before, &#home-pg .dg-produto-compre-tambem::after, &#home-pg main::before, &#home-pg main::after, &#produto-pg .dg-produto-compre-tambem::before, &#produto-pg .dg-produto-compre-tambem::after, &#produto-pg main::before, &#produto-pg main::after {
                display: none;
            }
            .dg-header-sac__block-wrapper {
                background-color: #15181C;
                .dg-header-sac__title{
                    color: #fff;
                }
                .dg-header-sac__text {
                    color: #ccc;
                }
            }
        }
        
        .dg-header-sac .dg-icon {
            color: #8B98A3;
        }

        .dg-header-minhaconta>a, .dg-header-favoritos>a {
            color: #8B98A3;
            &:hover, &:focus {
                color: #FD3141;
            }
        }
        
        .dg-header-carrinho>a {
            background-color: #20232D;
            .dg-icon {
                position: relative;
                color: #fff;
                z-index: 2;
            }
            .dg-header-carrinho-numero {
                z-index: 2;
            }
            &::after {
                content: '';
                display: block;
                width: 42px;
                height: 42px;
                position: absolute;
                background-color: #20232D;
                border-radius: 50%;
                top: 0;
                left: 0;
                z-index: 1;
            }
            &::before {
                content: '';
                display: block;
                width: 44px;
                height: 44px;
                position: absolute;
                background-image: linear-gradient(to right, #42C6FF, #fff);
                border-radius: 50%;
                top: -1px;
                left: -1px;
                z-index: 0;
                filter: blur(2px);
            }
        }
        
        .dg-header-menu {
            background-color: #20232D;
        }
        
        .dg-header-busca-label {
            background: #15181C;
        }
        
        .dg-header-busca-input {
            border-color: #15181C;
            color: #fff;
            &:hover, &:focus {
                border-color: #15181C;
            }
        }

        .dg-header-busca-input:focus+.dg-header-busca-label, .dg-header-busca-input.dg-ativo+.dg-header-busca-label {
            color: #999;
        }
        
        .dg-header {
            border-bottom-color: #20232D
        }
        
        .dg-header-menu .dg-icon-img .dg-icon-img-img {
            filter: grayscale(.4);
        }
        
        // .dg-header-menu > ul > li > a {
        //     color: #7699A8;
        // }
        
        .dg-home-produtos-vermais a {
            color: #8B98A3;
            background-color: #20232D;
            &:hover, &:focus {
                color: #FD3141;
            }
        }
        
        .dg-footer {
            background-color: #20232D;
        }
    
        .dg-header-menu ul li.dg-header-menu-vertodas a:hover .dg-icon-vertodas>span, .dg-header-menu ul li.dg-header-menu-vertodas a:focus .dg-icon-vertodas>span {
            background-color: #fff;
        }
        
        .dg-footer-linha2-lista-item {
            background-color: #35373B;
        }
        
        .dg-footer-linha2-lista-item .dg-icon, .dg-footer-final, .dg-footer-final a, .dg-footer-linha1-informacao strong a, .dg-footer-linha1-informacao .dg-icon, .dg-footer-linha1-informacao strong, .dg-footer-titulo {
            color: #7699A8;
        }

        .dg-footer-linha1-informacao {
            border-color: #707D87;
        }
        
        @media (min-width: 992px) {
            .dg-header-menu .dg-icon-img {
                position: relative;
                display: inline-flex;
                top: -5px;
                height: 30px;
                width: 30px;
                background-color: #313545;
                border-radius: 12px;
                margin-right: 4px;
                align-items: center;
                justify-content: center;
                vertical-align: -14px;
                > img:first-child {
                    position: absolute;
                }
                > img {
                    left: auto;
                    top: auto;
                    bottom: auto;
                    right: auto;
                }
            }
        }

        .dg-footer-linha1-btn {
            background-color: #20232D;
            border-top: 1px solid #555463;
            border-bottom: 1px solid #555463;
            &:hover, &:focus {
                background-color: darken(#20232D, 5%);
                border-top: 1px solid #555463;
                border-bottom: 1px solid #555463;
            }
        }
        
        .dg-home-filtropreco a, .dg-home-filtropreco a strong {
            color: #fff;
        }
        
        .dg-home-sintomas-lista, .dg-home-filtropreco a {
            border: 0;
            background-color: #20232D;
        }

        .dg-home-filtropreco a strong  {
            border: 0;
        }
        
        .dg-home-sintomas-lista a {
            .dg-icon {
                position: relative;
                padding-top: 0;
                background-color: #1A1C23 !important;
                color: #fff;
                &::before {
                    position: relative;
                    height: 84px;
                    line-height: 84px;
                    background-color: #1A1C23 !important;
                    z-index: 1;
                    border-radius: 50%;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 88px;
                    height: 88px;
                    z-index: 0;
                    background-image: linear-gradient(to bottom, #42C6FF, #fff);
                    filter: blur(2px);
                    border-radius: 50%;
                    top: -2px;
                    left: -2px;
                    -webkit-animation-duration: 800ms;
                    animation-duration: 800ms;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                }
            }
            &:hover .dg-icon:after, &:focus .dg-icon:after {
                -webkit-animation-name: rubberBandSintomas;
                animation-name: rubberBandSintomas;
            }
            .dg-home-sintomas-lista-txt {
                color: #fff;
            }
            &:hover, &:focus {
                .dg-home-sintomas-lista-txt {
                    color: #fff !important;
                }
            }
        }

        @media (max-width: 991px) {
            .dg-header-sac__title {
                color: #fff;
            }
        }

        .dg-home-filtropreco {
            a {
                box-shadow: none;
                > * {
                    z-index: 1;
                }
                @media (max-width: 767px) {
                    display: flex;
                    align-items: center;
                    padding-left: 16px;
                    > span {
                        position: static;
                        &:first-child {
                            margin-right: 16px;
                        }
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    background-color: #1A1C23 !important;
                    top: 0;
                    left: 0;
                    border-radius: 5px;
                    z-index: 1;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 101%;
                    height: 101%;
                    z-index: 0;
                    background-image: linear-gradient(to bottom, #42C6FF, #fff);
                    filter: blur(2px);
                    top: -.5%;
                    left: -.5%;
                    border-radius: 5px;
                    z-index: 0;
                }
            }
            .dg-home-filtropreco-img {
                width: 50px;
                height: 50px;
                background-position: center;
                background-repeat: no-repeat;
                img {
                    display: none;
                }
                &[data-img-ref="levemais"] {
                    background-image: url(../../img/bf/2023/home-extra/levemais.png);
                }
                &[data-img-ref="comprados"] {
                    background-image: url(../../img/bf/2023/home-extra/comprados.png);
                }
                &[data-img-ref="novos-produtos"] {
                    background-image: url(../../img/bf/2023/home-extra/novos-produtos.png);
                }
                &[data-img-ref="pdia"] {
                    background-image: url(../../img/bf/2023/home-extra/pdia.png);
                }
                &[data-img-ref="descontos"] {
                    background-image: url(../../img/bf/2023/home-extra/descontos.png);
                }
            }
        }

        .dg-header-logo {
            a {
                background-image: url(../../img/bf/2023/logo.png);
                background-position: center;
                @media (max-width: 991px) {
                    background-image: none;
                }
                img {
                    display: none;
                }
            }
        }

        .dg-header-topo {
            @media (max-width: 991px) {
                padding-top: 13px;
                background-image: url(../../img/bf/2023/logo.png);
                background-position: 48px -11px;
                background-repeat: no-repeat;
            }
            @media (max-width: 490px) {
                background-position: 41px 2px;
                background-repeat: no-repeat;
                background-size: 162px;
            }
            // @media (max-width: 425px) {
            //     background-size: 190px;
            // }
            // @media (max-width: 400px) {
            //     background-size: 180px;
            //     background-position: 35px 0;
            // }
        }

        .dg-produto-acoes-proibido-tel, .dg-produto-acoes-proibido-txt {
            color: #fff;
        }
        .dg-categoria-sidebar-listagem a img {
            background-color: #fff;
        }

        @media (max-width: 991px) {
            .dg-ProdutoisPodeComprar, .dg-ProdutoisPodeComprar2, .dg-ProdutoisProibido, .dg-ProdutoisProibido2 {
                .dg-produto-acoes-btns-compra {
                    box-shadow: none;
                    background-color: #000000;
                }
            }
            .dg-ProdutoisPodeComprarPromocao, .dg-ProdutoisPodeComprarPromocao2 {
                .dg-produto-acoes-btns {
                    box-shadow: none;
                    background-color: #000000;
                }
            }
            .dg-ProdutoisEsgotado, .dg-ProdutoisEsgotado2 {
                .dg-produto-acoes-aviseme {
                    box-shadow: none;
                    background-color: #000000;
                }
            }
            .dg-categoria-ordenacao-item {
                border-top-color: #666;
            }
            .dg-categoria-ordenacao-item {
                color: #ddd;
            }
        }

        @media (max-width: 767px) {
            .dg-produtos-abas-textos.dg-ativo .dg-produtos-abas-textos-wrapper {
                background-color: #20232D;
            }
            .dg-produtos-abas-textos.dg-ativo {
                background-color: rgba(0,0,0,0.7);
            }
        }

        .dg-countdown-wrapper .dg-countdown-tempo {
            @media (max-width: 575px) {
                margin-right: 23px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        form#formBuscaTopo::before {
            content: '';
            position: absolute;
            width: 100%;
            right: -2px;
            max-width: 425px;
            top: 28px;
            height: 54px;
            border-radius: 40px;
            background-image: linear-gradient(to right, #42C6FF, #fff);
            filter: blur(2px);
            @media (max-height: 680px) and (min-width: 992px) {
                top: 12px;
            }
            @media (max-width: 1279px) and (min-width: 992px) {
                max-width: 339px;
            }
            @media (max-width: 991px) {
                top: -2px;
                left: -.25%;
                width: 101%;
                height: 54px;
                max-width: 100.5%;
            }
        }
        
        .dg-header-logo {
            @media (min-width: 992px) {
                padding-top: 12px;
                a {
                    height: 90px;
                }
            }
            @media (max-height: 680px) and (min-width: 992px) {
                padding-top: 0;
            }
        }

        .dg-produto-acoes-modais-btn, .dg-produto-info-sp, .dg-produto-info-preco-parcelamento, .dg-produtos-abas-textos {
            color: #fff;
        }
        .dg-produto-info-fabricacao {
            h2 {
                font-style: italic;
                color: #6B6B7B;
                a {
                    font-style: normal;
                    color: #1EC765;
                }
            }
        }
    }  
}

.dg-header-logo {
    a {
        display: block;
        width: 244px;
        height: 46px;
        background-repeat: no-repeat;
        @media (max-width: 490px) {
            width: 162px;
            height: 30px;
            background-size: contain;
        }
        @media (min-width: 992px) and (max-width: 1279px) {
            width: 200px;
            background-position: center;
            background-size: 200px;
        }
    }
    @media (min-width: 992px) and (max-width: 1279px) {
        width: 200px;
    }
}


.dg-header {
    ~ .dg-modal-id-templateModalMudaTema {
        div.dg-modal-muda-tema {
            @media (max-width: 767px) and (min-width: 411px) {
                top: 23px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                top: 23px;
                margin-left: -279px;
            }
            @media (max-height: 680px) and (min-width: 992px) {
                top: 26px;
            }
            @media (min-height: 680px) and (min-width: 992px) {
                top: 37px;
            }
        }
        .dg-modal-fechar {
            @media (min-width: 768px) {
                top: 140px;
            }
            @media (max-width: 767px) and (min-width: 411px) {
                top: 115px;
            }
            @media (max-width: 459px) and (min-width: 411px) {
                right: 92px;
            }
        }
    }
    &.dg-tem-banner-mensagem-top ~ .dg-modal-id-templateModalMudaTema {
        div.dg-modal-muda-tema {
            @media (max-width: 767px) and (min-width: 411px) {
                top: 71px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                top: 71px;
                margin-left: -279px;
            }
            @media (max-height: 680px) and (min-width: 992px) {
                top: 74px;
            }
            @media (min-height: 680px) and (min-width: 992px) {
                top: 85px;
            }
        }
        .dg-modal-fechar {
            @media (min-width: 768px) {
                top: 188px;
            }
            @media (max-width: 767px) and (min-width: 411px) {
                top: 163px;
            }
            @media (max-width: 459px) and (min-width: 411px) {
                right: 140px;
            }
        }
    }
    @media (min-width: 992px) and (min-height: 721px) {
        &.dg-tem-banner-mensagem-top {
            ~ .dg-menuA {
                top: 203px;
            }
        }
    }
}

@media (min-width: 992px) {
    .dg-mascote-menu>a.dg-mascote-menu-item-chat {
        top: 93px;
        left: 1px;
    }
}

.dg-mascote-menu>a.dg-mascote-menu-item-evento {
    top: unset;
    bottom: -2px;
    left: 21px;
}

.dg-mascote-menu>a.dg-mascote-menu-item-busca {
    top: 6px;
    left: 61px;
    z-index: 5002 !important;
}

.dg-mascote-menu>a.dg-mascote-menu-item-telefone-desktop {
    top: 38px;
    left: 15px;
}


html[nao-tem-cronometro] {
    @media (max-width: 991px) {
        body {
            .dg-header-fix.dg-bannerMensagemTopo {
                margin-bottom: 50px;
            }
            .dg-header:not(.dg-tem-banner-mensagem-top) {
                ~ .dg-header-sac {
                    margin-top: -15px;
                }
                ~ .dg-header-fix {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

.dg-boxproduto-info .dg-evento-tag {
    display: block;
}