.dg-header-logo a {
    display: block;
    padding-top: 30px;
    background-image: url(../../img/anonovo/2023/logo.png);
    background-repeat: no-repeat;
    background-size: 167px
}

@media (min-width: 376px) {
    .dg-header-logo a {
        padding-top: 40px;
        background-size: 185px
    }
}

@media (max-width: 375px) {
    .dg-header-logo a {
        padding-top: 37px;
    }
}

@media (min-width: 992px) {
    .dg-header-logo a {
        padding-top: 46px;
        background-size: 244px
    }
}

.dg-header-logo a img {
    display: none
}

.dg-mascote-cabeca {
    background-image: url(../../img/anonovo/2023/mascote/cabeca.png)
}

.dg-mascote-borda-baixo {
    background-image: url(../../img/anonovo/2023/mascote/borda-baixo.png)
}
.dg-mascote-braco{
    background-image: url(../../img/anonovo/2023/mascote/braco.png)
}
.dg-mascote-corpo.dg-mascote-camisa {
    background-image: url(../../img/anonovo/2023/mascote/camisa.png)
}

.dg-mascote-corpo.dg-mascote-borda-cima {
    background-image: url(../../img/anonovo/2023/mascote/borda-cima.png)
}

.dg-mascote-corpo.dg-mascote-fundo {
    background-image: url(../../img/anonovo/2023/mascote/fundo.png)
}