@charset "UTF-8";
.dg-institucional-breadcrumb {
  display: block;
  font-size: 11px;
  color: #8B98A3;
  font-style: italic;
  margin-bottom: 20px;
}

.dg-institucional-breadcrumb a {
  color: #8B98A3;
}

.dg-institucional-breadcrumb li {
  display: inline-block;
  padding-right: 5px;
}

.dg-institucional-breadcrumb li:after {
  content: ">";
  padding-left: 5px;
  display: inline-block;
  position: relative;
  top: 1px;
}

.dg-institucional-breadcrumb li:last-child:after {
  display: none;
}

.dg-institucional {
  background: #fff;
  padding: 5px 30px 25px 30px;
  border-radius: 5px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #333333;
}

@media (max-width: 767px) {
  .dg-institucional {
    padding: 5px 15px 25px;
  }
}

.dg-institucional h1, .dg-institucional h2, .dg-institucional h3, .dg-institucional h4, .dg-institucional h5, .dg-institucional h6 {
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  color: #FF3141;
}

.dg-institucional p {
  margin-bottom: 10px;
}

.dg-institucional p strong {
  font-weight: 600;
}

.dg-institucional a {
  color: #FF3141;
  text-decoration: underline;
}

.dg-institucional a:hover, .dg-institucional a:focus {
  color: #ca0010;
  text-decoration: none;
}

.dg-institucional .dg-institucional-titulo {
  border-bottom: 1px solid #E4E5EC;
  padding-bottom: 8px;
  margin-bottom: 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .dg-institucional .dg-institucional-titulo {
    font-size: 20px;
  }
}

.dg-institucional .dg-institucional-titulo strong {
  font-weight: 600;
}

.dg-institucional > ul {
  padding-left: 30px;
  margin-bottom: 20px;
}

.dg-institucional > ul > li {
  list-style: disc;
}

.dg-institucional > ul > li ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

.dg-institucional > ul > li ul li {
  list-style: circle;
}

.dg-institucional > nav ul {
  margin-bottom: 20px;
}

.dg-institucional > nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  padding-left: 20px;
}

.dg-institucional > nav ul li a:hover, .dg-institucional > nav ul li a:focus {
  color: #FF3141;
}

.dg-institucional table {
  font-size: 13px;
  margin-bottom: 30px;
}

.dg-institucional table th {
  background-color: #222a35;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 10px 15px;
  border: 1px solid #404f64;
}

.dg-institucional table td {
  border: 1px solid #ddd;
  padding: 10px 15px;
}

@media (max-width: 991px) {
  .dg-institucional table td, .dg-institucional table th {
    padding: 8px;
    font-size: 12px;
    vertical-align: middle;
  }
}

@media (max-width: 991px) {
  .dg-institucional-table {
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 575px) {
  .dg-institucional a {
    word-break: break-word;
  }
}

.dg-table-customizada strong {
  font-weight: 600;
  color: #0a4784;
}

.dg-table-customizada ul li {
  margin-bottom: 4px;
}

.dg-table-customizada ul li:last-child {
  margin-bottom: 0;
}

.dg-institucional-nossaslojas-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}

.dg-institucional-nossaslojas-wrapper > img {
  width: 50%;
}

@media (min-width: 992px) {
  .dg-institucional-nossaslojas-wrapper > img {
    border-radius: 40px 0 0 40px;
  }
}

@media (max-width: 991px) {
  .dg-institucional-nossaslojas-wrapper > img {
    width: 100%;
    border-radius: 40px;
    margin-bottom: 10px;
  }
}

.dg-institucional-nossaslojas-map {
  width: 50%;
}

@media (max-width: 991px) {
  .dg-institucional-nossaslojas-map {
    width: 100%;
    border-radius: 40px;
  }
}

.dg-institucional-nossaslojas-map div[role="dialog"] {
  max-width: 215px !important;
}

@media (min-width: 992px) and (max-width: 1279px) {
  .dg-institucional-nossaslojas-map {
    height: 195px !important;
  }
}

@media (max-width: 991px) {
  .dg-institucional-nossaslojas-map {
    height: auto !important;
    padding-top: 56.25%;
  }
}

.dg-institucional-nossaslojas-item + .dg-institucional-nossaslojas-item {
  border-top: 1px solid #ededed;
  margin-top: 30px;
}

.dg-institucional-nossahistoria .dg-img {
  mix-blend-mode: multiply;
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: 992px) {
  .dg-institucional-nossahistoria {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .dg-institucional-nossahistoria .dg-txt {
    width: 70%;
    padding-left: 30px;
    padding-top: 50px;
  }
  .dg-institucional-nossahistoria .dg-img {
    width: 30%;
    text-align: left;
  }
}

@media (max-height: 740px) and (min-width: 992px) {
  .dg-institucional-nossahistoria .dg-img {
    width: 20%;
  }
  .dg-institucional-nossahistoria .dg-txt {
    width: 80%;
  }
}

@media (max-width: 991px) {
  .dg-institucional-nossahistoria .dg-img {
    width: 50%;
    margin: 0 auto 10px;
  }
}

.dg-institucional-mapa-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  text-decoration: none;
}

.dg-institucional-mapa-row .dg-institucional-mapa-item {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 992px) {
  .dg-institucional-mapa-row .dg-institucional-mapa-item {
    width: 33.333%;
  }
}

@media (max-width: 991px) {
  .dg-institucional-mapa-row .dg-institucional-mapa-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .dg-institucional-mapa-row .dg-institucional-mapa-item {
    width: 100%;
  }
}

.dg-institucional-mapa-row .dg-institucional-mapa-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 250px;
  height: 100%;
  font-size: 12px;
  color: #6B6B7B;
  padding: 10px 20px;
  background-color: #f5f7f9;
}

.dg-institucional-mapa-row .dg-institucional-mapa-card strong {
  color: #094684;
}

@media (max-width: 767px) {
  .dg-institucional-mapa-row .dg-institucional-mapa-card {
    max-height: 300px;
  }
}

.dg-institucional-mapa-row a {
  text-decoration: none;
}

.dg-institucional-mapa-row .dg-institucional-mapa-lista {
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dg-institucional-mapa-row .dg-institucional-mapa-lista a {
  color: #6B6B7B;
}

.dg-institucional-mapa-row .dg-institucional-mapa-lista a:hover {
  text-decoration: underline;
}

.dg-institucional-mapa-row .dg-institucional-mapa-lista::-webkit-scrollbar {
  width: 7px;
}

.dg-institucional-mapa-row .dg-institucional-mapa-lista::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 10px;
  outline: none;
}

.dg-institucional-mapa-row .dg-institucional-mapa-lista::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #e5e5e5;
}

.dg-institucional-nuvem-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -5px;
}

.dg-institucional-nuvem-item {
  margin-top: 5px;
  margin-right: 2px;
}

.dg-institucional-nuvem-item a {
  display: inline-block;
  background: #eff2f5;
  border: 1px solid #eff2f5;
  border-radius: 12px;
  color: #848484;
  font-size: 12px;
  height: 24px;
  line-height: 22px;
  text-decoration: none;
  padding: 0 18px;
}

.dg-relative {
  position: relative;
}

.dg-institucional-trabalheconosco h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 32px;
  margin-bottom: 0;
}

.dg-institucional-trabalheconosco [data-campo-para-mostrar] {
  display: none;
}

@media (min-width: 992px) {
  .dg-institucional-trabalheconosco .jsNotPrimeiroEmprego:not(.dg-hide) ~ .dg-form-parente-dne {
    width: 50%;
  }
}

.dg-institucional-trabalheconosco .dg-form-radio-inline {
  margin-bottom: 10px;
}

.dg-institucional-trabalheconosco .dg-form-radio-inline:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .dg-institucional-trabalheconosco .dg-form-radio-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dg-institucional-trabalheconosco .dg-form-radio-inline__wrapper {
    margin-left: auto;
  }
}

.dg-institucional-trabalheconosco .dg-form-radio-inline__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dg-institucional-trabalheconosco .dg-form-radio-inline__field {
  margin-right: 12px;
}

.dg-institucional-trabalheconosco .dg-form-radio-inline__field:last-child {
  margin-right: 0;
}

.dg-institucional-trabalheconosco form a {
  text-decoration: none;
  color: #fff;
}

.dg-institucional-trabalheconosco form a:hover {
  text-decoration: none;
  color: #fff;
}

.dg-institucional-trabalheconosco form input::-webkit-input-placeholder {
  /* Edge */
  font-size: 12px !important;
}

.dg-institucional-trabalheconosco form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 12px !important;
}

.dg-institucional-trabalheconosco form input::-ms-input-placeholder {
  font-size: 12px !important;
}

.dg-institucional-trabalheconosco form input::placeholder {
  font-size: 12px !important;
}

@media (min-width: 992px) {
  .dg-institucional-trabalheconosco .dg-radio ~ .dg-radio {
    margin-top: 32px;
  }
}

.dg-institucional-trabalheconosco .dg-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control {
  position: relative;
  width: 33.333%;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 992px) {
  .dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control {
    width: 33.333%;
  }
}

@media (max-width: 991px) {
  .dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control--half {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control--half {
    width: 100%;
  }
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control .dg-input:focus ~ .dg-label, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control .dg-input.dg-ativo ~ .dg-label {
  padding-top: 7px;
  font-size: 10px;
  color: #707D88;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control--full {
  width: 100%;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control--footer {
  width: 100%;
  text-align: right;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control--footer .dg-btn {
  height: 45px;
  padding: 4px 16px;
  border-radius: 23px;
  text-align: center;
  outline: none;
  background-color: #094684;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  z-index: 12;
  -webkit-transition: 300ms ease background-color;
  transition: 300ms ease background-color;
}

@media (max-width: 991px) {
  .dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control--footer .dg-btn {
    width: 100%;
  }
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control--hide {
  display: none;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-control--hide.show {
  display: block;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-select, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-input, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-textarea {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  border-radius: 10px;
  -webkit-transition: 300ms ease border-color;
  transition: 300ms ease border-color;
  cursor: pointer;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-select ~ .dg-label, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-input ~ .dg-label, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-textarea ~ .dg-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  font-size: 13px;
  color: #707D88;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  background-color: #E4E7ED;
  border-radius: 10px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-select:hover ~ label, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-input:hover ~ label, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-textarea:hover ~ label {
  background: #c5ccd9;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-select, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-input {
  height: 45px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-select, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-textarea {
  background-color: #E4E7ED;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-select:focus {
  outline: none;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-select:not([multiple]) {
  padding-top: 8px;
  background: transparent url(../img/select-vermelho.png) no-repeat top right;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-select:not([multiple]) + label {
  font-size: 10px;
  padding-top: 7px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-textarea {
  padding-top: 10px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-select[multiple] {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 992px) {
  .dg-institucional-trabalheconosco .dg-form-wrapper .dg-select[multiple] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 209px;
  }
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-input {
  padding-top: 16px;
  padding-left: 25px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-input:-webkit-autofill, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-input:-webkit-autofill:hover, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-input:-webkit-autofill:focus, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-input:-webkit-autofill:active {
  -webkit-transition: background-color 0s ease-in-out 99999s, color 0s ease-in-out 99999s;
  transition: background-color 0s ease-in-out 99999s, color 0s ease-in-out 99999s;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-form-last-input {
  margin-top: 4px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper .dg-common-label {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper fieldset {
  padding: 10px;
  margin: 0;
  border: 2px solid #eef2f5;
  border-radius: 10px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper fieldset select, .dg-institucional-trabalheconosco .dg-form-wrapper fieldset input {
  margin-bottom: 10px;
}

.dg-institucional-trabalheconosco .dg-form-wrapper fieldset legend {
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.dg-institucional-trabalheconosco .dg-form-wrapper fieldset .dg-common-label {
  padding-left: 25px;
  padding-bottom: 4px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .dg-institucional-trabalheconosco .dg-form-wrapper fieldset .dg-input ~ .dg-label {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
  }
}

@media (max-width: 386px) {
  .dg-institucional-trabalheconosco .dg-form-wrapper fieldset .dg-input ~ .dg-label-facebook {
    font-size: 7.95pt;
  }
}

.dg-institucional-trabalheconosco .dg-label--push {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 4px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

label + .dg-erroForm {
  top: 20px;
}

label + .dg-erroForm + textarea {
  border: 2px solid red;
}

.dg-radio + .dg-form-last-input {
  margin-bottom: 20px;
}

.dg-radio label .dg-erroForm {
  top: 20px;
}

.dg-radio div {
  position: relative;
}

.dg-radio label {
  position: relative;
  padding-left: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.dg-radio label:before {
  content: " ";
  width: 14px;
  height: 14px;
  border: 3px solid #777;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.dg-radio label:after {
  content: " ";
  width: 4px;
  height: 4px;
  background: transparent;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
}

.dg-radio input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.dg-radio input:checked + label:before {
  border: 3px solid #FA3447;
}

.dg-radio input:checked + label:after {
  background: #FA3447;
}

.dg-institucional-trabalheconosco .dg-institucional-titulo ~ p {
  margin-bottom: 5px;
}

.dg-institucional-trabalheconosco .dg-institucional-titulo + p {
  margin-bottom: 0;
}

.panel-section .dg-relative:last-child input {
  margin-bottom: 0;
}

.is-loading::before {
  content: '';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-image: url(../img/institucional/loading.svg);
  z-index: 1;
}

#FormTrabalheConosco .dg-erroForm:focus {
  color: #fff;
}

#FormTrabalheConosco .dg-radio .dg-erroForm {
  top: -4px;
}

#FormTrabalheConosco .dg-form-label-aceitar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 670px;
  text-align: left;
  font-size: 12px;
  margin-bottom: 12px;
  padding-right: 20px;
}

#FormTrabalheConosco .dg-form-label-aceitar input {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 4px;
}

#FormTrabalheConosco #EnviarTrabalhe {
  background-color: #888;
  cursor: not-allowed;
}

#FormTrabalheConosco .dg-form-control--footer-captcha.btn-visivel #EnviarTrabalhe {
  background-color: #094684;
  cursor: pointer;
}

#FormTrabalheConosco .dg-form-control--escolaridade .dg-radio .dg-erroForm {
  max-width: none;
}

@media (min-width: 992px) {
  #FormTrabalheConosco .dg-form-control--escolaridade .dg-radio .dg-erroForm {
    top: -36px;
    width: 159px;
    right: -100px;
  }
}

@media (max-width: 991px) {
  #FormTrabalheConosco .dg-form-control--escolaridade .dg-radio .dg-erroForm {
    top: -65px;
    width: 109px;
    right: -200px;
  }
}

@media (max-width: 479px) {
  .dg-Trabalhe-recaptcha, .dg-central-recaptcha, .dg-avise-recaptcha {
    -webkit-transform: scale(0.77);
            transform: scale(0.77);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .dg-Trabalhe-recaptcha, .dg-central-recaptcha, .dg-avise-recaptcha {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .dg-Trabalhe-recaptcha, .dg-central-recaptcha, .dg-avise-recaptcha {
    margin-left: auto;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .dg-Trabalhe-recaptcha > div, .dg-central-recaptcha > div, .dg-avise-recaptcha > div {
    margin: 0 auto;
  }
}

.dg-institucional-trabalheconosco .dg-form-control--footer.dg-form-control--footer-captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .dg-institucional-trabalheconosco .dg-form-control--footer.dg-form-control--footer-captcha {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .dg-institucional-trabalheconosco {
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .dg-institucional-trabalheconosco .dg-form-wrapper fieldset.panel-section {
    padding-left: 0;
    padding-right: 0;
  }
}

.dg-form-two-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dg-form-two-fields .dg-relative {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dg-form-two-fields .dg-segregate-text {
  width: 60px;
  text-align: center;
}

.dg-institucional-atendimento-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .dg-institucional-atendimento-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.dg-institucional-atendimento-row h2 {
  margin-top: 50px;
  font-size: 24px;
  line-height: 1;
  color: #094684;
}

@media (max-width: 767px) {
  .dg-institucional-atendimento-row h2 {
    margin-top: 16px;
  }
}

.dg-institucional-atendimento-row h3 {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .dg-institucional-atendimento-row > div h2 {
    margin-top: 30px;
  }
}

.dg-institucional-atendimento-row .dg-form-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #E4E7ED;
}

@media (min-width: 992px) {
  .dg-institucional-atendimento-row .dg-form-wrapper {
    margin-left: 24px;
  }
}

@media (max-width: 991px) {
  .dg-institucional-atendimento-row .dg-form-wrapper {
    padding: 16px;
  }
}

.dg-institucional-atendimento-row .dg-form-wrapper h2 {
  margin-top: 0;
  margin-bottom: 24px;
}

.dg-institucional-atendimento-row form a {
  text-decoration: none;
  color: #fff;
}

.dg-institucional-atendimento-row form a:hover {
  text-decoration: none;
  color: #fff;
}

.dg-institucional-atendimento-row form input, .dg-institucional-atendimento-row form select, .dg-institucional-atendimento-row form textarea {
  width: 100%;
}

.dg-institucional-atendimento-row .dg-form-control {
  margin-bottom: 20px;
}

.dg-institucional-atendimento-row .dg-form-control--footer {
  width: 100%;
  text-align: right;
}

.dg-institucional-atendimento-row .dg-form-control--footer-captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .dg-institucional-atendimento-row .dg-form-control--footer-captcha {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dg-institucional-atendimento-row .dg-form-control--footer .dg-btn {
  height: 45px;
  padding: 4px 16px;
  border-radius: 23px;
  text-align: center;
  outline: none;
  background-color: #094684;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  z-index: 12;
  -webkit-transition: 300ms ease background-color;
  transition: 300ms ease background-color;
}

.dg-institucional-atendimento-row .dg-select, .dg-institucional-atendimento-row .dg-input, .dg-institucional-atendimento-row .dg-textarea {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  border-radius: 10px;
  -webkit-transition: 300ms ease border-color;
  transition: 300ms ease border-color;
}

.dg-institucional-atendimento-row .dg-select ~ .dg-label, .dg-institucional-atendimento-row .dg-input ~ .dg-label, .dg-institucional-atendimento-row .dg-textarea ~ .dg-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  font-size: 13px;
  color: #999999;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  background-color: #E4E7ED;
  border-radius: 10px;
}

.dg-institucional-atendimento-row .dg-input:focus ~ .dg-label, .dg-institucional-atendimento-row .dg-input.dg-ativo ~ .dg-label {
  padding-top: 4px;
  font-size: 11px;
  color: #707D88;
}

.dg-institucional-atendimento-row .dg-select, .dg-institucional-atendimento-row .dg-input {
  height: 45px;
}

.dg-institucional-atendimento-row .dg-select, .dg-institucional-atendimento-row .dg-textarea {
  background-color: #E4E7ED;
}

.dg-institucional-atendimento-row .dg-textarea {
  padding-top: 10px;
}

.dg-institucional-atendimento-row .dg-select {
  z-index: 1;
  background: transparent url(../img/select-vermelho.png) no-repeat top right 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 10px;
  z-index: 2;
  height: 45px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #333;
  font-size: 13px;
  padding-top: 15px;
  padding-left: 4px;
  padding-right: 20px;
  padding-left: 19px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  width: 100%;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}

.dg-institucional-atendimento-row .dg-select + label {
  position: relative;
  z-index: 1;
  background: #E4E7ED;
  height: 45px;
  border-radius: 10px;
  margin-bottom: 25px;
  color: #707D88;
  font-size: 13px;
  padding: 13px 10px 0px 20px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  font-size: 10px;
  padding-top: 7px;
}

@media (min-width: 992px) {
  .dg-institucional-atendimento-row .dg-select {
    left: 0;
    height: 44px;
  }
}

.dg-institucional-atendimento-row .dg-erroForm.dg-ativo + .dg-select {
  padding-left: 17px;
}

.dg-institucional-atendimento-row .dg-select[multiple] {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 992px) {
  .dg-institucional-atendimento-row .dg-select[multiple] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100px;
  }
}

.dg-institucional-atendimento-row .dg-input {
  padding-top: 16px;
  padding-left: 25px;
}

.dg-institucional-atendimento-row .dg-input:-webkit-autofill, .dg-institucional-atendimento-row .dg-input:-webkit-autofill:hover, .dg-institucional-atendimento-row .dg-input:-webkit-autofill:focus, .dg-institucional-atendimento-row .dg-input:-webkit-autofill:active {
  -webkit-transition: background-color 0s ease-in-out 99999s, color 0s ease-in-out 99999s;
  transition: background-color 0s ease-in-out 99999s, color 0s ease-in-out 99999s;
}

.dg-institucional-atendimento-row .dg-common-label {
  font-size: 13px;
  color: #7699A8;
}

.dg-institucional-atendimento-row textarea:focus {
  outline: none;
}

.dg-institucional-atendimento-row .mensagem-anexo {
  padding: 4px 8px;
  background: #505d6d;
  color: #fff;
  border-radius: 7px;
  margin-top: 4px;
  font-size: 12px;
  float: left;
  display: block;
  margin-bottom: 20px;
}

.dg-institucional-atendimento-row .mensagem-anexo:empty {
  display: none;
}

label + .dg-erroForm {
  top: 8px;
}

label + .dg-erroForm + textarea {
  border: 2px solid red;
}

.dg-institucional-atendimento-row > div {
  word-break: break-word;
}

.dg-institucional-atendimento-row .dg-form-control {
  clear: both;
}

@media (max-width: 991px) {
  .dg-institucional .dg-institucional-atendimento-row p {
    font-size: 8.85pt;
  }
}

.dg-institucional-mapa-bloco {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.dg-institucional-mapa-bloco h2 {
  margin-top: 35px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 25px;
  color: #333;
}

.dg-institucional-mapa-bloco h2 b {
  font-weight: bold;
}

.dg-institucional-pl .dg-institucional-titulo {
  height: 310px;
  padding: 24px;
  margin-top: 20px;
  background-image: url("../img/institucional/programas-laboratorios/topo.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

@media (max-width: 767px) {
  .dg-institucional-pl .dg-institucional-titulo {
    padding: 16px;
    height: auto;
    background-image: none;
    background-color: #152435;
  }
}

.dg-institucional-pl .dg-institucional-titulo h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 20px 0 50px;
  max-width: 430px;
  padding-bottom: 30px;
  padding-top: 24px;
  position: relative;
  color: #fff;
}

@media (max-width: 767px) {
  .dg-institucional-pl .dg-institucional-titulo h1 {
    padding-top: 0;
    margin: 0;
    font-size: 24px;
  }
}

.dg-institucional-pl .dg-institucional-titulo h1:before {
  background-color: #ef3443;
  border-radius: 10px;
  bottom: 0;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  width: 100px;
}

.dg-institucional-pl .dg-institucional-titulo p {
  font-size: 14px;
  margin-top: 35px;
  max-width: 640px;
  padding-left: 50px;
  padding-right: 30px;
  position: relative;
}

@media (max-width: 767px) {
  .dg-institucional-pl .dg-institucional-titulo p {
    padding-left: 0;
  }
}

.dg-institucional-pl .dg-text-center {
  text-align: center;
}

.dg-institucional-pl .dg-texto-comum {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 930px;
}

.dg-institucional-pl .dg-participantes-row, .dg-institucional-pl .dg-comprar-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.dg-institucional-pl .dg-comprar-item {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}

@media (max-width: 991px) {
  .dg-institucional-pl .dg-comprar-item {
    width: 100%;
  }
}

.dg-institucional-pl .dg-comprar-item .dg-green {
  color: #5bc210;
}

.dg-institucional-pl .dg-comprar-item-card {
  height: 100%;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 20px 30px;
}

.dg-institucional-pl .dg-comprar-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  color: #595959;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
  min-height: 75px;
  padding-bottom: 10px;
  position: relative;
}

.dg-institucional-pl .dg-comprar-item-header::before {
  content: attr(data-position) "º";
  background: #ef3443;
  margin-right: 12px;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  height: 45px;
  left: 0;
  line-height: 45px;
  text-align: center;
  width: 45px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.dg-institucional-pl h2 {
  margin-top: 50px;
  font-size: 24px;
}

.dg-institucional-pl .dg-participantes h2 {
  margin-top: 50px;
}

.dg-institucional-pl .dg-participantes .dg-participantes-item {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
  text-align: center;
}

@media (max-width: 767px) {
  .dg-institucional-pl .dg-participantes .dg-participantes-item {
    width: 50%;
  }
}

.dg-institucional-pl .dg-participantes .dg-participantes-item a {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  display: block;
  padding: 10px;
  font-size: 12px;
  color: #999;
  text-decoration: none;
}

.dg-institucional-pl .dg-participantes .dg-participantes-item img {
  max-height: 80px;
}

.dg-institucional-pl .dg-participantes .dg-participantes-item .dg-img {
  height: 80px;
  line-height: 80px;
}

.dg-institucional-pl .dg-perguntas-list {
  background: #0e3d90;
  background: -webkit-gradient(linear, left bottom, left top, from(#0e3d90), to(#3a63ae));
  background: linear-gradient(0deg, #0e3d90, #3a63ae);
  border-radius: 5px;
  -webkit-box-shadow: 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.dg-institucional-pl .dg-perguntas-list .dg-perguntas-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 30px;
  text-align: center;
}

@media (min-width: 992px) {
  .dg-institucional-pl .dg-perguntas-list .dg-perguntas-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 30px 25px 0;
  }
}

.dg-institucional-pl .dg-perguntas-list .dg-img {
  padding: 0 70px;
}

.dg-institucional-pl .dg-perguntas-list .dg-titulo {
  font-size: 18px;
  margin-bottom: 10px;
  padding-top: 0;
  text-align: left;
  color: #fff;
}

.dg-institucional-pl .dg-perguntas-list .dg-txt {
  font-size: 16px;
  text-align: left;
}

.dg-institucional-pl .dg-perguntas-titulo {
  margin-bottom: 20px;
}

.dg-institucional-pl .dg-conteudo {
  line-height: 1.25;
}

.dg-institucional-comocomprar {
  overflow: hidden;
}

.dg-institucional-comocomprar-abas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .dg-institucional-comocomprar-abas {
    margin-bottom: 0;
  }
}

.dg-institucional-comocomprar-aba {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 991px) {
  .dg-institucional-comocomprar-aba {
    -webkit-box-flex: 33.3333%;
        -ms-flex: 33.3333%;
            flex: 33.3333%;
  }
}

@media (max-width: 767px) {
  .dg-institucional-comocomprar-aba {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media (max-width: 500px) {
  .dg-institucional-comocomprar-aba {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.dg-institucional-comocomprar-aba a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 10px;
  border: 1px dotted #ddd;
  height: 55px;
  text-align: center;
  color: #999;
  text-decoration: none;
}

.dg-institucional-comocomprar-aba a strong {
  color: #3a63ae;
}

.dg-institucional-comocomprar-aba a:focus, .dg-institucional-comocomprar-aba a:hover {
  color: #999;
}

.dg-institucional-comocomprar-aba a:focus {
  outline: 1px solid #ccc;
}

.dg-institucional-comocomprar-aba a.dg-ativo {
  color: #333;
  background-color: #eee;
}

.dg-institucional-comocomprar-aba a.dg-ativo:hover, .dg-institucional-comocomprar-aba a.dg-ativo:focus {
  color: #333;
}

.dg-institucional-comocomprar-aba a strong {
  display: inline-block;
  margin-right: 4px;
}

.dg-institucional-comocomprar-textos-wrapper {
  position: relative;
  min-height: 340px;
}

.dg-institucional-comocomprar-textos {
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.33s left cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.33s left cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 992px) {
  .dg-institucional-comocomprar-textos {
    position: absolute;
  }
}

.dg-institucional-comocomprar-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 767px) {
  .dg-institucional-comocomprar-texto {
    display: block;
  }
}

.dg-institucional-comocomprar-texto div {
  padding-top: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dg-institucional-comocomprar-texto img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 450px;
}

@media (max-width: 767px) {
  .dg-institucional-comocomprar-texto img {
    max-width: 100%;
  }
}

.dg-institucional-comocomprar-texto p {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

a.dg-institucional-comocomprar-btntrocar {
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  line-height: 22px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 0 18px;
  text-decoration: none;
  background-color: #1ec765;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

a.dg-institucional-comocomprar-btntrocar:hover, a.dg-institucional-comocomprar-btntrocar:focus {
  color: #fff;
  background-color: #1bb15a;
}

a.dg-institucional-comocomprar-btntrocar.dg-jsComoComprarAbaAnterior {
  background-color: #36404b;
}

a.dg-institucional-comocomprar-btntrocar.dg-jsComoComprarAbaAnterior:hover, a.dg-institucional-comocomprar-btntrocar.dg-jsComoComprarAbaAnterior:focus {
  background-color: #2b333c;
}

input, select, textarea {
  -webkit-transition: background 5000s ease-in-out 0s;
  transition: background 5000s ease-in-out 0s;
}

.dg-header-busca-input {
  -webkit-transition: none !important;
  transition: none !important;
}

.dg-institucional-atendimento-row .dg-select, .dg-institucional-atendimento-row .dg-input, .dg-institucional-atendimento-row .dg-textarea, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-select, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-input, .dg-institucional-trabalheconosco .dg-form-wrapper .dg-textarea, .dg-footer-news-input {
  -webkit-transition: 300ms ease border-color, background 5000s ease-in-out 0s;
  transition: 300ms ease border-color, background 5000s ease-in-out 0s;
}
/*# sourceMappingURL=Institucional.css.map */