.dg-slide-event, .dg-header-luz {
  display: block;
}

.dg-tem-banner-mensagem-top ~ .dg-mascote-loja .dg-mascote-menu {
  top: -29px;
  left: -27px;
}

.dg-hide-event {
  display: none;
}

.dg-mascote-menu-item-mudatema {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.dg-categoria-sidebar-listagem a img {
  padding: 2px;
  border-radius: 12px;
}

.container-mensagem-top {
  width: 100%;
  padding: 0;
}

.container-mensagem-top a {
  border-radius: 0;
}

.dg-modal-mascote-avisa-evento {
  right: 190px;
  bottom: -27px;
  width: 566px;
  border: 0;
  padding: 0;
  border-radius: 30px;
}

.dg-modal-mascote-avisa-evento::after {
  content: '';
  right: -40px;
  top: unset;
  bottom: 30px;
}

.dg-modal-mascote-avisa-evento__header {
  position: relative;
  border-radius: 30px;
  padding: 15px 34px 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.dg-modal-mascote-avisa-evento__header .dg-relative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 1;
  background-color: #91a4ba;
}

.dg-modal-mascote-avisa-evento__header::after {
  content: '';
  position: absolute;
  top: .5%;
  left: .3%;
  width: 99.4%;
  height: 98%;
  border-radius: 30px;
  background-color: #91a4ba;
}

.dg-modal-mascote-avisa-evento__header .dg-countdown-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.dg-modal-mascote-avisa-evento__header .dg-countdown-wrapper .dg-countdown-title {
  margin-right: 24px;
  margin-bottom: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-top: 10px;
  color: #fff;
}

.dg-modal-mascote-avisa-evento__header .dg-countdown-wrapper .dg-countdown-tempo {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.dg-modal-mascote-avisa-evento__header .dg-countdown-wrapper .dg-countdown-tempo:last-child {
  margin-right: 0;
}

.dg-modal-mascote-avisa-evento__header .dg-countdown-wrapper .dg-countdown-tempo::after {
  left: 0;
  top: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.dg-modal-mascote-avisa-evento__body {
  padding: 25px 34px 22px;
}

.dg-modal-mascote-avisa-evento__body h4 {
  font-size: 12px;
}

.dg-modal-mascote-avisa-evento__body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  font-weight: 600;
  font-size: 12px;
}

.dg-modal-mascote-avisa-evento__body-footer a {
  display: block;
  text-decoration: none;
  width: 126px;
  height: 38px;
  border-radius: 15px;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #0e3d90;
}

.dg-modal-mascote-avisa-evento__body-footer a:hover {
  background-color: #0c3379;
}

.dg-modal-mascote-avisa-evento__body-footer__icone {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../../img/bf/2023/truck-fast-blue.svg);
  vertical-align: middle;
  margin-right: 8px;
}

.dg-home-produtos, .dg-produto-compre-tambem {
  margin-right: -20px;
}

.dg-home-produtos .tns-ovh, .dg-produto-compre-tambem .tns-ovh {
  overflow: hidden;
  margin: 0px -21px 0px 0px !important;
  padding-right: 19px;
}

.dg-home-produtos .tns-outer, .dg-produto-compre-tambem .tns-outer {
  padding-right: 20px !important;
}

.dg-home-produtos .dg-home-produtos-vermais, .dg-produto-compre-tambem .dg-home-produtos-vermais {
  margin-right: 20px;
}

.dg-home-produtos .tns-controls button[data-controls="next"], .dg-produto-compre-tambem .tns-controls button[data-controls="next"] {
  right: 10px;
}

.dg-evento-tag {
  width: 142px;
  height: 58px;
  position: absolute;
  bottom: unset;
  top: 21px;
  right: -14px;
  z-index: 20;
}

.dg-evento-tag ~ .dg-boxproduto-tags, .dg-evento-tag ~ .dg-produto-tags {
  top: 71px;
}

.dg-evento-tag__image {
  position: relative;
  background-image: url(../../img/bf/2023/selo-bf.png);
  height: 100%;
  width: 100%;
  z-index: 1;
  background-position: right;
  margin-left: auto;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

.dg-evento-tag__texto {
  position: absolute;
  overflow: hidden;
  color: #fff;
  font-size: 9px;
  height: 44px;
  background-color: #ff3141;
  border-radius: 30px 0 0 30px;
  top: 0;
  left: 0;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  padding: 7px 0 7px 19px;
  line-height: 1.125;
  width: 141px;
}

.dg-evento-tag:hover .dg-evento-tag__image {
  width: 90%;
}

.dg-evento-tag:hover .dg-evento-tag__texto {
  left: -125px;
  width: 147px;
}

.dg-conteudounico-header {
  margin-top: 0;
  height: 38px;
  padding: 0 12px;
}

.dg-conteudounico-header__icone {
  width: 24px;
  height: 24px;
}

.dg-header.dg-tem-banner-mensagem-top {
  border-top: 0;
}

@media (max-width: 520px) {
  .dg-categoria .dg-evento-tag {
    top: 4px;
    right: -11px;
  }
  .dg-categoria .dg-evento-tag__image {
    height: 45px;
    background-size: 110px;
    background-repeat: no-repeat;
  }
  .dg-categoria .dg-evento-tag ~ .dg-boxproduto-tags, .dg-categoria .dg-evento-tag ~ .dg-produto-tags {
    top: 42px !important;
  }
  .dg-categoria .dg-evento-tag__texto {
    display: none;
  }
  .dg-categoria .dg-boxproduto-lista {
    overflow: unset;
  }
}

@media (max-width: 430px) {
  .dg-categoria .dg-boxproduto-subacoes {
    left: 10px;
    top: 15px;
  }
  .dg-categoria .dg-boxproduto-subacoes a, .dg-categoria .dg-boxproduto-subacoes .dg-produto-img-subacoes a {
    width: 28px;
  }
  .dg-categoria .dg-boxproduto-tags {
    top: 15px;
  }
}

@media (max-width: 991px) {
  .dg-header-sac {
    margin: 50px 0 10px;
  }
}

.dg-mascote-menu > a.dg-mascote-menu-item-evento {
  left: 82px;
}

.dg-mascote-menu > a.dg-mascote-menu-item-evento .dg-mascote-menu-item-evento__icone {
  background-image: url(../../img/bf/2023/mascote/fogo-vermelho.svg);
}

.dg-mascote-menu > a.dg-mascote-menu-item-evento .dg-mascote-menu-item-evento__texto::before {
  content: 'Sobre a Mega Black';
}

.dg-produto-acoes-btns-compra-qtd-input {
  -webkit-transition: none;
  transition: none;
}

.dg-modal-id-templateModalMudaTema .modalFadeInUp {
  -webkit-animation: none;
          animation: none;
}

.dg-modal-id-templateModalMudaTema div {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dg-modal-id-templateModalMudaTema div.dg-modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.dg-modal-id-templateModalMudaTema .dg-modal-fechar {
  position: fixed;
  top: 140px;
  left: 50%;
  margin-left: 310px;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../img/bf/2023/fechar-modal.svg);
}

@media (min-width: 992px) and (max-width: 1279px) {
  .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    margin-left: 230px;
  }
}

@media (max-width: 991px) {
  .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    margin-left: 206px;
  }
}

@media (max-width: 767px) {
  .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    top: 115px;
    left: unset;
    right: 120px;
  }
}

@media (max-width: 459px) {
  .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    right: 40px;
  }
}

@media (max-width: 410px) {
  .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    top: unset;
    bottom: 240px;
  }
}

.dg-modal-id-templateModalMudaTema div.dg-modal-container {
  position: relative;
  width: 569px;
}

@media (max-width: 767px) {
  .dg-modal-id-templateModalMudaTema div.dg-modal-container {
    width: 359px;
  }
}

.dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
  position: fixed;
  top: 26px;
  left: 50%;
  width: 569px;
  height: 370px;
  margin-left: -174px;
  font-size: 18px;
  font-weight: 600;
  color: #707D88;
  background-image: url(../../img/bf/2023/header-luz.png), url(../../img/bf/2023/lampada.svg);
  background-repeat: no-repeat;
  background-position: bottom center, top right 56px;
}

@media (max-width: 767px) {
  .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 23px;
    left: unset;
    right: 83px;
    margin-left: 0;
    width: 359px;
    height: 262px;
    background-image: url(../../img/bf/2023/header-luz-mobile.png), url(../../img/bf/2023/lampada.svg);
    background-repeat: no-repeat;
    background-position: bottom center, top right 56px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 23px;
    margin-left: -279px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    margin-left: -254px;
  }
}

@media (max-width: 459px) {
  .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    right: 100px;
    background-position: bottom center, top right 39px;
  }
}

@media (max-width: 410px) {
  .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: unset;
    bottom: 0;
    right: 0;
    background-position: top center, 94.55% 91.55%;
    background-image: url(../../img/bf/2023/header-luz-mobile-invertido.png), url(../../img/bf/2023/lampada.svg);
  }
}

.dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema p {
  width: 340px;
  height: 73px;
  margin-top: 261px;
  margin-left: 123px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema p {
    width: 215px;
    height: 74px;
    margin-top: 187px;
    margin-left: 81px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1;
  }
}

@media (max-width: 410px) {
  .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema p {
    margin-top: 100px;
    margin-left: 75px;
  }
}

.dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema span {
  color: #F03543;
}

@media (max-width: 767px) {
  .dg-modal-id-templateModalMudaTema {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 410px) {
  #produto-pg .dg-header-luz {
    bottom: 66px;
  }
  #produto-pg .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    bottom: 56px;
  }
  #produto-pg .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    bottom: 290px;
  }
}

.dg-header .dg-countdown-wrapper {
  left: 285px;
  bottom: 55px;
}

@media (max-width: 991px) {
  .dg-header .dg-countdown-wrapper {
    left: 0;
  }
}

@media (max-height: 680px) and (min-width: 992px) {
  .dg-header .dg-countdown-wrapper {
    bottom: 43px;
  }
}

@media (max-width: 1279px) and (min-width: 992px) {
  .dg-header .dg-countdown-wrapper {
    left: 223px;
  }
}

.dg-header .dg-countdown-wrapper .dg-countdown-tempo::after {
  font-size: 10px;
  left: 0;
  top: 25px;
  width: 100%;
  text-align: center;
  line-height: 15px;
}

@media (max-width: 991px) {
  .dg-header .dg-countdown-wrapper .dg-countdown-tempo::after {
    top: 4px;
    left: 20px;
  }
}

.dg-header .dg-countdown-wrapper .dg-countdown-title {
  font-size: 9.5px;
}

.dg-header .dg-countdown-wrapper .dg-countdown-tempo:not(:last-child) {
  margin-right: 7px;
}

@media (max-width: 991px) {
  .dg-header .dg-countdown-wrapper .dg-countdown-tempo:not(:last-child) {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .dg-header .dg-ativo-busca .dg-countdown-wrapper {
    top: 138px;
  }
}

.dg-header .dg-ativo-busca .dg-header-busca {
  top: 76px;
}

@media (max-width: 1279px) and (min-width: 992px) {
  .dg-header .dg-header-busca {
    max-width: 370px;
    margin-left: auto;
  }
  .dg-header .dg-header-luz, .dg-header .dg-header-minhaconta, .dg-header .dg-header-favoritos, .dg-header .dg-header-carrinho {
    margin-left: 0;
  }
  .dg-header .dg-header-sac {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .dg-header.dg-tem-banner-mensagem-top .dg-countdown-wrapper {
    top: 108px;
  }
  .dg-header.dg-tem-banner-mensagem-top .dg-ativo-busca .dg-countdown-wrapper {
    top: 173px;
  }
  .dg-header-fix.dg-bannerMensagemTopo {
    margin-bottom: 90px;
  }
}

@media (max-height: 680px) and (min-width: 992px) {
  .dg-header-busca-btn {
    top: 19px;
  }
}

@media (min-width: 992px) {
  #home-pg .dg-produto-compre-tambem::before, #home-pg .dg-produto-compre-tambem::after, #home-pg main::before, #home-pg main::after, #produto-pg .dg-produto-compre-tambem::before, #produto-pg .dg-produto-compre-tambem::after, #produto-pg main::before, #produto-pg main::after {
    display: none;
  }
}

.dg-home-produtos-vermais a {
  font-size: 14px;
}

html[blackfriday] body {
  background-color: #15181C;
}

html[blackfriday] body .dg-modal-mascote-avisa-evento__header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background-image: -webkit-gradient(linear, left top, right top, from(#42C6FF), to(#fff));
  background-image: linear-gradient(to right, #42C6FF, #fff);
}

html[blackfriday] body .dg-modal-mascote-avisa-evento__header::after {
  background-color: #000000;
}

html[blackfriday] body .dg-modal-mascote-avisa-evento__header .dg-relative {
  background-color: #000000;
}

html[blackfriday] body .dg-modal-mascote-avisa-evento .dg-modal-mascote-avisa-evento__body-footer__icone {
  background-image: url(../../img/bf/2023/truck-fast.svg);
}

html[blackfriday] body .dg-modal-mascote-avisa-evento .dg-modal-mascote-avisa-evento__body-footer a {
  background-color: #EA2E3D;
}

html[blackfriday] body .dg-modal-mascote-avisa-evento .dg-modal-mascote-avisa-evento__body-footer a:hover {
  background-color: #e71728;
}

html[blackfriday] body .dg-home-produtos-titulo {
  color: #fff;
}

html[blackfriday] body .dg-header {
  border-top-color: #FD3141;
  background-color: #15181C;
}

html[blackfriday] body .dg-countdown-wrapper .dg-countdown-title {
  color: #fff;
}

html[blackfriday] body .dg-countdown-wrapper .dg-countdown-tempo {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FD3141), color-stop(52%, #000), color-stop(55%, #FD3141));
  background-image: linear-gradient(to bottom, #FD3141 50%, #000 52%, #FD3141 55%);
}

html[blackfriday] body .dg-countdown-wrapper .dg-countdown-tempo::after {
  color: #fff;
}

html[blackfriday] body section.dg-produto-abas::before {
  content: '';
  display: block;
  width: 100.35%;
  height: 101%;
  background-image: -webkit-gradient(linear, left top, right top, from(#42C6FF), to(#fff));
  background-image: linear-gradient(to right, #42C6FF, #fff);
  position: absolute;
  top: 0;
  left: 0;
  left: -.15%;
  top: -.5%;
  border-radius: 24px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

html[blackfriday] body .dg-produtos-abas {
  position: relative;
  border-right: 0;
  margin-right: 2px;
}

@media (max-width: 767px) {
  html[blackfriday] body .dg-produtos-abas {
    background-color: #15181c;
    padding: 14px;
    margin: 0;
  }
}

@media (min-width: 992px) {
  html[blackfriday] body#home-pg, html[blackfriday] body#categoria-pg {
    background-image: url(../../img/bf/2023/bg.png);
    background-position: top;
  }
  html[blackfriday] body#home-pg .dg-header, html[blackfriday] body#categoria-pg .dg-header {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../img/bf/2023/bg-header.png);
    background-position: top;
  }
  html[blackfriday] body .dg-mascote-fundo {
    background-image: url(../../img/bf/2023/mascote/fundo.png);
  }
}

html[blackfriday] body .dg-mascote-borda-baixo, html[blackfriday] body .dg-mascote-borda-cima {
  display: none;
}

html[blackfriday] body .dg-modal-mascote-avisa-evento {
  color: #fff;
  background-color: #282C38;
  border-color: #282C38;
  -webkit-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
}

html[blackfriday] body .dg-modal-mascote-avisa-evento::after {
  border-left-color: #282C38;
}

html[blackfriday] body .dg-mascote-corpo:not(.dg-mascote-fundo) {
  bottom: 5px;
  left: 1px;
}

html[blackfriday] body .dg-mascote-menu > a.dg-mascote-menu-item-mudatema {
  background-color: #fff;
}

html[blackfriday] body .dg-mascote-menu > a.dg-mascote-menu-item-mudatema .dg-mascote-menu-item-mudatema__icone {
  background-image: url(../../img/bf/2023/mascote/lampada-vermelha.svg);
}

html[blackfriday] body .dg-mascote-menu > a .dg-mascote-tooltip {
  background-color: #000;
}

@media (max-width: 991px) {
  html[blackfriday] body .dg-header .dg-countdown-wrapper {
    background-color: #090909;
    border-top: 2px solid #2C2E2F;
  }
}

@media (max-width: 410px) {
  html[blackfriday] body .dg-header-luz {
    background-color: #20232D;
  }
  html[blackfriday] body .dg-header-luz::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -2px;
    display: block;
    width: 45px;
    height: 44px;
    background-image: -webkit-gradient(linear, left top, right top, from(#42C6FF), to(#fff));
    background-image: linear-gradient(to right, #42C6FF, #fff);
    border-radius: 50%;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  html[blackfriday] body .dg-header-luz button {
    position: relative;
    z-index: 1;
    border: 0;
    background-color: #20232D;
  }
}

html[blackfriday] body .dg-categoria-ordenacao {
  background: #20232D;
  border-color: #20232D;
}

html[blackfriday] body .dg-categoria-sidebar {
  background-color: #20232D;
  border-color: #20232D;
}

html[blackfriday] body .dg-categoria-sidebar .dg-titulo {
  background: #20232D;
  border-top: 1px solid #555463;
  border-bottom: 1px solid #555463;
}

html[blackfriday] body .dg-categoria-sidebar .dg-titulo, html[blackfriday] body .dg-categoria-sidebar .dg-categoria-sidebar-titulo {
  color: #fff;
}

html[blackfriday] body .dg-categoria-sidebar .dg-titulo {
  color: #6B6B7B;
}

html[blackfriday] body .dg-categoria-sidebar .dg-categoria-sidebar-titulo {
  color: #FD3141;
}

html[blackfriday] body .dg-categoria-sidebar .dg-categoria-sidebar-limpar-filtros {
  background: #20232D;
  border-top: 1px solid #555463;
  border-bottom: 1px solid #555463;
}

html[blackfriday] body .dg-conteudounico-header {
  background-color: #FF3141;
  color: #fff;
}

html[blackfriday] body .dg-conteudounico-header:hover, html[blackfriday] body .dg-conteudounico-header:focus {
  background-color: #ff4b59;
  color: #fff;
}

html[blackfriday] body .dg-conteudounico-header__icone {
  background-position: right;
}

html[blackfriday] body .dg-produtos-abas-titulo, html[blackfriday] body .dg-produto-info-fabricacao, html[blackfriday] body .dg-produto-info-preco-de, html[blackfriday] body .dg-produto-info-titulo, html[blackfriday] body .dg-header-luz-btn, html[blackfriday] body .dg-categoria-sidebar-letras a, html[blackfriday] body .dg-categoria-sidebar-listagem-contrgenerico li a, html[blackfriday] body .dg-categoria-paginacao > ul > li > span.dg-categoria-paginacao-etc, html[blackfriday] body .dg-categoria-desc, html[blackfriday] body .dg-categoria-titulo-txt .dg-titulo {
  color: #fff;
}

html[blackfriday] body .dg-produto-aba-info a {
  color: #1EC765;
}

html[blackfriday] body .dg-produto-info-preco-por {
  color: #FF3141;
}

html[blackfriday] body .dg-header-menu ul li.dg-header-menu-vertodas a {
  color: #fff;
}

html[blackfriday] body .dg-header-menu ul li.dg-header-menu-vertodas a:hover, html[blackfriday] body .dg-header-menu ul li.dg-header-menu-vertodas a:focus {
  color: #fff;
}

html[blackfriday] body .dg-header-menu ul li.dg-header-menu-vertodas a:hover span, html[blackfriday] body .dg-header-menu ul li.dg-header-menu-vertodas a:focus span {
  color: #fff;
}

html[blackfriday] body .dg-categoria-sidebar-listagem-contrgenerico li a {
  background-color: #363B40;
}

html[blackfriday] body .dg-categoria-sidebar-preco-range .ui-widget-content {
  border-color: #20232D;
}

html[blackfriday] body .dg-categoria-sidebar-preco-range .ui-widget-content::after {
  background-image: url(../../img/bf/2023/input-ranger.png);
}

html[blackfriday] body .dg-categoria-paginacao > ul > li {
  background: #1F2022;
}

html[blackfriday] body .dg-produto-info-sp, html[blackfriday] body .dg-categoria-paginacao > ul > li > a {
  color: #7699A8;
}

html[blackfriday] body .dg-categoria-paginacao > ul > li > a {
  color: #15181C;
  background-color: #E4E5EC;
}

html[blackfriday] body .dg-produto-acoes-modais-btn {
  background-color: #20232D;
  border-color: #20232D;
}

html[blackfriday] body .dg-produto-acoes-btns-compra-qtd-input {
  background: #20232D;
  color: #fff;
}

@media (min-width: 768px) {
  html[blackfriday] body .dg-produtos-abas {
    background-color: #15181C;
  }
}

html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info-wrapper, html[blackfriday] body .dg-produtos-abas-textos {
  background-color: #15181C;
}

html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info::-webkit-scrollbar-track {
  background-color: #2F3235;
}

html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info::-webkit-scrollbar-thumb {
  background-color: #42C6FF;
}

html[blackfriday] body .dg-produtos-abas {
  border-color: #4D5053;
}

html[blackfriday] body .dg-produto-subtitulo, html[blackfriday] body .dg-produto-titulo {
  color: #fff;
}

html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h1 b, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h1 strong, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h2 b, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h2 strong, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h3 b, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h3 strong, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h4 b, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h4 strong, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h5 b, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h5 strong, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h6 b, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info h6 strong, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info div, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info p, html[blackfriday] body .dg-produtos-abas-textos .dg-produto-aba-info span {
  color: #fff !important;
}

html[blackfriday] body .dg-produto-aba-btn:last-child {
  border: 0;
}

html[blackfriday] body .dg-produto-aba-btn {
  border: 0;
  color: #fff;
  background-color: #15181c;
}

html[blackfriday] body .dg-produto-aba-btn.dg-ativo {
  color: #fff;
  background-color: #EA2E3D;
}

html[blackfriday] body .dg-produto-anvisa .dg-produto-aba-descricao-medicamento {
  background-color: #15181c;
  color: #fff;
  border-color: #fff;
}

html[blackfriday] body .dg-produto-acoes-btns-frete > label {
  background-color: #070707;
}

html[blackfriday] body .dg-produto-info-preco {
  border-color: #20232D;
}

html[blackfriday] body .dg-categoria-ordenacao-titulo, html[blackfriday] body .dg-categoria-ordenacao-item, html[blackfriday] body .dg-categoria-breadcrumb a, html[blackfriday] body .dg-produto-breadcrumb {
  font-weight: 600;
  opacity: 1;
  color: #7699A8;
}

html[blackfriday] body .dg-produto-breadcrumb a {
  color: #8B98A3;
}

html[blackfriday] body .dg-categoria-ordenacao-item {
  color: #6B6B7B;
}

html[blackfriday] body .dg-categoria-paginacao > ul > li > span.dg-categoria-paginacao-etc {
  color: #FD3141;
  background: #20232D;
}

html[blackfriday] body .dg-categoria-sidebar-letras a[disabled="disabled"] {
  color: #FD3141;
}

html[blackfriday] body .dg-categoria-topo-wrapper {
  background-image: none !important;
}

@media (min-width: 992px) {
  html[blackfriday] body .dg-categoria-topo-wrapper {
    background-color: #1A1D24;
  }
}

@media (max-width: 991px) {
  html[blackfriday] body .dg-header-m-abrirbusca {
    background-color: #20232D;
  }
  html[blackfriday] body .dg-header-m-abrirmenu > span {
    background: #fff;
  }
  html[blackfriday] body .dg-categoria-desc-vermais {
    border: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
  }
  html[blackfriday] body .dg-categoria-desc-vermais::after {
    background-image: url(../../img/bf/2023/chevron-down-white.svg);
  }
  html[blackfriday] body .dg-categoria-desc, html[blackfriday] body .dg-categoria-desc-titulo {
    color: #7699A8;
  }
  html[blackfriday] body .dg-categoria-menumobile > ul > li > a {
    background-color: #20232D;
    border-color: #20232D;
    color: #7699A8;
  }
}

html[blackfriday] body .dg-show-blackfriday {
  display: block;
}

html[blackfriday] body a .dg-show-blackfriday, html[blackfriday] body p .dg-show-blackfriday, html[blackfriday] body h1 .dg-show-blackfriday, html[blackfriday] body h2 .dg-show-blackfriday, html[blackfriday] body h3 .dg-show-blackfriday, html[blackfriday] body h4 .dg-show-blackfriday, html[blackfriday] body h5 .dg-show-blackfriday, html[blackfriday] body h6 .dg-show-blackfriday {
  display: inline-block;
}

@media (min-width: 992px) {
  html[blackfriday] body#home-pg .dg-produto-compre-tambem::before, html[blackfriday] body#home-pg .dg-produto-compre-tambem::after, html[blackfriday] body#home-pg main::before, html[blackfriday] body#home-pg main::after, html[blackfriday] body#produto-pg .dg-produto-compre-tambem::before, html[blackfriday] body#produto-pg .dg-produto-compre-tambem::after, html[blackfriday] body#produto-pg main::before, html[blackfriday] body#produto-pg main::after {
    display: none;
  }
  html[blackfriday] body .dg-header-sac__block-wrapper {
    background-color: #15181C;
  }
  html[blackfriday] body .dg-header-sac__block-wrapper .dg-header-sac__title {
    color: #fff;
  }
  html[blackfriday] body .dg-header-sac__block-wrapper .dg-header-sac__text {
    color: #ccc;
  }
}

html[blackfriday] body .dg-header-sac .dg-icon {
  color: #8B98A3;
}

html[blackfriday] body .dg-header-minhaconta > a, html[blackfriday] body .dg-header-favoritos > a {
  color: #8B98A3;
}

html[blackfriday] body .dg-header-minhaconta > a:hover, html[blackfriday] body .dg-header-minhaconta > a:focus, html[blackfriday] body .dg-header-favoritos > a:hover, html[blackfriday] body .dg-header-favoritos > a:focus {
  color: #FD3141;
}

html[blackfriday] body .dg-header-carrinho > a {
  background-color: #20232D;
}

html[blackfriday] body .dg-header-carrinho > a .dg-icon {
  position: relative;
  color: #fff;
  z-index: 2;
}

html[blackfriday] body .dg-header-carrinho > a .dg-header-carrinho-numero {
  z-index: 2;
}

html[blackfriday] body .dg-header-carrinho > a::after {
  content: '';
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #20232D;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 1;
}

html[blackfriday] body .dg-header-carrinho > a::before {
  content: '';
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#42C6FF), to(#fff));
  background-image: linear-gradient(to right, #42C6FF, #fff);
  border-radius: 50%;
  top: -1px;
  left: -1px;
  z-index: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

html[blackfriday] body .dg-header-menu {
  background-color: #20232D;
}

html[blackfriday] body .dg-header-busca-label {
  background: #15181C;
}

html[blackfriday] body .dg-header-busca-input {
  border-color: #15181C;
  color: #fff;
}

html[blackfriday] body .dg-header-busca-input:hover, html[blackfriday] body .dg-header-busca-input:focus {
  border-color: #15181C;
}

html[blackfriday] body .dg-header-busca-input:focus + .dg-header-busca-label, html[blackfriday] body .dg-header-busca-input.dg-ativo + .dg-header-busca-label {
  color: #999;
}

html[blackfriday] body .dg-header {
  border-bottom-color: #20232D;
}

html[blackfriday] body .dg-header-menu .dg-icon-img .dg-icon-img-img {
  -webkit-filter: grayscale(0.4);
          filter: grayscale(0.4);
}

html[blackfriday] body .dg-home-produtos-vermais a {
  color: #8B98A3;
  background-color: #20232D;
}

html[blackfriday] body .dg-home-produtos-vermais a:hover, html[blackfriday] body .dg-home-produtos-vermais a:focus {
  color: #FD3141;
}

html[blackfriday] body .dg-footer {
  background-color: #20232D;
}

html[blackfriday] body .dg-header-menu ul li.dg-header-menu-vertodas a:hover .dg-icon-vertodas > span, html[blackfriday] body .dg-header-menu ul li.dg-header-menu-vertodas a:focus .dg-icon-vertodas > span {
  background-color: #fff;
}

html[blackfriday] body .dg-footer-linha2-lista-item {
  background-color: #35373B;
}

html[blackfriday] body .dg-footer-linha2-lista-item .dg-icon, html[blackfriday] body .dg-footer-final, html[blackfriday] body .dg-footer-final a, html[blackfriday] body .dg-footer-linha1-informacao strong a, html[blackfriday] body .dg-footer-linha1-informacao .dg-icon, html[blackfriday] body .dg-footer-linha1-informacao strong, html[blackfriday] body .dg-footer-titulo {
  color: #7699A8;
}

html[blackfriday] body .dg-footer-linha1-informacao {
  border-color: #707D87;
}

@media (min-width: 992px) {
  html[blackfriday] body .dg-header-menu .dg-icon-img {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    top: -5px;
    height: 30px;
    width: 30px;
    background-color: #313545;
    border-radius: 12px;
    margin-right: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: -14px;
  }
  html[blackfriday] body .dg-header-menu .dg-icon-img > img:first-child {
    position: absolute;
  }
  html[blackfriday] body .dg-header-menu .dg-icon-img > img {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}

html[blackfriday] body .dg-footer-linha1-btn {
  background-color: #20232D;
  border-top: 1px solid #555463;
  border-bottom: 1px solid #555463;
}

html[blackfriday] body .dg-footer-linha1-btn:hover, html[blackfriday] body .dg-footer-linha1-btn:focus {
  background-color: #15171e;
  border-top: 1px solid #555463;
  border-bottom: 1px solid #555463;
}

html[blackfriday] body .dg-home-filtropreco a, html[blackfriday] body .dg-home-filtropreco a strong {
  color: #fff;
}

html[blackfriday] body .dg-home-sintomas-lista, html[blackfriday] body .dg-home-filtropreco a {
  border: 0;
  background-color: #20232D;
}

html[blackfriday] body .dg-home-filtropreco a strong {
  border: 0;
}

html[blackfriday] body .dg-home-sintomas-lista a .dg-icon {
  position: relative;
  padding-top: 0;
  background-color: #1A1C23 !important;
  color: #fff;
}

html[blackfriday] body .dg-home-sintomas-lista a .dg-icon::before {
  position: relative;
  height: 84px;
  line-height: 84px;
  background-color: #1A1C23 !important;
  z-index: 1;
  border-radius: 50%;
}

html[blackfriday] body .dg-home-sintomas-lista a .dg-icon::after {
  content: '';
  position: absolute;
  width: 88px;
  height: 88px;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#42C6FF), to(#fff));
  background-image: linear-gradient(to bottom, #42C6FF, #fff);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  border-radius: 50%;
  top: -2px;
  left: -2px;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

html[blackfriday] body .dg-home-sintomas-lista a:hover .dg-icon:after, html[blackfriday] body .dg-home-sintomas-lista a:focus .dg-icon:after {
  -webkit-animation-name: rubberBandSintomas;
  animation-name: rubberBandSintomas;
}

html[blackfriday] body .dg-home-sintomas-lista a .dg-home-sintomas-lista-txt {
  color: #fff;
}

html[blackfriday] body .dg-home-sintomas-lista a:hover .dg-home-sintomas-lista-txt, html[blackfriday] body .dg-home-sintomas-lista a:focus .dg-home-sintomas-lista-txt {
  color: #fff !important;
}

@media (max-width: 991px) {
  html[blackfriday] body .dg-header-sac__title {
    color: #fff;
  }
}

html[blackfriday] body .dg-home-filtropreco a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html[blackfriday] body .dg-home-filtropreco a > * {
  z-index: 1;
}

@media (max-width: 767px) {
  html[blackfriday] body .dg-home-filtropreco a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 16px;
  }
  html[blackfriday] body .dg-home-filtropreco a > span {
    position: static;
  }
  html[blackfriday] body .dg-home-filtropreco a > span:first-child {
    margin-right: 16px;
  }
}

html[blackfriday] body .dg-home-filtropreco a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #1A1C23 !important;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 1;
}

html[blackfriday] body .dg-home-filtropreco a::after {
  content: '';
  position: absolute;
  width: 101%;
  height: 101%;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#42C6FF), to(#fff));
  background-image: linear-gradient(to bottom, #42C6FF, #fff);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  top: -.5%;
  left: -.5%;
  border-radius: 5px;
  z-index: 0;
}

html[blackfriday] body .dg-home-filtropreco .dg-home-filtropreco-img {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

html[blackfriday] body .dg-home-filtropreco .dg-home-filtropreco-img img {
  display: none;
}

html[blackfriday] body .dg-home-filtropreco .dg-home-filtropreco-img[data-img-ref="levemais"] {
  background-image: url(../../img/bf/2023/home-extra/levemais.png);
}

html[blackfriday] body .dg-home-filtropreco .dg-home-filtropreco-img[data-img-ref="comprados"] {
  background-image: url(../../img/bf/2023/home-extra/comprados.png);
}

html[blackfriday] body .dg-home-filtropreco .dg-home-filtropreco-img[data-img-ref="novos-produtos"] {
  background-image: url(../../img/bf/2023/home-extra/novos-produtos.png);
}

html[blackfriday] body .dg-home-filtropreco .dg-home-filtropreco-img[data-img-ref="pdia"] {
  background-image: url(../../img/bf/2023/home-extra/pdia.png);
}

html[blackfriday] body .dg-home-filtropreco .dg-home-filtropreco-img[data-img-ref="descontos"] {
  background-image: url(../../img/bf/2023/home-extra/descontos.png);
}

html[blackfriday] body .dg-header-logo a {
  background-image: url(../../img/bf/2023/logo.png);
  background-position: center;
}

@media (max-width: 991px) {
  html[blackfriday] body .dg-header-logo a {
    background-image: none;
  }
}

html[blackfriday] body .dg-header-logo a img {
  display: none;
}

@media (max-width: 991px) {
  html[blackfriday] body .dg-header-topo {
    padding-top: 13px;
    background-image: url(../../img/bf/2023/logo.png);
    background-position: 48px -11px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 490px) {
  html[blackfriday] body .dg-header-topo {
    background-position: 41px 2px;
    background-repeat: no-repeat;
    background-size: 162px;
  }
}

html[blackfriday] body .dg-produto-acoes-proibido-tel, html[blackfriday] body .dg-produto-acoes-proibido-txt {
  color: #fff;
}

html[blackfriday] body .dg-categoria-sidebar-listagem a img {
  background-color: #fff;
}

@media (max-width: 991px) {
  html[blackfriday] body .dg-ProdutoisPodeComprar .dg-produto-acoes-btns-compra, html[blackfriday] body .dg-ProdutoisPodeComprar2 .dg-produto-acoes-btns-compra, html[blackfriday] body .dg-ProdutoisProibido .dg-produto-acoes-btns-compra, html[blackfriday] body .dg-ProdutoisProibido2 .dg-produto-acoes-btns-compra {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #000000;
  }
  html[blackfriday] body .dg-ProdutoisPodeComprarPromocao .dg-produto-acoes-btns, html[blackfriday] body .dg-ProdutoisPodeComprarPromocao2 .dg-produto-acoes-btns {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #000000;
  }
  html[blackfriday] body .dg-ProdutoisEsgotado .dg-produto-acoes-aviseme, html[blackfriday] body .dg-ProdutoisEsgotado2 .dg-produto-acoes-aviseme {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #000000;
  }
  html[blackfriday] body .dg-categoria-ordenacao-item {
    border-top-color: #666;
  }
  html[blackfriday] body .dg-categoria-ordenacao-item {
    color: #ddd;
  }
}

@media (max-width: 767px) {
  html[blackfriday] body .dg-produtos-abas-textos.dg-ativo .dg-produtos-abas-textos-wrapper {
    background-color: #20232D;
  }
  html[blackfriday] body .dg-produtos-abas-textos.dg-ativo {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 575px) {
  html[blackfriday] body .dg-countdown-wrapper .dg-countdown-tempo {
    margin-right: 23px;
  }
  html[blackfriday] body .dg-countdown-wrapper .dg-countdown-tempo:last-child {
    margin-right: 0;
  }
}

html[blackfriday] body form#formBuscaTopo::before {
  content: '';
  position: absolute;
  width: 100%;
  right: -2px;
  max-width: 425px;
  top: 28px;
  height: 54px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#42C6FF), to(#fff));
  background-image: linear-gradient(to right, #42C6FF, #fff);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@media (max-height: 680px) and (min-width: 992px) {
  html[blackfriday] body form#formBuscaTopo::before {
    top: 12px;
  }
}

@media (max-width: 1279px) and (min-width: 992px) {
  html[blackfriday] body form#formBuscaTopo::before {
    max-width: 339px;
  }
}

@media (max-width: 991px) {
  html[blackfriday] body form#formBuscaTopo::before {
    top: -2px;
    left: -.25%;
    width: 101%;
    height: 54px;
    max-width: 100.5%;
  }
}

@media (min-width: 992px) {
  html[blackfriday] body .dg-header-logo {
    padding-top: 12px;
  }
  html[blackfriday] body .dg-header-logo a {
    height: 90px;
  }
}

@media (max-height: 680px) and (min-width: 992px) {
  html[blackfriday] body .dg-header-logo {
    padding-top: 0;
  }
}

html[blackfriday] body .dg-produto-acoes-modais-btn, html[blackfriday] body .dg-produto-info-sp, html[blackfriday] body .dg-produto-info-preco-parcelamento, html[blackfriday] body .dg-produtos-abas-textos {
  color: #fff;
}

html[blackfriday] body .dg-produto-info-fabricacao h2 {
  font-style: italic;
  color: #6B6B7B;
}

html[blackfriday] body .dg-produto-info-fabricacao h2 a {
  font-style: normal;
  color: #1EC765;
}

.dg-header-logo a {
  display: block;
  width: 244px;
  height: 46px;
  background-repeat: no-repeat;
}

@media (max-width: 490px) {
  .dg-header-logo a {
    width: 162px;
    height: 30px;
    background-size: contain;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .dg-header-logo a {
    width: 200px;
    background-position: center;
    background-size: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .dg-header-logo {
    width: 200px;
  }
}

@media (max-width: 767px) and (min-width: 411px) {
  .dg-header ~ .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 23px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dg-header ~ .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 23px;
    margin-left: -279px;
  }
}

@media (max-height: 680px) and (min-width: 992px) {
  .dg-header ~ .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 26px;
  }
}

@media (min-height: 680px) and (min-width: 992px) {
  .dg-header ~ .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 37px;
  }
}

@media (min-width: 768px) {
  .dg-header ~ .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    top: 140px;
  }
}

@media (max-width: 767px) and (min-width: 411px) {
  .dg-header ~ .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    top: 115px;
  }
}

@media (max-width: 459px) and (min-width: 411px) {
  .dg-header ~ .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    right: 92px;
  }
}

@media (max-width: 767px) and (min-width: 411px) {
  .dg-header.dg-tem-banner-mensagem-top ~ .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 71px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dg-header.dg-tem-banner-mensagem-top ~ .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 71px;
    margin-left: -279px;
  }
}

@media (max-height: 680px) and (min-width: 992px) {
  .dg-header.dg-tem-banner-mensagem-top ~ .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 74px;
  }
}

@media (min-height: 680px) and (min-width: 992px) {
  .dg-header.dg-tem-banner-mensagem-top ~ .dg-modal-id-templateModalMudaTema div.dg-modal-muda-tema {
    top: 85px;
  }
}

@media (min-width: 768px) {
  .dg-header.dg-tem-banner-mensagem-top ~ .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    top: 188px;
  }
}

@media (max-width: 767px) and (min-width: 411px) {
  .dg-header.dg-tem-banner-mensagem-top ~ .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    top: 163px;
  }
}

@media (max-width: 459px) and (min-width: 411px) {
  .dg-header.dg-tem-banner-mensagem-top ~ .dg-modal-id-templateModalMudaTema .dg-modal-fechar {
    right: 140px;
  }
}

@media (min-width: 992px) and (min-height: 721px) {
  .dg-header.dg-tem-banner-mensagem-top ~ .dg-menuA {
    top: 203px;
  }
}

@media (min-width: 992px) {
  .dg-mascote-menu > a.dg-mascote-menu-item-chat {
    top: 93px;
    left: 1px;
  }
}

.dg-mascote-menu > a.dg-mascote-menu-item-evento {
  top: unset;
  bottom: -2px;
  left: 21px;
}

.dg-mascote-menu > a.dg-mascote-menu-item-busca {
  top: 6px;
  left: 61px;
  z-index: 5002 !important;
}

.dg-mascote-menu > a.dg-mascote-menu-item-telefone-desktop {
  top: 38px;
  left: 15px;
}

@media (max-width: 991px) {
  html[nao-tem-cronometro] body .dg-header-fix.dg-bannerMensagemTopo {
    margin-bottom: 50px;
  }
  html[nao-tem-cronometro] body .dg-header:not(.dg-tem-banner-mensagem-top) ~ .dg-header-sac {
    margin-top: -15px;
  }
  html[nao-tem-cronometro] body .dg-header:not(.dg-tem-banner-mensagem-top) ~ .dg-header-fix {
    margin-bottom: 25px;
  }
}

.dg-boxproduto-info .dg-evento-tag {
  display: block;
}
/*# sourceMappingURL=2023.css.map */