body {
  color: #0B1841;
  background-color: #fff;
}

.dg-relative {
  position: relative;
}

.dg-home-produtos-titulo, .dg-header-busca-label, .dg-boxproduto-titulo a, .dg-boxproduto-preco, .dg-header-minhaconta__logar1 {
  color: #0B1841;
}

.dg-header-menu {
  background-color: #0B1841;
}

.dg-header-busca-btn, .dg-header-carrinho-numero {
  background-color: #002399;
}

.dg-header-carrinho > a {
  width: 50px;
  height: 50px;
  padding-top: 13px;
  border-radius: 15px;
  background-color: #00D19D;
}

.dg-header-carrinho > a:hover {
  background-color: #00b88a;
}

.dg-header-menu > ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

.dg-header-menu > ul > li {
  width: auto !important;
}

.dg-header-menu > ul > li > a {
  padding-top: 15px !important;
  font-weight: bold !important;
  font-size: 15px !important;
  letter-spacing: .5px;
}

.dg-header-menu > ul > li.dg-header-menu-vertodas::before {
  display: none;
}

.dg-header-busca-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dg-header-menu > ul > li > a > .dg-icon-img {
  display: none;
}

@media (min-width: 1280px) {
  .container {
    width: 1220px;
  }
}

#home-pg .dg-produto-compre-tambem::before, #home-pg .dg-produto-compre-tambem::after, #home-pg main::before, #home-pg main::after, #produto-pg .dg-produto-compre-tambem::before, #produto-pg .dg-produto-compre-tambem::after, #produto-pg main::before, #produto-pg main::after {
  display: none;
}

.dg-header {
  background-color: #fff;
}

@media (min-width: 992px) {
  .dg-header {
    height: 137px;
    border-bottom: 0;
  }
  .dg-header-topo {
    height: 86px;
    padding-left: 37px;
    padding-right: 11px;
    border-radius: 0 0 30px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #EDF0F3;
  }
  .dg-header .dg-header-minhaconta, .dg-header .dg-header-favoritos, .dg-header .dg-header-carrinho {
    width: auto;
    margin-left: auto;
  }
  .dg-header .dg-header-menu {
    bottom: -70px;
    height: 50px;
    border-radius: 20px;
  }
  .dg-header .dg-header-logo, .dg-header .dg-header-busca, .dg-header .dg-header-minhaconta, .dg-header .dg-header-favoritos, .dg-header .dg-header-carrinho {
    padding-top: 0;
    margin-top: 0;
  }
  .dg-header .dg-header-logo {
    width: auto;
  }
  .dg-header .dg-header-busca {
    max-width: 482px;
    margin-left: auto;
    height: 44px;
  }
  .dg-header .dg-header-busca .dg-header-busca-label, .dg-header .dg-header-busca input {
    top: 0;
    height: 44px;
    border-radius: 12px;
    width: 100% !important;
    padding-top: 13px;
  }
  .dg-header .dg-header-busca .dg-header-busca-btn {
    top: 3px;
    width: 38px;
    height: 38px;
    border-radius: 12px;
  }
  .dg-header .dg-header-minhaconta > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    padding-top: 0;
  }
  .dg-header .dg-header-minhaconta__logar {
    text-align: left;
    margin-left: 13px;
  }
  .dg-header .dg-header-minhaconta__logar1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
  }
  .dg-header .dg-header-minhaconta__logar2 {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
    color: #A3B4C6;
  }
}

.dg-header .dg-header-sac {
  display: none;
}

.dg-header-fix {
  height: 159px;
  margin-bottom: 20px;
}

.dg-home-destaques-wrapper {
  padding-top: 0;
}

.dg-home-produtos-topo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dg-home-produtos-topo .dg-home-produtos-titulo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.dg-home-produtos-topo::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-left: 24px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: -17px;
}

.dg-home-produtos-topo .dg-home-produtos-vermais {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.dg-home-produtos-topo .dg-home-produtos-vermais a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 6px 22px 5px 12px;
  border-radius: 8px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  background-color: #002399;
  color: #fff;
  background-image: url(../img/icones/chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
}

.dg-home-produtos-topo .dg-home-produtos-vermais a strong {
  display: none;
}

.dg-home-destaques-item img, .dg-home-descontos-destaques img, .dg-home-destaques2-wrapper img {
  border-radius: 30px;
}

.dg-boxproduto {
  height: 284px;
  border: 1px solid #EDF0F3;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  padding: 22px 15px 32px;
}

.dg-boxproduto .dg-boxproduto-titulo {
  -webkit-line-clamp: 2;
}

.dg-boxproduto .dg-boxproduto-preco-de > span:first-child, .dg-boxproduto .dg-boxproduto-preco-por > span:first-child {
  display: none;
}

.dg-boxproduto .dg-boxproduto-preco-de {
  font-size: 9px;
  font-weight: 400;
  line-height: 14px;
}

.dg-boxproduto .dg-boxproduto-preco-por {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}

.dg-boxproduto .dg-boxproduto-titulo a {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.17;
}

.dg-boxproduto .dg-boxproduto-categoria {
  font-size: 8px;
  color: #00D19D;
}

.dg-boxproduto .dg-boxproduto-main {
  min-height: auto;
  margin-top: 29px;
}

.dg-boxproduto .dg-boxproduto-subacoes, .dg-boxproduto .dg-boxproduto-tags {
  top: 16px;
}

.dg-boxproduto .dg-boxproduto-img {
  height: 132px;
}

.dg-boxproduto .dg-boxproduto-img img {
  max-height: 132px;
}

.dg-boxproduto .dg-boxproduto-preco {
  padding: 0;
  min-height: auto;
  bottom: 20px;
  padding: 5px;
  border-radius: 6px;
  left: 10px;
  -webkit-transition: .3s bottom all;
  transition: .3s bottom all;
}

.dg-boxproduto .dg-boxproduto-compra {
  height: 32px;
}

.dg-boxproduto .dg-boxproduto-compra .dg-boxproduto-qtd {
  top: 0;
}

.dg-boxproduto .dg-boxproduto-compra {
  bottom: 22px;
}

.dg-boxproduto .dg-boxproduto-compra-btn {
  width: 32px;
  height: 32px;
  bottom: 0;
  right: 15px;
  border-radius: 8px;
  background-color: #00D19D;
}

.dg-boxproduto .dg-boxproduto-compra-btn:hover {
  background-color: #00b88a;
}

.dg-boxproduto .dg-boxproduto-desconto {
  border-radius: 3.7px;
  font-weight: bold;
}

.dg-boxproduto .dg-icon.dg-icon-favorito {
  width: 18px;
  height: 18px;
  background-image: url(../img/icones/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dg-boxproduto .dg-icon.dg-icon-favorito::before {
  display: none;
}

.dg-boxproduto .dg-icon.dg-icon-cart {
  position: static;
  display: inline-block;
  width: 19px;
  height: 17px;
  background-image: url(../img/icones/shopping-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dg-boxproduto .dg-icon.dg-icon-cart::before {
  display: none;
}

.dg-boxproduto .dg-icon.dg-icon-arrow01-down {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url(../img/icones/Arrow_Down_SM.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.dg-boxproduto .dg-icon.dg-icon-arrow01-down::before {
  display: none;
}

.dg-boxproduto .dg-boxproduto-desconto--porcentagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 0 0 4px;
  font-size: 10px;
  background-color: #01D06D;
}

.dg-boxproduto.dg-boxproduto-hover .dg-boxproduto-preco {
  bottom: 65px;
}

.dg-boxproduto.dg-boxproduto--indisponivel .dg-boxproduto-qtd {
  height: 32px;
}

.dg-boxproduto.dg-boxproduto--indisponivel .dg-boxproduto-desconto--indisponivel {
  padding: 3px 4px 3px;
  background-color: #373737;
  font-size: 10px;
}

.dg-boxproduto.dg-boxproduto--indisponivel .dg-boxproduto-desconto--indisponivel span {
  font-weight: bold;
  letter-spacing: normal;
}

.dg-header .dg-icon.dg-icon-user {
  width: 26px;
  height: 26px;
  background-image: url(../img/icones/frame.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dg-header .dg-icon.dg-icon-user::before {
  display: none;
}

.dg-header .dg-icon.dg-icon-favorito {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(../img/icones/heart-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dg-header .dg-icon.dg-icon-favorito::before {
  display: none;
}

.dg-header .dg-icon.dg-icon-cart {
  display: inline-block;
  width: 27px;
  height: 26px;
  background-image: url(../img/icones/shopping-cart-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dg-header .dg-icon.dg-icon-cart::before {
  display: none;
}

.dg-header .dg-header-minhaconta {
  height: auto;
}

.dg-header .dg-header-minhaconta > a, .dg-header .dg-header-favoritos > a {
  height: auto;
  padding-top: 0;
}

.dg-header .dg-header-minhaconta > a:hover .dg-header-minhaconta__logar2 {
  color: #A3B4C6;
}

.tns-controls button {
  background-color: rgba(0, 0, 0, 0);
}

.tns-controls button[data-controls="prev"] {
  left: -34px;
}

.tns-controls button[data-controls="prev"]::before {
  content: '';
  width: 9px;
  height: 17px;
  display: inline-block;
  background-image: url(../img/icones/chevron-left-gray.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.tns-controls button[data-controls="next"] {
  right: -34px;
}

.tns-controls button[data-controls="next"]::before {
  content: '';
  width: 9px;
  height: 17px;
  display: inline-block;
  background-image: url(../img/icones/chevron-right-gray.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dg-home-destaques-wrapper .tns-controls button {
  width: 22px;
  height: 22px;
  margin-top: 0;
  border-radius: 7px;
  background-color: #002399;
}

.dg-home-destaques-wrapper .tns-controls button[data-controls="prev"] {
  left: -11px;
}

.dg-home-destaques-wrapper .tns-controls button[data-controls="prev"]::before {
  background-image: url(../img/icones/chevron-left.svg);
  width: 5px;
  height: 9px;
  margin-top: -2px;
}

.dg-home-destaques-wrapper .tns-controls button[data-controls="next"] {
  right: -11px;
}

.dg-home-destaques-wrapper .tns-controls button[data-controls="next"]::before {
  background-image: url(../img/icones/chevron-right.svg);
  width: 5px;
  height: 9px;
  margin-top: -2px;
}

.dg-header-menu ul li.dg-header-menu-vertodas .dg-icon-vertodas {
  width: 24px;
  height: 24px;
  margin-top: -1px;
  background-image: url(../img/icones/category.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dg-header-menu ul li.dg-header-menu-vertodas .dg-icon-vertodas span {
  display: none;
}
/*# sourceMappingURL=app.css.map */