.dg-institucional-atendimento-row {
    flex-wrap: wrap;
    @media (min-width: $screen-sm) {
        display: flex;
    }
    h2 {
        margin-top: 50px;
        font-size: 24px;
        line-height: 1;
        color: #094684;
        @media (max-width: 767px) {
            margin-top: 16px;
        }
    }
    h3 {
        margin-bottom: 0;
    }
    > div h2 {
        @media (max-width: 767px) {
            margin-top: 30px
        }
    }
    .dg-form-wrapper {
        flex: 1;
        margin-top: 20px;
        padding: 30px;
        border: 1px solid #E4E7ED;
        @media (min-width: $screen-md) {
            margin-left: 24px;
        }
        @media (max-width: $screen-md - 1) {
            padding: 16px;
        }
        h2 {
            margin-top: 0;
            margin-bottom: 24px;
        }
    }
    form {
        a {
            text-decoration: none;
            color: #fff;
            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
        input, select, textarea {
            width: 100%;
        }
    }
    .dg-form-control {
        margin-bottom: 20px;
        &--footer {
            width: 100%;
            text-align: right;
            &-captcha {
                display: flex;
                justify-content: space-between;
                @media (max-width: $screen-sm - 1) {
                    flex-direction: column;
                }
            }
            .dg-btn {
                height: 45px;
                padding: 4px 16px;
                border-radius: 23px;
                text-align: center;
                outline: none;
                background-color: #094684;
                font-size: 13px;
                color: #fff;
                font-weight: 600;
                z-index: 12;
                transition: 300ms ease background-color
            }
        }
    }
    .dg-select, .dg-input, .dg-textarea {
        position: relative;
        z-index: 10;
        background-color: rgba(0,0,0,0);
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 13px;
        border-radius: 10px;
        transition: 300ms ease border-color;
        ~  .dg-label {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 45px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 14px;
            font-size: 13px;
            color: #999999;
            transition: 300ms ease all;
            background-color: #E4E7ED;
            border-radius: 10px;
        }
    }
    .dg-input:focus ~ .dg-label, .dg-input.dg-ativo ~ .dg-label {
        padding-top: 4px;
        font-size: 11px;
        color: #707D88
    }
    .dg-select, .dg-input {
        height: 45px;
    }
    .dg-select, .dg-textarea {
        background-color: #E4E7ED;
    }
    .dg-textarea {
        padding-top: 10px;
    }
    .dg-select {
        z-index: 1;
        background: transparent url(../img/select-vermelho.png) no-repeat top right 0;
        position: absolute;
        left: 0;
        top: 0;
        right: 10px;
        z-index: 2;
        height: 45px;
        border-radius: 10px;
        margin-bottom: 20px;
        color: #333;
        font-size: 13px;
        padding-top: 15px;
        padding-left: 4px;
        padding-right: 20px;
        padding-left: 19px;
        transition: 300ms ease all;
        width: 100%;
        outline: none !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        + label {
            position: relative;
            z-index: 1;
            background: #E4E7ED;
            height: 45px;
            border-radius: 10px;
            margin-bottom: 25px;
            color: #707D88;
            font-size: 13px;
            padding: 13px 10px 0px 20px;
            transition: 300ms ease all;
            font-size: 10px;
            padding-top: 7px;
        }
        @media (min-width: $screen-md) {
            left: 0;
            height: 44px;
        }
    }

    .dg-erroForm.dg-ativo + .dg-select {
        padding-left: 17px;
    }

    .dg-select[multiple] {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        @media (min-width: $screen-md) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            height: 100px;
        }
    }
    .dg-input {
        padding-top: 16px;
        padding-left: 25px;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 0s ease-in-out 99999s, color 0s ease-in-out 99999s
        }
    }
    .dg-common-label {
        font-size: 13px;
        color: #7699A8;
    }
    textarea {
        &:focus {
            outline: none
        }
    }
    .mensagem-anexo {
        padding: 4px 8px;
        background: #505d6d;
        color: #fff;
        border-radius: 7px;
        margin-top: 4px;
        font-size: 12px;
        float: left;
        display: block;
        margin-bottom: 20px;
        &:empty {
            display: none;
        }
    }
}

label + .dg-erroForm {
    top: 8px;
    + textarea {
        border: 2px solid red
    }
}

.dg-institucional-atendimento-row > div {
    word-break: break-word;
}

.dg-institucional-atendimento-row .dg-form-control {
    clear: both
}

@media (max-width: 991px) {
    .dg-institucional .dg-institucional-atendimento-row {
        p {
            font-size: 8.85pt
        }
    }
}

.dg-institucional-mapa-bloco {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    h2 {
        margin-top: 35px;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 25px;
        color: #333;
        b {
            font-weight: bold;
        }
    }
}
