@{
    ViewData["BodyID"] = "institucional-pagamentos-pg";
}

<!--Conteudo-->
<div class="container">
    @* BreadCrumb *@
    <ul class="dg-institucional-breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">


        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@Html.Domain()/" property="item" typeof="WebPage">
                <span property="name">Home</span>
            </a>
            <meta property="position" content="1">
            <meta property="name" content="Home">
        </li>
      

        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@ViewBag.UrlBreadcrumb" property="item" typeof="WebPage">
                <span property="name">Pagamentos</span>
            </a>
            <meta property="position" content="2">
            <meta property="name" content="Pagamentos">
        </li>
    </ul>
    @* /BreadCrumb *@


    <h1 class="dg-institucional-titulo">Pagamentos</h1>
    <main id="main" class="dg-institucional">

        <p>
            Você pode adquirir nossos produtos de muitas maneiras e com total facilidade e segurança<br>
            Escolha entre as diversas formas de pagamento que a Farmácia Mix oferece a você:
        </p>
        <h2>Cartão de Crédito</h2>
        <p>Utilizamos a plataforma das próprias operadoras de cartão de crédito. Isso passa a ser uma ferramenta mais eficiente na proteção contra fraudes em compras online.</p>
        <p><strong>Bandeiras:</strong> Visa, Amex, Diners, MasterCard, Boleto bancário, Depósito em Conta, VidaLink, E-pharma, Funcional Card e Prev-Saúde</p>
        <h3>Proteção ao Comprador</h3>
        <p>
            - Seus dados são depositados na central das próprias operadoras de cartão de crédito.<br>
            - A empresa gera a autorização de pagamento e a Farmácia Mix inicia o processo de entrega.
        </p>
        <p>É a partir da aprovação de crédito que o prazo de entrega passa a vigorar. Essa é uma forma rápida de processar o pedido, sendo que o pagamento via cartão de crédito também é o meio mais utilizado na loja virtual.</p>
        <p>Ao optar por cartão de crédito como forma de pagamento, você também poderá parcelar suas compras de acordo com o valor do seu pedido e com as condições oferecidas no site diariamente.</p>
        <p>Ao optar pela alternativa, você também poderá parcelar suas compras de acordo com o valor do seu pedido e com as condições oferecidas no site diariamente. Verifique na ficha do produto o parcelamento disponível para cada item e fique atento às promoções expostas em nossa Home Page.</p>
        <p>No geral, seu cartão possui um limite de compras estabelecido por sua administradora. Para que sua solicitação seja aprovada, é necessário que o limite disponível seja igual ou superior ao valor total da compra e não de cada parcela.</p>
        <p>Sendo assim, alguns pedidos poderão ser recusados por ultrapassarem esse limite, não cabendo à Farmácia Mix a responsabilidade pela reprovação.</p>
        <h2>Boleto Bancário</h2>
        <p>Esta opção não permite parcelamento. Ao finalizar um pedido, o sistema emitirá um boleto bancário na sua tela. Imprima o documento e pague em qualquer banco. O pagamento por boleto é válido apenas para compras à vista.</p>
        <p>Com isso, a confirmação do processo é feita automaticamente pelos bancos em até 3 (três) dias úteis, o que não é preciso enviar-nos qualquer notificação. Se você pagar seu boleto com cheque, acrescente mais 4 dias úteis ao prazo de entrega de seu pedido. Este período corresponde ao tempo para confirmação do recebimento do valor por parte do banco.</p>
        <h2>Depósito e Transferência Bancária</h2>
        <p>Trabalhamos com o Banco Bradesco. Todos os dados da nossa empresa serão fornecidos no momento do fechamento do pedido. O valor a ser creditado deverá ser exatamente o valor do pedido acrescido do frete, como descrito no "valor total" na tela de finalização da compra.</p>
        <p>A confirmação de pagamento poderá ocorrer em até 2 dias úteis, dependendo da forma escolhida para remessa de valores.</p>
        <p>Caso haja qualquer dúvida, informe sempre o número do seu pedido.</p>
        <p>Nossa equipe estará pronta para auxiliá-lo a desfrutar de uma compra totalmente segura.</p>
    </main>
</div>
@Html.Raw(@ViewBag.SEOOrganization)
<!--Conteudo-->

@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets/css/Institucional.css", false);
}