@{
    ViewData["BodyID"] = "institucional-politica-de-privacidade-pg";
}

<!--Conteudo-->
<div class="container">
    @* BreadCrumb *@
    <ul class="dg-institucional-breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">

        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@Html.Domain()/" property="item" typeof="WebPage">
                <span property="name">Home</span>
            </a>
            <meta property="position" content="1">
            <meta property="name" content="Home">
        </li>
       

        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@ViewBag.UrlBreadcrumb" property="item" typeof="WebPage">
                <span property="name">Política de Privacidade</span>
            </a>
            <meta property="position" content="1">
            <meta property="name" content="Política de Privacidade">
        </li>
    </ul>
    @* /BreadCrumb *@


    <h1 class="dg-institucional-titulo">Política de <strong>Privacidade</strong></h1>
    <main id="main" class="dg-institucional dg-institucional-privacidade">


        <p>A Farmácia Mix tem como compromisso o respeito pela privacidade de seus clientes e usuários de nosso website, bem como a proteção e a segurança dos seus dados pessoais.</p>
        <p>Para que possamos melhorar sua experiência em nosso site, bem como oferecer nossos produtos e serviços precisamos tratar alguns dados pessoais.</p>
        <p>Nesse sentido, a presente Política de Privacidade visa informá-los sobre como os seus dados pessoais serão coletados, utilizados, transferidos, compartilhados e armazenados.</p>

        <p><em><strong>É importante que esta Política de Privacidade seja lida com atenção, para que você esteja ciente de como e por que estamos utilizando as suas informações.</strong></em></p>

        <p>
            A presente Política de Privacidade está dividida da seguinte forma para facilitar a sua compreensão:
        </p>
        <nav>
            <ul>
                <li><a href="#indice-1">1. INFORMAÇÕES QUE COLETAMOS</a></li>
                <li><a href="#indice-2">2. PARA QUE UTILIZAMOS SUAS INFORMAÇÕES</a></li>
                <li><a href="#indice-3">3. SOBRE O ACESSO AOS SEUS DADOS PESSOAIS</a></li>
                <li><a href="#indice-4">4. SOBRE O COMPARTILHAMENTO DE DADOS</a></li>
                <li><a href="#indice-5">5. MEDIDAS DE SEGURANÇA ADOTADAS</a></li>
                <li><a href="#indice-6">6. RETENÇÃO E DESCARTE</a></li>
                <li><a href="#indice-7">7. SEUS DIREITOS</a></li>
                <li><a href="#indice-8">8. ALTERAÇÕES DA DECLARAÇÃO DE PRIVACIDADE</a></li>
                <li><a href="#indice-9">9. RECLAMAÇÕES</a></li>
            </ul>
        </nav>
        <p></p>
        <p>
            Qualquer dúvida em relação à presente Política de Privacidade poderá ser esclarecida entrando em contato pelo e-mail: <strong>dpo@farmaciamix.com.br</strong>, indicando como assunto “Assunto– Política de Privacidade”.
        </p>
        <h2 id="indice-1"><strong>1.</strong>	INFORMAÇÕES QUE COLETAMOS, FINALIDADE E BASE LEGAL</h2>
        <div class="dg-table-customizada">
            <table>
                <thead>
                    <tr>
                        <th class="dg-mobile-hide">DADOS PESSOAS COLETADOS</th>
                        <th class="dg-mobile-hide">FINALIDADE</th>
                        <th class="dg-mobile-hide">BASE LEGAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Cadastro no website para realização de compras online.</li>
                                <li><strong>Finalidade: </strong> CPF, e-mail, nome, sobrenome, sexo, data de nascimento, perguntamos se você possui filhos, telefone residencial, celular e telefone comercial, e endereço e informações do seu cartão de crédito ou dados bancários.</li>
                                <li><strong>Base Legal: </strong> Execução de Contrato</li>
                            </ul>
                            <span class="dg-mobile-hide">Cadastro no website para realização de compras online.</span>
                        </td>
                        <td class="dg-mobile-hide">CPF, e-mail, nome, sobrenome, sexo, data de nascimento, perguntamos se você possui filhos, telefone residencial, celular e telefone comercial, e endereço e informações do seu cartão de crédito ou dados bancários.</td>
                        <td class="dg-mobile-hide">Execução de Contrato</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Cadastro no site para recebimento de comunicados e novidades</li>
                                <li><strong>Finalidade: </strong> E-mail</li>
                                <li><strong>Base Legal: </strong> Consentimento</li>
                            </ul>
                            <span class="dg-mobile-hide">Cadastro no site para recebimento de comunicados e novidades</span>
                        </td>
                        <td class="dg-mobile-hide">E-mail</td>
                        <td class="dg-mobile-hide">Consentimento</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Ingressar e defender a Farmácia Mix em ações judiciais, administrações arbitrais</li>
                                <li><strong>Finalidade: </strong> Nome Completo, CPF, RG (número, data de emissão e órgão expedidor), Processos em andamento/concluídos envolvendo o titular</li>
                                <li><strong>Base Legal: </strong> Exercício Regular de Direitos em processo Judicial</li>
                            </ul>
                            <span class="dg-mobile-hide">Ingressar e defender a Farmácia Mix em ações judiciais, administrações arbitrais</span>
                        </td>
                        <td class="dg-mobile-hide">Nome Completo, CPF, RG (número, data de emissão e órgão expedidor), Processos em andamento/concluídos envolvendo o titular</td>
                        <td class="dg-mobile-hide">Exercício Regular de Direitos em processo Judicial</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Ações de Marketing Direcionadas</li>
                                <li><strong>Finalidade: </strong> Primeiro nome, Idade, Gênero, Nacionalidade, CPF, RG (número, data de emissão e órgão expedidor), Endereço Residencial, Telefone Residencial, Número de fax Residencial, E-mail pessoal, Número de celular pessoal. Endereço comercial, Telefone comercial, Fax comercial, E-mail comercial, Celular comercial, Preferência e Histórico de compra, Preferências de navegação na internet, Perfil comportamental.</li>
                                <li><strong>Base Legal: </strong> Consentimento</li>
                            </ul>
                            <span class="dg-mobile-hide">Ações de Marketing Direcionadas</span>
                        </td>
                        <td class="dg-mobile-hide">Primeiro nome, Idade, Gênero, Nacionalidade, CPF, RG (número, data de emissão e órgão expedidor), Endereço Residencial, Telefone Residencial, Número de fax Residencial, E-mail pessoal, Número de celular pessoal. Endereço comercial, Telefone comercial, Fax comercial, E-mail comercial, Celular comercial, Preferência e Histórico de compra, Preferências de navegação na internet, Perfil comportamental.</td>
                        <td class="dg-mobile-hide">Consentimento</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Gravação de ligação telefônica</li>
                                <li><strong>Finalidade: </strong> Nome completo, CPF, RG (número, data de emissão e órgão expedidor), Endereço comercial, Telefone comercial, E-mail comercial, Celular comercial, E-mail (conteúdo), MAC address e/ou Número de série, Endereço de IP, Modelo do aparelho / Versão do sistema operacional do dispositivo, Áudio</li>
                                <li><strong>Base Legal: </strong> Obrigação Legal ou Regulatória DECRETO Nº 6.523, DE 31 DE JULHO DE 2008</li>
                            </ul>
                            <span class="dg-mobile-hide">Gravação de ligação telefônica</span>
                        </td>
                        <td class="dg-mobile-hide">Nome completo, CPF, RG (número, data de emissão e órgão expedidor), Endereço comercial, Telefone comercial, E-mail comercial, Celular comercial, E-mail (conteúdo), MAC address e/ou Número de série, Endereço de IP, Modelo do aparelho / Versão do sistema operacional do dispositivo, Áudio</td>
                        <td class="dg-mobile-hide">Obrigação Legal ou Regulatória DECRETO Nº 6.523, DE 31 DE JULHO DE 2008</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Avaliação de fraude em pedidos</li>
                                <li><strong>Finalidade: </strong> Nome completo<br>Nome do Mãe, Nome do Pai, CPF, RG (número, data de emissão e órgão expedidor), CNH (número, data de emissão e órgão expedidor), Endereço Residencial, Telefone Residencial, E-mail pessoal, Número de celular pessoal, Mídias sociais, Ocupação/Cargo, Endereço comercial, Telefone comercial, E-mail comercial, Celular comercial, Histórico de transações financeiras, Score de crédito, Geolocalização, Endereço de IP, Número do cartão, Nome do titular do cartão, Data de validade, Número de registro médico - CRM do médico</li>
                                <li><strong>Base Legal: </strong> Legítimo Interesse</li>
                            </ul>
                            <span class="dg-mobile-hide">Avaliação de fraude em pedidos</span>
                        </td>
                        <td class="dg-mobile-hide">Nome completo<br>Nome do Mãe, Nome do Pai, CPF, RG (número, data de emissão e órgão expedidor), CNH (número, data de emissão e órgão expedidor), Endereço Residencial, Telefone Residencial, E-mail pessoal, Número de celular pessoal, Mídias sociais, Ocupação/Cargo, Endereço comercial, Telefone comercial, E-mail comercial, Celular comercial, Histórico de transações financeiras, Score de crédito, Geolocalização, Endereço de IP, Número do cartão, Nome do titular do cartão, Data de validade, Número de registro médico - CRM do médico</td>
                        <td class="dg-mobile-hide">Legítimo Interesse</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Suporte de compra, acompanhamento do pedido, dúvidas gerais e atendimento de reclamações e sugestões</li>
                                <li><strong>Finalidade: </strong> Nome completo, CPF, Endereço Residencial, Telefone Residencial, E-mail pessoal, Número de celular pessoal, Mídias sociais, Endereço comercial, Telefone comercial, E-mail comercial, Celular comercial Dados bancários (banco, agência e conta) (para reembolso / devoluções), Histórico de transações financeiras (cobrança duplicada, estorno), Endereço de IP (pode acontecer do cliente estar bloqueado para compras e solicita IP para possível desbloqueio), Número do cartão, Nome do titular do cartão, Data de validade.</li>
                                <li><strong>Base Legal: </strong> Execução de Contrato</li>
                            </ul>
                            <span class="dg-mobile-hide">Suporte de compra, acompanhamento do pedido, dúvidas gerais e atendimento de reclamações e sugestões</span>
                        </td>
                        <td class="dg-mobile-hide">Nome completo, CPF, Endereço Residencial, Telefone Residencial, E-mail pessoal, Número de celular pessoal, Mídias sociais, Endereço comercial, Telefone comercial, E-mail comercial, Celular comercial Dados bancários (banco, agência e conta) (para reembolso / devoluções), Histórico de transações financeiras (cobrança duplicada, estorno), Endereço de IP (pode acontecer do cliente estar bloqueado para compras e solicita IP para possível desbloqueio), Número do cartão, Nome do titular do cartão, Data de validade.</td>
                        <td class="dg-mobile-hide">Execução de Contrato</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Avaliação de possíveis inconformidades contábeis</li>
                                <li><strong>Finalidade: </strong> Primeiro nome, Nome do meio, Sobrenome, Data e Local de Nascimento, Nome do Mãe, CPF, RG (número, data de emissão e órgão expedidor), Pensão Alimentícia, Endereço Residencial, Telefone Residencial, Número de fax Residencial, E-mail pessoal, Número de celular pessoal, Ocupação/Cargo, Número de Identificação do Empregador. Ex: Matrícula, Número de Identificação de pagamento de imposto de renda (para disponibilização do informe de rendimento), Dados bancários (banco, agência e conta), Histórico de transações financeiras, Salário e outros rendimentos.</li>
                                <li><strong>Base Legal: </strong> Obrigação legal ou regulatória para a revisão de lançamentos contábeis (Artigo 1.179 da Lei 10.406/2002 - Novo Código Civil) e INSTRUÇÃO NORMATIVA RFB Nº 1774, DE 22 DE DEZEMBRO DE 2017.</li>
                            </ul>
                            <span class="dg-mobile-hide">Avaliação de possíveis inconformidades contábeis</span>
                        </td>
                        <td class="dg-mobile-hide">Primeiro nome, Nome do meio, Sobrenome, Data e Local de Nascimento, Nome do Mãe, CPF, RG (número, data de emissão e órgão expedidor), Pensão Alimentícia, Endereço Residencial, Telefone Residencial, Número de fax Residencial, E-mail pessoal, Número de celular pessoal, Ocupação/Cargo, Número de Identificação do Empregador. Ex: Matrícula, Número de Identificação de pagamento de imposto de renda (para disponibilização do informe de rendimento), Dados bancários (banco, agência e conta), Histórico de transações financeiras, Salário e outros rendimentos.</td>
                        <td class="dg-mobile-hide">Obrigação legal ou regulatória para a revisão de lançamentos contábeis (Artigo 1.179 da Lei 10.406/2002 - Novo Código Civil) e INSTRUÇÃO NORMATIVA RFB Nº 1774, DE 22 DE DEZEMBRO DE 2017.</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Cobrança</li>
                                <li><strong>Finalidade: </strong> Primeiro nome, Nome do meio, Sobrenome, Idade, Data e Local de Nascimento, Gênero, Nacionalidade Nome do Mãe, Nome do Pai, CPF, RG (número, data de emissão e órgão expedidor), CNH (número, data de emissão e órgão expedidor), Número de passaporte, Endereço Residencial, Telefone Residencial, E-mail pessoal, Número de celular pessoal, Dados bancários (banco, agência e conta), Histórico de transações financeiras (adimplência e inadimplência), Score de crédito, Dados de renda familiar mensal e patrimônio, Registro de ligações (principalmente cobranças), Número do cartão, Nome do titular do cartão, Data de validade, Número CVV, CVC2, CID, Tratamento médico, Diagnóstico médic</li>
                                <li><strong>Base Legal: </strong> Execução de Contrato e Exercício regular de Direito em Contrato (dados pessoais sensíveis)</li>
                            </ul>
                            <span class="dg-mobile-hide">Cobrança</span>
                        </td>
                        <td class="dg-mobile-hide">Primeiro nome, Nome do meio, Sobrenome, Idade, Data e Local de Nascimento, Gênero, Nacionalidade Nome do Mãe, Nome do Pai, CPF, RG (número, data de emissão e órgão expedidor), CNH (número, data de emissão e órgão expedidor), Número de passaporte, Endereço Residencial, Telefone Residencial, E-mail pessoal, Número de celular pessoal, Dados bancários (banco, agência e conta), Histórico de transações financeiras (adimplência e inadimplência), Score de crédito, Dados de renda familiar mensal e patrimônio, Registro de ligações (principalmente cobranças), Número do cartão, Nome do titular do cartão, Data de validade, Número CVV, CVC2, CID, Tratamento médico, Diagnóstico médico.td>
                        <td class="dg-mobile-hide">Execução de Contrato e Exercício regular de Direito em Contrato (dados pessoais sensíveis)</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Realização do atendimento aos clientes nos ambientes de loja física e televendas, assessorando o cliente com a seleção dos itens, dúvidas e dispensação. Cadastro do cliente na loja física: Solicitação direta de cadastro ao cliente. Cadastro de cliente no televendas: Entrega do medicamento/ produto e emissão de nota.</li>
                                <li><strong>Finalidade: </strong> Primeiro nome, Nome do meio, Sobrenome, Apenas iniciais, Idade, Data e Local de Nascimento, Gênero, CPF, RG (número, data de emissão e órgão expedidor), Endereço Residencial, Telefone Residencial, Número de fax Residencial, E-mail pessoal, Número de celular pessoal, Endereço comercial, Telefone comercial, Fax comercial, E-mail comercial, Celular comercial, Dados bancários (banco, agência e conta) (ex: casos de devolução, comprovante de depósito), Histórico de transações financeiras, Score de crédito, Consulta de cheques via Personal cheque, Preferência de compra (mesmo que a pessoa não solicite o cadastro), Número do cartão, Nome do titular do cartão, Data de validade, Número CVV (televendas), Tratamento médico, Diagnóstico médico, Histórico médico, Número de prescrição médica, Acesso total a prescrições médicas do paciente.</li>
                                <li><strong>Base Legal: </strong> Execução de Contrato e Exercício regular de Direito em Contrato (dados pessoais sensíveis)</li>
                            </ul>
                            <span class="dg-mobile-hide">Realização do atendimento aos clientes nos ambientes de loja física e televendas, assessorando o cliente com a seleção dos itens, dúvidas e dispensação. Cadastro do cliente na loja física: Solicitação direta de cadastro ao cliente. Cadastro de cliente no televendas: Entrega do medicamento/ produto e emissão de nota.</span>
                        </td>
                        <td class="dg-mobile-hide">Primeiro nome, Nome do meio, Sobrenome, Apenas iniciais, Idade, Data e Local de Nascimento, Gênero, CPF, RG (número, data de emissão e órgão expedidor), Endereço Residencial, Telefone Residencial, Número de fax Residencial, E-mail pessoal, Número de celular pessoal, Endereço comercial, Telefone comercial, Fax comercial, E-mail comercial, Celular comercial, Dados bancários (banco, agência e conta) (ex: casos de devolução, comprovante de depósito), Histórico de transações financeiras, Score de crédito, Consulta de cheques via Personal cheque, Preferência de compra (mesmo que a pessoa não solicite o cadastro), Número do cartão, Nome do titular do cartão, Data de validade, Número CVV (televendas), Tratamento médico, Diagnóstico médico, Histórico médico, Número de prescrição médica, Acesso total a prescrições médicas do paciente.</td>
                        <td class="dg-mobile-hide">Execução de Contrato e Exercício regular de Direito em Contrato (dados pessoais sensíveis)</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Dados Pessoas Coletados: </strong>Avaliação Técnica dos Receituários Médicos e liberação dos medicamentos controlados.</li>
                                <li><strong>Finalidade: </strong> Primeiro nome, Nome do meio, Sobrenome, Apenas iniciais, Idade, Data e Local de Nascimento, Gênero, CPF, RG (número, data de emissão e órgão expedidor), Endereço Residencial, Telefone Residencial, Número de fax Residencial, Número de celular pessoal, Endereço comercial, Telefone comercial, Fax comercial, Celular comercial Informações sobre Crianças ou Adolescentes: Nome, Idade, Sexo, Endereço, Preferência de compra, Número de registro médico, Tratamento médico, Diagnóstico médico, Histórico médico, Dados de reclamações médicas, Número de prescrição médica, Dados completos do receituário médico do paciente.</li>
                                <li><strong>Base Legal: </strong> Obrigação legal ou regulatória PORTARIA Nº 344, DE 12 DE MAIO DE 1998 - Ministério da Saúde Secretaria de Vigilância em Saúde</li>
                            </ul>
                            <span class="dg-mobile-hide">Avaliação Técnica dos Receituários Médicos e liberação dos medicamentos controlados.</span>
                        </td>
                        <td class="dg-mobile-hide">Primeiro nome, Nome do meio, Sobrenome, Apenas iniciais, Idade, Data e Local de Nascimento, Gênero, CPF, RG (número, data de emissão e órgão expedidor), Endereço Residencial, Telefone Residencial, Número de fax Residencial, Número de celular pessoal, Endereço comercial, Telefone comercial, Fax comercial, Celular comercial Informações sobre Crianças ou Adolescentes: Nome, Idade, Sexo, Endereço, Preferência de compra, Número de registro médico, Tratamento médico, Diagnóstico médico, Histórico médico, Dados de reclamações médicas, Número de prescrição médica, Dados completos do receituário médico do paciente.</td>
                        <td class="dg-mobile-hide">Obrigação legal ou regulatória PORTARIA Nº 344, DE 12 DE MAIO DE 1998 - Ministério da Saúde Secretaria de Vigilância em Saúde</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 id="indice-2"><strong>2.</strong>	PARA QUE UTILIZAMOS SUAS INFORMAÇÕES</h2>
        <p>
            Todos os dados coletados são utilizados para as finalidades demonstradas no Item 01 acima.
        </p>
        <p>
            Além disso, poderemos tratar suas informações pessoais caso seja razoavelmente necessário ou legalmente exigido (i) por motivos de interesse público; (ii) para responder à solicitações de autoridades públicas; (iii) para atender aos requisitos governamentais de relatórios ou registros; ou (iv) para o exercício ou defesa de reivindicações legais.
        </p>

        <h2 id="indice-3"><strong>3.</strong>	SOBRE O ACESSO AOS SEUS DADOS PESSOAIS</h2>

        <p>Sem prejuízo do item 4 abaixo, o acesso às suas informações estará restrito apenas a pessoas com autorizações internas específicas para tanto.</p>

        <p>
            Todos os seus dados são confidenciais e qualquer uso de tais dados estará de acordo com a legislação vigente e com a presente Declaração de Privacidade.
        </p>

        <h2 id="indice-4"><strong>4.</strong> SOBRE O COMPARTILHAMENTO DE DADOS</h2>
        <p>
            Poderemos compartilhar os seus dados pessoais com terceiros para garantir que os propósitos de tratamento sejam cumpridos.
        </p>
        <div class="dg-table-customizada">
            <table>
                <thead>
                    <tr>
                        <th class="dg-mobile-hide">TERCEIRO</th>
                        <th class="dg-mobile-hide">FINALIDADE DO COMPARTILHAMENTO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Empresa de Publicidade</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Cadastro no website para realização de compras online.</li>
                            </ul>
                            <span class="dg-mobile-hide">Empresa de Publicidade</span>
                        </td>
                        <td class="dg-mobile-hide">Cadastro no website para realização de compras online.</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Empresa de Publicidade</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Cadastro no site para recebimento de comunicados e novidades</li>
                            </ul>
                            <span class="dg-mobile-hide">Empresa de Publicidade</span>
                        </td>
                        <td class="dg-mobile-hide">Cadastro no site para recebimento de comunicados e novidades</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Agências governamentais<br>Poder Judiciário<br>Escritórios e consultorias externas</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Ingressar e defender a Farmácia Mix em ações judiciais, administrações arbitrais</li>
                            </ul>
                            <span class="dg-mobile-hide">Agências governamentais<br>Poder Judiciário<br>Escritórios e consultorias externas</span>
                        </td>
                        <td class="dg-mobile-hide">Ingressar e defender a Farmácia Mix em ações judiciais, administrações arbitrais</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Empresa de Publicidade</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Ações de Marketing</li>
                            </ul>
                            <span class="dg-mobile-hide">Empresa de Publicidade</span>
                        </td>
                        <td class="dg-mobile-hide">Ações de Marketing</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Prestadores de Serviços na área de desenvolvimento de sistemas</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Suporte aos usuários internos e externos da Farmácia Mix.</li>
                            </ul>
                            <span class="dg-mobile-hide">Prestadores de Serviços na área de desenvolvimento de sistemas.</span>
                        </td>
                        <td class="dg-mobile-hide">Suporte aos usuários internos e externos da Farmácia Mix.</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Prestadores de Serviços na área de desenvolvimento de sistemas</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Gravação de ligação telefônica</li>
                            </ul>
                            <span class="dg-mobile-hide">Prestadores de Serviços na área de desenvolvimento de sistemas</span>
                        </td>
                        <td class="dg-mobile-hide">Gravação de ligação telefônica</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Degrau Publicidade</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Avaliação de fraude em pedidos</li>
                            </ul>
                            <span class="dg-mobile-hide">Degrau Publicidade</span>
                        </td>
                        <td class="dg-mobile-hide">Avaliação de fraude em pedidos</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Empresa de Publicidade<br>Empresa de Gestão de Relacionamento com o Cliente<br>Transportadoras e empresas de logística</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Suporte de compra, acompanhamento do pedido, dúvidas gerais e atendimento de reclamações e sugestões</li>
                            </ul>
                            <span class="dg-mobile-hide">Empresa de Publicidade<br>Empresa de Gestão de Relacionamento com o Cliente<br>Transportadoras e empresas de logística</span>
                        </td>
                        <td class="dg-mobile-hide">Suporte de compra, acompanhamento do pedido, dúvidas gerais e atendimento de reclamações e sugestões</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Agências governamentais<br>Empresas de auditoria e contabilidade</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Avaliação de possíveis inconformidades contábeis</li>
                            </ul>
                            <span class="dg-mobile-hide">Agências governamentais<br>Empresas de auditoria e contabilidade</span>
                        </td>
                        <td class="dg-mobile-hide">Avaliação de possíveis inconformidades contábeis</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Prestadores de Serviço de Cobrança</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Cobrança</li>
                            </ul>
                            <span class="dg-mobile-hide">Prestadores de Serviço de Cobrança</span>
                        </td>
                        <td class="dg-mobile-hide">Cobrança</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Transportadoras</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Realização do atendimento aos clientes nos ambientes de loja física e televendas, assessorando o cliente com a seleção dos itens, dúvidas e dispensação.<br>Cadastro do cliente na loja física: Solicitação direta de cadastro ao cliente. <br>Cadastro de cliente no televendas: Entrega do medicamento/ produto e emissão de nota.Agências governamentais ANVISA e COVISA</li>
                            </ul>
                            <span class="dg-mobile-hide">Transportadoras</span>
                        </td>
                        <td class="dg-mobile-hide">Realização do atendimento aos clientes nos ambientes de loja física e televendas, assessorando o cliente com a seleção dos itens, dúvidas e dispensação.<br>Cadastro do cliente na loja física: Solicitação direta de cadastro ao cliente. <br>Cadastro de cliente no televendas: Entrega do medicamento/ produto e emissão de nota.Agências governamentais ANVISA e COVISA</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="dg-desktop-hide">
                                <li><strong>Terceiro: </strong>Agências governamentais ANVISA e COVISA</li>
                                <li><strong>Finalide do Compartilhamento: </strong> Avaliação Técnica dos Receituários Médicos e liberação dos medicamentos controlados.</li>
                            </ul>
                            <span class="dg-mobile-hide">Agências governamentais ANVISA e COVISA</span>
                        </td>
                        <td class="dg-mobile-hide">Avaliação Técnica dos Receituários Médicos e liberação dos medicamentos controlados.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>Nos reservamos no direito de fornecer seus dados e informações caso seja requisitado judicialmente para tanto, atos necessários para que estejamos em conformidade com as leis nacionais, ou caso você nos autorize expressamente. </p>


        <h2 id="indice-5"><strong>5.</strong> MEDIDAS DE SEGURANÇA ADOTADAS</h2>

        <p>A Farmácia Mix implementou uma série de Medidas de Segurança, Técnicas e Administrativas necessárias para proteger os Dados Pessoais contra acessos não autorizados, situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou qualquer forma de Tratamento de Dados Pessoais inadequado ou ilícito, de acordo com a tecnologia disponível atualmente.</p>

        <p>A Farmácia Mix cumpre com os seguintes procedimentos internos para proteção de Dados Pessoais</p>

        <p>•	<strong>Confidencialidade</strong>: Todo os envolvidos no tratamento de dados da Farmácia Mix estão sujeitos a total confidencialidade.</p>

        <p>•	<strong>Transparência</strong>: A Farmácia Mix sempre mantém os Titulares dos Dados Pessoais informados sobre as alterações nos procedimentos para Tratamento de Dados Pessoais visando proteger a privacidade e a segurança dos Dados Pessoais, incluindo práticas e políticas. Você pode, a qualquer momento, solicitar informações sobre onde e como os Dados Pessoais são armazenados, protegidos e usados. </p>

        <p>•	<strong>Isolamento</strong>: O acesso aos Dados Pessoais é restrito ao pessoal autorizado individualmente.</p>

        <p>•	<strong>Direitos do Titular dos Dados</strong>: A Farmácia Mix viabiliza os direitos do Titular dos Dados Pessoais de confirmação de existência, acesso, correção, anonimização, bloqueio, eliminação, portabilidade, revogação principalmente fornecendo funções internas para manipulação dos Dados Pessoais, oferecendo, inclusive, a opção de enviar instruções através do Encarregado de privacidade de Dados (DPO).</p>

        <p>•	<strong>Monitoramento</strong>: A Farmácia Mix usa relatórios de segurança para monitorar padrões de acesso para identificar e mitigar ameaças em potencial. As operações administrativas, incluindo o acesso ao sistema, são registradas para fornecer uma trilha de auditoria se alterações não autorizadas ou acidentais forem feitas. O desempenho e a disponibilidade do sistema são monitorados pelos serviços de monitoramento interno e externo. </p>

        <h2 id="indice-6"><strong>6.</strong>	RETENÇÃO E DESCARTE</h2>
        <p>
            Os dados pessoais coletados serão retidos até o término de duração do tratamento quando os dados não forem mais necessários, ou mediante o pedido de revogação pelo titular. Após esse prazo, as informações pessoais serão mantidas pelo período necessário para atender obrigações legais e para o exercício regular dos direitos em juízo ou em esfera administrativa.
        </p>

        <h2 id="indice-7"><strong>7.</strong>	SEUS DIREITOS</h2>

        <p>Seus dados são seus e, portanto, você tem direitos sobre eles.</p>

        <p>Você tem direito de confirmação de tratamento e acesso de dados, direito de correção de dados incompletos, inexatos ou desatualizados e outros direitos (como portabilidade, revogação de consentimento, informação sobre compartilhamento e sobre a possibilidade de não fornecer consentimento e eventuais consequências da negativa, bem como anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados de forma inadequada).</p>

        <p>Os titulares dos dados poderão exercer os seus direitos por meio de comunicação escrita enviada para o e-mail: <strong>dpo@farmaciamix.com.br</strong>, indicando com o assunto: “Assunto - Direitos do titular” especificando:</p>

        <p>
            - Nome completo, número do CPF e endereço de e-mail e, se for o caso, do seu representante;<br>
        </p>
        <p>
            - Direito que deseja exercer;<br>
        </p>
        <p>
            - Data do pedido e assinatura do titular;<br>
        </p>
        <p>
            - Todo documento que possa demonstrar ou justificar o exercício de seu direito.
        </p>

        <p>Para atender seus direitos, precisamos dos dados acima para confirmar que a pessoa que está exercendo esses direitos é de fato você ou uma pessoa que esteja autorizada a agir em seu nome.</p>

        <p>Note que os direitos não são absolutos e nem sempre se aplicam a todos os casos, mas sempre faremos tudo o que pudermos para honrar seus direitos sob as leis de proteção a dados aplicáveis.</p>

        <h2 id="indice-8"><strong>8.</strong>	ALTERAÇÕES DA DECLARAÇÃO DE PRIVACIDADE</h2>

        <p>Esta Declaração de Privacidade pode passar por atualizações. Desta forma, recomendamos visitar periodicamente esta página para que você tenha conhecimento sobre as modificações. Caso sejam feitas alterações relevantes que ensejem novas autorizações suas, tornaremos pública a nova Declaração de Privacidade.</p>
        <p>Esta Declaração de Privacidade foi modificada pela última vez em 17 de fevereiro de 2021.</p>


        <h2 id="indice-9"><strong>9.</strong>	RECLAMAÇÕES</h2>
        <p>Você também tem o direito de peticionar perante a Autoridade Nacional de Proteção de Dados, autoridade responsável por zelar pelo respeito dos direitos dos titulares de dados pessoais no Brasil e fiscalizar o cumprimento da Lei Geral de Proteção de Dados Pessoais (Lei nº 13.709/18 ou LGPD). Acesse em: https://www.gov.br/anpd/pt-br.</p>


    </main>
</div>
@Html.Raw(@ViewBag.SEOOrganization)
<!--Conteudo-->

@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets/css/Institucional.css", false);
}