.dg-institucional-mapa-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -($espacamentoGrid);
    margin-left: -($espacamentoGrid);
    margin-right: -($espacamentoGrid);

    .dg-institucional-mapa-item {
        margin-top: $espacamentoGrid * 2;
        padding-left: $espacamentoGrid;
        padding-right: $espacamentoGrid;
        @media (min-width: $screen-md) {
            width: 33.333%
        }
        @media (max-width: $screen-md - 1) {
            width: 50%;
        }
        @media (max-width: $screen-sm - 1) {
            width: 100%;
        }
    }
    .dg-institucional-mapa-card {
        display: flex;
        flex-direction: column;
        max-height: 250px;
        height: 100%;
        font-size: 12px;
        color: #6B6B7B;
        padding: 10px 20px;
        background-color: #f5f7f9;
        strong {
            color: #094684
        }
        @media (max-width: $screen-sm - 1) {
            max-height: 300px;
        }
    }
    a {
        text-decoration: none
    }
    text-decoration: none;
    .dg-institucional-mapa-lista {
        overflow-y: auto;
        flex: 1;
        a {
            color: #6B6B7B;
            &:hover {
                text-decoration: underline;
            }
        }
        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b3b3b3;
            border-radius: 10px;
            outline: none;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: #e5e5e5;
        }
    }
}

.dg-institucional-nuvem {
    &-lista {
        display: flex;
        flex-wrap: wrap;
        margin-top: -5px;
    }
    &-item {
        margin-top: 5px;
        margin-right: 2px;
        a {
            display: inline-block;
            background: #eff2f5;
            border: 1px solid #eff2f5;
            border-radius: 12px;
            color: #848484;
            font-size: 12px;
            height: 24px;
            line-height: 22px;
            text-decoration: none;
            padding: 0 18px;
        }
    }
}