// Topo


.dg-busca-topo {
    .dg-titulo {
        color: #6B6B7B;
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 30px;
        strong {
            font-weight: 600;
            color: #FD3141;
        }
        display: block;
        position: relative;
    }
}


.dg-categoria-subtexto {
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #555;
    
    p {
        margin-bottom: 10px;
    }
    strong, b {
        font-weight: 600;
    }
    
    br {   content: " ";
        display: block;
        margin-bottom: 10px;
    }
    
    a {
        color: #FF3141;
        font-weight: 600;
    }
}

.dg-busca {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.dg-busca-sidebar {
    width: 25%;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #fff;
    
    .dg-titulo {
        color: #36404B;
        position: relative;
        background: #f5f7f9;
        font-weight: 500;
        padding: 15px 20px;
        width: 100%;
        strong {
            font-weight: 600;
        }
        
        .dg-busca-sidebar-limpar {
            color: #FD3141;
            position: absolute;
            top: 16px;
            right: 15px;
        }
    }
}

.dg-busca-sidebar-titulo {
    color: #FD3141;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
}

.dg-busca-produtos {
    width: 75%;
    padding-left: 20px;
}

.dg-busca-sidebar-listagem {
    font-size: 12px;
    font-weight: 600;
    color: #6B6B7B;
    // padding: 20px;
    


    padding: 10px 15px;
    margin: 10px 5px;
    max-height: 300px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 7px;
        
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #e5e5e5;
        &:hover {
          background: darken(#e5e5e5,5%);  
            cursor: pointer !important;
        }
        
        
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b3b3b3;
        border-radius: 10px;
      outline: none;
        &:hover {
            
            background: #888888;
        }
    }



    
    a {
        color: #6B6B7B;
        display: inline-block;
        padding: 5px 0;
        position: relative;

        img {
            height: 20px;
            max-width: 50px;
            margin-right: 5px;
            position: absolute;
            left: 0;
            right: 0;
        }
        
        &.dg-ativo {
            color: #FD3141;
            
            .dg-busca-sidebar-contagem {
                background: #FD3141;
                color: #fff;
            }
        }
    }

}

.dg-busca-sidebar-listagem-marca {
    a {
        padding-left: 50px;
    }
}

.dg-busca-sidebar-contagem {
    background: #dde6f2;
    font-size: 10px;
    color: #36404B;
    display: inline-block;
    padding: 1px 5px;
    border-radius: 10px;
    margin-left: 5px;
}

.dg-busca-sidebar-letras {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #6B6B7B;
    text-align: center;
    padding: 10px 20px;
    
    li {
        display: inline-block;
    }
    
    a {
        color: #6B6B7B;
        padding: 5px 10px;
        display: block;
        &.dg-ativo {
            color: #FD3141;
        }
        border-radius: 15px;
        
        &:hover, &:focus {
            text-decoration: none;
            background: rgba(0,0,0,0.1);
        }
    }
    
    
}

.dg-busca-sidebar-limpar-filtros {
    padding: 20px 20px;
    background: #f5f7f9;
    a {
        color: #FD3141;
        font-weight: 600;
        font-size: 14px;
    }
}


// Barra de ordem
.dg-busca-ordenacao {
    background: rgba(#fff,0.4);
    border: 1px solid #fff;
    border-radius: 50px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 15px;
    
    .dg-titulo {
        color: #6B6B7B;
        font-size: 12px;
        font-weight: 600;
        width: 20%;
        padding: 15px 20px 10px 20px;
        margin: 0;
    }
    
    .dg-busca-paginacao {
        padding-top: 13px;
        width: 40%;
        margin: 0;
    }
   
}


    


.dg-busca-ordenacao-item {
    color: #7C798B;
    font-size: 12px;
    opacity: 0.6;
    width: 20%;
    position: relative;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    &:hover, &:focus {
        opacity: 1;
        text-decoration: none;
        color: #7C798B;
    }
    .dg-icon {
        position: absolute;
        top: 18px;
        left: 0;
        font-size: 10px;
    }
}



.dg-busca-paginacao {
    width: 100%;
    margin: 30px 0;

    
    > ul {
        max-width: 180px;
        margin: 0 auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        > li {
            margin: 0 5px;
            width: 23px;
            height: 23px;
            background: #E4E5EC;
            text-align: center;
            
            font-size: 10px;
            font-weight: 600;
            border-radius: 50%;
            vertical-align: top;
            
            > a, > span {
                vertical-align: top;
                display: block;
                width: 23px;
                height: 23px;
                text-align: center;
                border-radius: 50%;
                padding-top: 5px;
            }
            
            > a {
                color: #8b8a93;
                
                &:hover, &:focus {
                    color: #fff;
                    background: #8b8a93;
                    text-decoration: none;
                }
            }
            
            > span {
                color: #fff;
                background: #FF3141;
            }
        }
        
        .dg-busca-paginacao-etc {
            > span {
                background: transparent;
                color: #FF3141;
                font-weight: bold;
            }
        }
    }
}


@media(min-width: 992px) and (max-width: 1080px) {
    .dg-busca-ordenacao {
        .dg-busca-paginacao {
            display: none;
        }
    }
}


// Ordenação de banners
.dg-busca-banners {
    order: 7;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    
    a {
        display: inline-block;
        &:hover {
            opacity: 0.8;
        }
    }
}

.dg-busca-listagem .dg-boxproduto {
    order: 8;
    
    &:nth-child(1) {
        order: 1;
    }
    
    &:nth-child(2) {
        order: 2;
    }
    
    &:nth-child(3) {
        order: 3;
    }
    
    &:nth-child(4) {
        order: 4;
    }
    
    &:nth-child(5) {
        order: 5;
    }
    
    &:nth-child(6) {
        order: 6;
    }
}


.dg-busca-paginacao {
    order: 20;
}







// Versão Mobile



@media(max-width: 991px) {
    .dg-busca-sidebar, .dg-busca-ordenacao {
        display: none;
    }

    .dg-busca-breadcrumb {
        font-size: 9px;
    }
    
    .dg-busca-titulo {
        width: 100%;
    }
    
    .dg-busca-desc {
        width: 100%;
    }
    
    .dg-busca {
        width: 100%;
    }
    
    .dg-busca-desc {
        display: none;
    }
    
    .dg-busca-topo {
        margin-bottom: 30px;
        margin-top: -25px;
    padding-top: 10px;
    }
    
    .dg-busca-produtos {
        padding-left: 0;
        width: 100%;
    }
    
    .dg-boxproduto-lista.dg-3 {
        margin-left: -1.5%;
        margin-right: -1.5%;
        .dg-boxproduto {
            width: 47%;
            margin-left: 1.5%;
            margin-right: 1.5%;
        }
    }
}

@media(max-width:420px) {
    .dg-boxproduto-lista.dg-3 {
        .dg-boxproduto {
            width: 100%;
            margin-left: 2%;
            margin-right: 2%;
        }
    }
}




// Botões filtro mobile
.dg-busca-menumobile {
    display: none;
    @media(max-width: 991px) {
        display: block;
    }


    > ul {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        > li {
            width: 50%;
            
            &:first-child {
                padding-right: 10px;
            }
            &:last-child {
                padding-left: 10px;
            }
            
            > a {
                display: block;
                text-align: center;
                background: rgba(255, 255, 255, 0.4);
                border: 1px solid #fff;
                padding: 10px 0;
                margin-bottom: 20px;
                border-radius: 50px;
                color: #6B6B7B;
                font-size: 14px;
                font-weight: 600;
                vertical-align: top;

                &:hover, &:focus {
                    text-decoration: none;
                    color: #6B6B7B;
                }
                
                img {
                    vertical-align: top;
                    margin-top: 5px;
                    margin-right: 5px;
                    max-height: 15px;
                }
            }
        }
    }
}







// ORDENAÇÃO MOBILE

@media(max-width: 991px) {
    .dg-busca-ordenacao.dg-ativo {
        display: block;
    }
    
    .dg-busca-ordenacao {
        position: absolute;
        font-size: 14px;
        z-index: 50;
        background: rgba(#fff,0.92);
        border-radius: 0;
        left: -10px;
        top: -70px;
        width: 80%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
        -webkit-animation-name: fadeInLeftCat;
    animation-name: fadeInLeftCat;
        -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
    }
    .dg-busca {
        position: relative;
    }
    
    .dg-busca-ordenacao-item {
        font-size: 15px;
        display: block;
        width: 100%;
        white-space: nowrap;
        br {
            display: none;
        }
        
        opacity: 1;
        margin-bottom: 1px;
        border-bottom: 1px solid #ebe9e9;
        .dg-icon {
            top: 15px;
        }
    }
}


@-webkit-keyframes fadeInLeftCat {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInLeftCat {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}


.dg-busca-ordenacao-voltar {
    display: none;
    
    @media(max-width: 991px) {
        display: block;
            color: #6B6B7B;
            font-size: 12px;
            font-weight: 600;
        // background: red;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        padding: 16px 20px 12px 10px;

        &:hover, &:focus {
            text-decoration: none;
            color: #6B6B7B;
        }
        
        .dg-icon {
            font-size: 11px;
            position: relative;
            top: 1px;
            margin-right: 5px;
        }
    }
}

.dg-busca-sidebar-voltar {
    display: none;
    
    @media(max-width: 991px) {
        display: block;
        
            color: #6B6B7B;
            font-size: 12px;
            font-weight: 600;
        // background: red;
        text-align: left;
        top: 0;
        right: 0;
        width: 50%;
        padding: 16px 20px 12px 10px;

        &:hover, &:focus {
            text-decoration: none;
            color: #6B6B7B;
        }
        
        .dg-icon {
            font-size: 11px;
            position: relative;
            top: 1px;
            margin-right: 5px;
        }
    }
}



.dg-busca-sidebar {
    @media(max-width: 991px) {
        &.dg-ativo {
            display: block;
        }
        position: absolute;
        font-size: 14px;
        z-index: 50;
        background: rgba(255, 255, 255, 0.92);
        border-radius: 0;
        right: -10px;
        top: -70px;
        width: 80%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
        -webkit-animation-name: fadeInRightCat;
        animation-name: fadeInRightCat;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;

    }
}

@-webkit-keyframes fadeInRightCat {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInRightCat {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.dg-busca-listagem-showpages {
    font-size: 12px;
     color: #505E6D;
     font-weight: 500;
     padding-right: 20px;
     padding-bottom: 10px; 
 }

 .dg-busca-ordenacao {
    padding-left: 30px;
    padding-right: 20px;
}

.dg-busca-ordenacao .dg-busca-paginacao {
    >ul {
        max-width: 250px;
        margin: 0 auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}