.dg-404 {
    margin: 105px 0 145px;
    min-height: 315px;
    background-image: url(/assets/img/404.png);
    background-repeat: no-repeat;
    background-position: center left;
    line-height: 2;
    @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
        background-size: 40%
    }
    @media (max-width: $screen-md - 1) {
        background-position: top center;
        padding-top: 56.25%;
        background-size: contain;
        margin: 24px 0;
    }
    p {
        padding-top: 32px;
        max-width: 610px;
        margin-left: auto;
        color: #6B6B7B;
        font-size: 16px;
        @media (max-width: $screen-md - 1) {
            padding-top: 0;
            margin: 0 auto;
            text-align: center;
        }
        strong {
            display: block;
            margin-bottom: 10px;
            color: #36404B;
            font-weight: 600;
            font-size: 21px;
            span {
                color: #FD3141
            }
        }
    }
    a {
        display: block;
        width: 230px;
        height: 45px;
        margin-top: 37px;
        line-height: 45px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 23px;
        background-color: #1EC765;
        color: #fff;
        text-align: center;
        &:hover {
            text-decoration: none;
            background-color: darken(#1EC765, 5%);
        }
        @media (max-width: $screen-md - 1) {
            margin: 20px auto 0;
        }
    }
}