.dg-form-senha-step[data-form-senha-step="2"] {
    .dg-header-minhaconta-modal-conteudo {
        padding-bottom: 20px;
    }
    label {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 48px;
        margin-bottom: 8px;
        padding: 4px 12px;
        box-sizing: border-box;
        background-color: #eff2f5;
        border-radius: 8px;
        line-height: 1;
        > div {
            flex: 1;
        }
        input {
            display: block;
            margin-right: 12px;
        }
        b {
            font-weight: 500;
            font-size: 12px;
        }
    }
    .dg-header-minhaconta-modal-footer-voltar-style {
        @extend .dg-header-minhaconta-modal-footer-voltar-btn;
        padding: 0;
    }
}

.dg-form-senha-step[data-form-senha-step="1"] .dg-header-minhaconta-modal-footer-voltar-btn {
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.dg-form-senha-step[data-form-senha-step="2"], .dg-form-senha-step[data-form-senha-step="3"] {
    .dg-titulo {
        display: block !important
    }
    &:empty {
        display: none;
    }
}

.dg-no__beforeafter {
    &::before, &::after {
        display: none !important;
    }
}

.dg-form-senha-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    &[data-form-senha-step="2"], &[data-form-senha-step="3"] {
        .dg-header-minhaconta-modal-footer {
            border: 0;
            padding: 0;
        }
    }
    &[data-form-senha-step="1"] {
        justify-content: flex-start;
    }
    &[data-form-senha-step="2"] {
        .dg-header-minhaconta-modal-footer-voltar-style, .dg-header-minhaconta-modal-footer-btn {
            width: auto;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

.dg-form-senha-step[data-form-senha-step="3"] {
    &:not(:empty) {
        padding-bottom: 20px;
    }
    .dg-header-minhaconta-modal-conteudo {
        padding-bottom: 0 !important;
    }
    .dg-form-senha-email {
        img {
            display: block;
            margin: 0 auto 20px;
            width: 48px;
        }
        .dg-header-minhaconta-modal-footer-voltar-style {
            @extend .dg-header-minhaconta-modal-footer-voltar-btn;
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: #0a4b8b;
            &:hover, &:focus {
                background-color: lighten(#0a4b8b, 5%);
            }
        }
        .dg-header-minhaconta-modal-footer-reenviar {
            margin-top: 10px;
            font-size: 10px;
            background-color: rgba(0,0,0,0);
            text-decoration: underline;
        }
    }
    .dg-form-senha-celular {
        .dg-input-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            flex-wrap: wrap;
            input {
                display: block !important;
                min-width: auto;
                width: 50px;
                height: 45px;
                margin: 0 4px;
                text-align: center;
                background-color: #d5d9e3;
                border-radius: 10px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .dg-header-minhaconta-modal-footer-btn {
            display: block;
            width: 150px;
            margin: 0 auto 10px;
        }
        .dg-header-minhaconta-modal-footer-reenviar {
            font-size: 10px;
            background-color: rgba(0,0,0,0);
            text-decoration: underline;
        }
        .dg-header-minhaconta-modal-footer-voltar-style {
            @extend .dg-header-minhaconta-modal-footer-voltar-btn;
            width: 150px;
            padding: 0;
            // margin: 8px 0 0;
            margin: 0 auto 10px;
            // font-size: 12px;
            background-color: #969998;
            &:hover, &:focus {
                background-color: lighten(#969998, 5%);
            }
        }
        .dg-wrapper-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 432px) {
                flex-direction: column-reverse;
            }
            button {
                flex-shrink: 0;
                margin: 0 4px !important;
            }
        }
    }
    .dg-form-senha-suporte {
        display: block;
        img {
            display: block;
            margin: 0 auto 20px;
        }
        .dg-header-minhaconta-modal-footer-voltar-style {
            @extend .dg-header-minhaconta-modal-footer-voltar-btn;
            width: 100%;
            padding: 0;
            margin: 8px 0 0;
            background-color: #969998;
            &:hover, &:focus {
                background-color: lighten(#969998, 5%);
            }
        }
    }
}

.dg-header-minhaconta-modal-esquecisenha {
    div[data-form-senha-step="1"] {
        @media (min-width: 992px) {
            .dg-header-minhaconta-modal-conteudo>div>input {
                padding-left: 28px;
            }
        }
    }
}

@media (max-width: 991px) {
    .dg-header-menu-login .dg-header-minhaconta-modal {
        .dg-form-senha-step[data-form-senha-step="1"] {
            .dg-header-minhaconta-modal-footer-voltar-btn {
                max-width: none;
                width: auto;
                padding-right: 8px;
                padding-left: 8px;
                font-size: 14px;
            }
        }
        .dg-form-senha-step[data-form-senha-step="2"],
        .dg-form-senha-step[data-form-senha-step="3"] {
            .dg-header-minhaconta-modal-footer {
                padding: 0;
            }
        }
        .dg-form-senha-step[data-form-senha-step="3"] {
            button {
                max-width: 200px !important;
                padding: 0 10px;
                width: auto !important;
                margin-top: 10px !important;
                margin-left: auto !important;
                margin-right: auto !important;
                display: block !important;
            }
            .dg-form-senha-celular .dg-input-wrapper input {
                margin: 0;
                width: 41px;
            }
        }
    }
}

@media (max-width: 432px) {
    .dg-header-menu-login .dg-header-minhaconta-modal {
        .dg-form-senha-step[data-form-senha-step="3"] {
            button.dg-header-minhaconta-modal-footer-reenviar {
                margin-top: 20px !important;
            }
        }
    }
}