@media(max-width:991px) {
    .dg-minicarrinho, .dg-minicarrinho-overlay {
        display: none;
    }
}

@-webkit-keyframes fadeInMinicarrinho {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeInMinicarrinho {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeInDownMinicarrinho {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}

@keyframes fadeInDownMinicarrinho {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}


@media(min-width:992px) {
    .dg-minicarrinho {
        display: none;
        position: absolute;
        z-index: 30;
        right: 0;
        top: 20px;
        background: #FFFFFF;
        border-radius: 10px;
        width: 610px;
        text-align: left;
        color: #36404B;
        &.dg-animacao {
            -webkit-animation-name: fadeInDownMinicarrinho;
            animation-name: fadeInDownMinicarrinho;
        }
        -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
        
        
        > .dg-titulo {
            font-size: 16px;
            color: #6B6B7B;
            padding: 15px 20px;
            width: 100%;
            text-align: left;
            border-bottom: 1px solid rgba(#E4E5EC,0.8);
            strong {
                font-weight: 600;
                color: #F03443;
            }
        }
    }
    
    .dg-minicarrinho-overlay {
        display: none;
        background: rgba(#EFF2F5,0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        
        &.dg-animacao {
            -webkit-animation-name: fadeInMinicarrinho;
            animation-name: fadeInMinicarrinho;
        }
        -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    
    .dg-minicarrinho-item {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 10px 20px;
    }
    
    .dg-minicarrinho-item-img {
        width: 10%;
        text-align: center;
        
        a {
            &:hover {
                opacity: 0.8;
            }
        }
    }
    
    .dg-minicarrinho-item-produto {
        width: 48%;
        color: #36404B;
        font-weight: 600;
        line-height: 1.2;
        padding: 10px 10px 5px 10px;
        a {
            color: #36404B;
        }
    }
    
    .dg-minicarrinho-item-qtd {
        position: relative;
        width: 85px;
        z-index: 1;
        transition: 300ms ease all;
        margin-top: 5px;
    }
    
    .dg-minicarrinho-item-total {
        text-align: center;
        font-size: 16px;
        width: 20%;
        padding-top: 13px;
    }
    
    .dg-minicarrinho-item-apagar {
        text-align: center;
        padding: 14px 10px 0 10px;
        color: #BEBEC3;
        &:hover, &:focus {
            color: #FF3141;
            text-decoration: none;
        }
        font-size: 18px;
        
        .dg-tooltip {
            left: auto;
            right: 0;
            bottom: 70%;
            
            &:before {
                left: auto;
                right: 15px;
                

            }
        }
        
        &.dg-tooltip-hover:hover .dg-tooltip, &.dg-tooltip-hover:focus .dg-tooltip {
            bottom: 90%;
        }
    }
    
    
    .dg-minicarrinho-lista {
        padding-top: 5px;
        max-height: 218px;
        overflow-y: auto;
        min-height: 76px
    }
    
    
    
    
    
    
    
    

    .dg-minicarrinho-item-qtd-input {
        background: #E9ECF0;
        text-align: center;
        width: 100%;
        border-radius: 15px;
        height: 25px;

        &:hover, &:focus {
            background: darken(#E9ECF0,5%);
        }

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        &[type=number] {
          -moz-appearance: textfield;
        }
    }


    .dg-minicarrinho-item-qtd-menos, .dg-minicarrinho-item-qtd-mais {
        position: absolute;
        top: 2px;
        z-index: 1;
        width: 21px;
        height: 21px;
        text-align: center;
        background-color: #BEBEC3;
        border-radius: 50%;
        color: #fff;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        &:hover, &:focus {
            color: #fff;
            text-decoration: none;
        }

    }

    .dg-minicarrinho-item-qtd-menos {
        left: 2px;
        background-color: #BEBEC3;
        &:hover, &:focus {
            background-color: lighten(#BEBEC3,7%);
        }


        &:active {
            background-color: lighten(#BEBEC3,14%);
        }
    }

    .dg-minicarrinho-item-qtd-mais {
        right: 2px;
        line-height: 21px;
        background-color: #01ca60;
        &:hover, &:focus {
            background-color: darken(#01ca60,7%);
        }

        &:active {
            background-color: darken(#01ca60,14%);
        }
    }
    
    
    .dg-minicarrinho-footer {
        background: #36404B;
        color: #fff;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
        padding: 20px 30px 20px 30px;
    }
    
    .dg-minicarrinho-total {
        font-size: 15px;
        width: 60%;
        strong {
            font-size: 17px;
            font-weight: 600;
            display: block;
        }
    }
    
    .dg-minicarrinho-finalizar {
        width: 40%;
    }
    
    .dg-minicarrinho-btn {
        background: #1EC765;
        color: #fff;
        font-weight: 600;
        text-align: center;
        border-radius: 20px;
        font-size: 16px;
        padding: 10px 20px;
        display: block;
        
        &:hover, &:focus {
            background: darken(#1EC765,10%);
            color: #fff;
            text-decoration: none;
        }
    }



    .dg-minicarrinho-sidebar {
        width: 99%;
        margin-bottom: 5px;
        margin-top: 5px;
        &::-webkit-scrollbar {
          width: 5px;
            
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: #e5e5e5;
            
            
        }

        &::-webkit-scrollbar-thumb {
          background-color: #b3b3b3;
            border-radius: 10px;
          outline: none;
            &:hover {
                background: #888888;
            }
        }
    }
    
    
    
    
}

.dg-minicarrinho-vazio {
    text-align: center;   
   padding: 15px 20px;
}


.dg-minicarrinho-item-qtd {
    position: relative;
}

.dg-minicarrinho-item-qtd-estoque {
    position: relative;
    background-color: #fd3141;
    padding: 2px 9px;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 30px;
    white-space: nowrap;
    margin-top: 0;
    &:after {
        border-color: #0e3d90 transparent transparent;
        border-style: solid;
        border-width: 10px 10px 0;
        bottom: -10px;
        content: "";
        height: 0;
        left: 35px;
        position: absolute;
        width: 0;
        border-color: transparent transparent #fd3141;
        border-width: 0 10px 10px;
        top: -4px;
    }
}