.dg-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100090;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dg-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(3, 25, 47, 0.6);
    backdrop-filter: blur(2px);
}


.dg-modal-container {
    position: relative;
    z-index: 2;
    background: #EFF2F5;
    border: 1px solid #e0e0e0;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    
    @media(min-width: 992px) {
        min-width: 600px;
        max-width: 90%;
    }
    
    @media(max-width: 991px) {
        width: 90vw;
    }
    
    
}

.dg-modal-fechar {
    position: absolute;
    z-index: 3; 
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    line-height: 22px !important;
    border-radius: 50%;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    font-size: 14px;
    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
        background: #555;
    }
}


.dg-modal-conteudo {
    max-height: 90vh;
    padding: 20px 30px;
    overflow: hidden;
    min-height: 100px;
    
    @media (max-width: $screen-md - 1) {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .dg-titulo {
        margin: 0;
        border-bottom: 1px solid rgba(#516079,0.2);
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 15px;
        padding-bottom: 5px;
        color: #516079;
        font-weight: bold;

    }
    

}


 
.dg-modal-img {
    margin: -20px -30px;
    overflow: hidden;
    border-radius: 10px;
    display: block;
}

a.dg-modal-img:hover, a.dg-modal-img:focus {
    opacity: 0.8;
}

.modalAnimated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes modalFadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.modalFadeInUp {
	-webkit-animation-name: modalFadeInUp;
	animation-name: modalFadeInUp
}

.modalAnimated.modalDelay-300 {
	-webkit-animation-delay: 100ms;
	animation-delay: 100ms
}

@-webkit-keyframes modalFadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes modalFadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.modalFadeIn {
	-webkit-animation-name: modalFadeIn;
	animation-name: modalFadeIn
}

@-webkit-keyframes modalFadeOut {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes modalFadeOut {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

.modalFadeOut {
	-webkit-animation-name: modalFadeOut;
	animation-name: modalFadeOut
}


.dg-modal-conteudo {
    p, li {
        margin-top: 5px;
    }
    
    strong, b {
        font-weight: 600;
    }
    @media (max-width: 991px) {
        padding: 16px;
    }
}