.dg-modal-id-templateCompraParcelada {
    padding: 20px;
    .dg-modal-container {
        max-width: 502px;
        min-width: auto;
        width: 100%;
        border: 0;
        border-radius: 24px;
        overflow: hidden;
        background-color: #EFF2F5;
    }
    .dg-modal-conteudo {
        padding: 0;
        .dg-titulo {
            padding: 12px;
            font-size: 16px;
            text-transform: none;
            font-weight: 400;
            color: #6B6B7B;
            margin-bottom: 0;
            text-align: center;
            background-color: #fff;
            border: 0;
            span {
                font-weight: 600;
                color: #FD3141
            }
        }
        .dg-subtitulo {
            padding: 10px;
            text-align: center;
            background-color: #EFF2F5;
            font-size: 10px;
            color: #36404B;
            border-bottom: 1px solid rgba(#6B6B7B, .4);
        }
    }
    .dg-modal-fechar {
        top: 13px;
        right: 16px;
        font-size: 0;
        background-image: url(../img/categoria/fechar.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,0);
        padding: 0;
        width: 14px;
        height: 14px;
        background-position: center;
    }
    .dg-modal-templateCompraParcelada-flag-lista {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 10px;
        li {
            margin: 0 7px;
        }
    }
    .dg-modal-overlay {
        background-color: rgba(#03192F, .6);
    }
    .dg-modal-templateCompraParcelada-formas-lista {
        overflow: hidden;
        font-size: 12px;
        font-weight: 600;
        color: #6B6B7B;
        > li {
            margin-top: 0;
        }
        ul {
            padding: 0 12px;
            @media (min-width: 992px) {
                margin: 0 -18px;
                padding: 11px 58px;
                column-count: 2;
                -moz-column-count: 2;
                -webkit-column-count: 2;
            }
            li {
                width: 100%;
                padding: 0 18px;
                margin: 13px auto;
                max-width: 300px;
                float: none;

                @media (min-width: 992px) {
                    float: left;
                    margin: 6px 0;
                }
            }
        }
        @media (min-width: 992px) {
            ul[data-itens="1"],
            ul[data-itens="2"],
            ul[data-itens="3"],
            ul[data-itens="4"] {
                column-count: 1;
                -moz-column-count: 1;
                -webkit-column-count: 1;
            }
        }
    }

    [data-flag-item] {
        display: none;
        border-top: 1px solid rgba(#6B6B7B, .4);
        &.dg-ativo {
            display: block;
        }
    }
  
    .dg-modal-templateCompraParcelada-flag {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        &:hover:not(.dg-ativo) {
            background-color: lighten(#D1D6DC, 7.5%);
        }
        &.dg-ativo {
            background-color: #D1D6DC;
        }
        &[data-flag="Visa"] {
            background-image: url(../img/checkout/bandeiras-parcelas/visa.png)
        }
        &[data-flag="MasterCard"] {
            background-image: url(../img/checkout/bandeiras-parcelas/mastercard.png)
        }
        &[data-flag="Diners"] {
            background-image: url(../img/checkout/bandeiras-parcelas/diners.png)
        }
        &[data-flag="American Express"] {
            background-image: url(../img/checkout/bandeiras-parcelas/ae.png)
        }
        &[data-flag="Elo"] {
            background-image: url(../img/checkout/bandeiras-parcelas/elo.png)
        }
    }

    .dg-modal-templateCompraParcelada-formas-footer {
        padding: 13px 12px 19px;
        text-align: center;
        font-size: 10px;
        line-height: 13px;
        border-top: 1px solid rgba(#6B6B7B, .4);
        color: #36404B
    }
}