.dg-modal-conteudo .dg-titulo {
    strong {
        font-weight: 900;
        color: #d92634;
    }
}

.dg-modal-id-templateIndiqueUmAmigo {
     input {
        position: absolute;
        background: transparent;
        z-index: 2;
        width: 100%;
        left: 0px;
        top: 0;
        bottom: 20px;
        right: 0px;
        border-radius: 10px;
        display: block;
        min-height: 45px;
        border: 0;
        box-shadow: none;
        outline: none;
        padding-top: 8px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
        transition: background 5000s ease-in-out 0s;
        &:focus, &.dg-ativo {
            + label {
                font-size: 10px;
                padding-top: 7px;
                color: #333;
            }
        }

        &:hover {
            cursor: pointer !important;

            + label {
                background: darken(#E4E7ED,10%);
            }
        }

        &:disabled {
            opacity: 0.5;

            &:hover {
                cursor: normal !important;

                + label {
                    background: #E4E7ED;
                }
            }
        }
    }

     label {
        position: relative;
        z-index: 1;
        background: #E4E7ED;
        height: 45px;
        border-radius: 10px;
        margin-bottom: 15px;
        color: #54616d;
        font-size: 13px;
        padding: 13px 10px 0px 20px;
        transition: 300ms ease all;
    }
}


.dg-modal-templateIndiqueUmAmigo {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 20px;
}

.dg-modal-templateIndiqueUmAmigo-box {
    width: 100%;
    @media (min-width: $screen-sm) {
        width: 50%;

        &:nth-child(1) {
            padding-right: 20px;
        }
        
        &:nth-child(2) {
            padding-left: 20px;
        }
    }

    > div {
        position: relative;
    }
}


.dg-modal-templateIndiqueUmAmigo-box-indicar {
    text-align: right;
    width: 100%;
    a {
        display: inline-block;
        background: #1EC765;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 40px 10px 40px;
        border-radius: 30px;
        &:hover, &:focus {
            background: darken(#1EC765,10%);
            color: #fff;
            text-decoration: none;
        }
        
        
    }
}

.dg-modal-templateIndiqueUmAmigo-box-indicar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    @media (min-width: $screen-md) {
        align-items: center;
    }
    @media (max-width: $screen-sm - 1) {
        flex-direction: column;
    }
}