.dg-modal-id-templateAvise {
    .dg-subtitulo {
        font-size: 18px;
        font-weight: 400;
    }
    .dg-txt {
        margin-bottom: 15px;
        font-size: 13px;
    }
    form {
        > div {
            > div {
                width: 100%;
                position: relative;

                > input:not([type="button"]) {
                    position: absolute;
                    background: transparent;
                    z-index: 2;
                    width: 100%;
                    left: 0px;
                    top: 0;
                    bottom: 0px;
                    right: 0px;
                    border-radius: 10px;
                    border: 0;
                    box-shadow: none;
                    outline: none;
                    padding-top: 8px;
                    padding-left: 25px;
                    padding-right: 20px;
                    font-size: 13px;
                    &:focus, &.dg-ativo {
                        + label {
                            font-size: 10px;
                            padding-top: 6px;
                            color: #333;
                        }
                    }

                    &:hover {
                        cursor: pointer !important;

                        + label {
                            background: darken(#E4E7ED,10%) !important;
                        }
                    }

                    &:disabled {
                        opacity: 0.5;

                        &:hover {
                            cursor: normal !important;

                            + label {
                                background: #E4E7ED;
                            }
                        }
                    }
                }

                > label {
                    position: relative;
                    z-index: 1;
                    background: #E4E7ED;
                    height: 45px;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    color: #666;
                    font-size: 13px;
                    padding: 13px 10px 0px 25px;
                    transition: 300ms ease all;
                }
            }
        }
    }
    
    input[type="button"] {
        display: inline-bblock;
        background: #FD3141;
        color: #fff;
        text-align: center;
        font-size: 16px;
        padding: 10px 25px;
        position: relative;
        border-radius: 25px;
        margin-bottom: 15px;
        margin-top: 15px;

        &:hover, &:focus {
            background: darken(#FD3141,10%);
            color: #fff;
            text-decoration: none;
        }
    }
}
