@charset "UTF-8";

@font-face {
  font-family: "dne-2021";
  src:url("fonts/dne-2021.eot");
  src:url("fonts/dne-2021.eot?#iefix") format("embedded-opentype"),
    url("fonts/dne-2021.woff") format("woff"),
    url("fonts/dne-2021.ttf") format("truetype"),
    url("fonts/dne-2021.svg#dne-2021") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[data-icon]:before {
  font-family: "dne-2021" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dg-icon-"]:before,
[class*=" dg-icon-"]:before {
  font-family: "dne-2021" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dg-icon-:before {
  content: "\61";
}
.dg-icon-arrow01-down:before {
  content: "\62";
}
.dg-icon-arrow01-left:before {
  content: "\63";
}
.dg-icon-arrow01-right:before {
  content: "\64";
}
.dg-icon-arrow01-up:before {
  content: "\65";
}
.dg-icon-avise-me:before {
  content: "\66";
}
.dg-icon-boleto:before {
  content: "\67";
}
.dg-icon-calm:before {
  content: "\68";
}
.dg-icon-cart:before {
  content: "\69";
}
.dg-icon-generico:before {
  content: "\6a";
}
.dg-icon-controlado:before {
  content: "\6b";
}
.dg-icon-dermo:before, .dg-icon-dermocosmeticos:before {
  content: "\6c";
}
.dg-icon-descontos:before, .dg-icon-hospitalar:before {
  content: "\6d";
}
.dg-icon-diabetes:before {
  content: "\6e";
}
.dg-icon-dor-febre:before {
  content: "\6f";
}
.dg-icon-dor-musc:before {
  content: "\70";
}
.dg-icon-elo:before {
  content: "\71";
}
.dg-icon-estoque:before {
  content: "\72";
}
.dg-icon-familia:before {
  content: "\73";
}
.dg-icon-favorito:before, .dg-icon-maquiagem:before {
  content: "\74";
}
.dg-icon-fb:before {
  content: "\75";
}
.dg-icon-gastro:before {
  content: "\76";
}
.dg-icon-gripe:before {
  content: "\77";
}
.dg-icon-pix:before {
  content: "\78";
}
.dg-icon-perfumaria:before {
  content: "\79";
}
.dg-icon-percent:before {
  content: "\7a";
}
.dg-icon-nutricao:before {
  content: "\41";
}
.dg-icon-menu:before {
  content: "\42";
}
.dg-icon-medi:before, .dg-icon-medicamentos:before {
  content: "\43";
}
.dg-icon-mastercard:before {
  content: "\44";
}
.dg-icon-mais-comprados:before {
  content: "\45";
}
.dg-icon-linkedin:before {
  content: "\46";
}
.dg-icon-leve-mais:before {
  content: "\47";
}
.dg-icon-insta:before {
  content: "\48";
}
.dg-icon-promo-do-dia:before {
  content: "\49";
}
.dg-icon-star:before {
  content: "\4a";
}
.dg-icon-televendas:before {
  content: "\4b";
}
.dg-icon-twitter:before {
  content: "\4c";
}
.dg-icon-user:before {
  content: "\4d";
}
.dg-icon-visa:before {
  content: "\4e";
}
.dg-icon-vitamina:before, .dg-icon-naturais:before {
  content: "\4f";
}
.dg-icon-yt:before {
  content: "\50";
}
.dg-icon-search:before {
  content: "\51";
}
.dg-icon-sac:before {
  content: "\52";
}
.dg-icon-allergy:before {
  content: "\53";
}
.dg-icon-american-express:before {
  content: "\54";
}
.dg-icon-arrow03:before {
  content: "\59";
}
.dg-icon-boleto-02:before {
  content: "\5a";
}
.dg-icon-caartao-cadastrado:before {
  content: "\30";
}
.dg-icon-card-icon:before {
  content: "\31";
}
.dg-icon-card-icon02:before {
  content: "\32";
}
.dg-icon-consentimento:before {
  content: "\33";
}
.dg-icon-deposito:before {
  content: "\34";
}
.dg-icon-dots-edit:before {
  content: "\35";
}
.dg-icon-editar:before {
  content: "\36";
}
.dg-icon-mais-vendidos:before {
  content: "\37";
}
.dg-icon-infatil:before, .dg-icon-infantil:before {
  content: "\38";
}
.dg-icon-imprimir:before {
  content: "\39";
}
.dg-icon-leites:before {
  content: "\21";
}
.dg-icon-lixo:before {
  content: "\22";
}
.dg-icon-gerenciar-assinatura:before {
  content: "\24";
}
.dg-icon-facebook:before {
  content: "\25";
}
.dg-icon-eye:before {
  content: "\23";
}
.dg-icon-estrela:before {
  content: "\26";
}
.dg-icon-especiais:before {
  content: "\27";
}
.dg-icon-equipamentos:before {
  content: "\28";
}
.dg-icon-editar-endereco:before {
  content: "\29";
}
.dg-icon-nota-fiscal:before {
  content: "\2b";
}
.dg-icon-nutricao-copy:before {
  content: "\2c";
}
.dg-icon-pedidos:before {
  content: "\2d";
}
.dg-icon-perfumaria-copy:before {
  content: "\2f";
}
.dg-icon-sair:before {
  content: "\3b";
}
.dg-icon-saude-bucal:before {
  content: "\3c";
}
.dg-icon-senha:before {
  content: "\3d";
}
.dg-icon-tooltip:before {
  content: "\3e";
}
.dg-icon-x:before {
  content: "\3f";
}
.dg-icon-televendas-1:before {
  content: "\2e";
}
.dg-icon-cadeado:before {
  content: "\3a";
}
.dg-icon-cheeck:before {
  content: "\55";
}
