.dg-header-logo {
    a {
        display: block;
        padding-top: 30px;
        background-image: url(../../img/copa/logo.png);
        background-repeat: no-repeat;
        background-size: 167px;
        @media (min-width: 376px) {
            padding-top: 35px;
            background-size: 185px;
        }
        @media (min-width: 992px) {
            padding-top: 46px;
            background-size: 244px;
        }
        img {
            display: none;
        }
    }
}

.dg-mascote-borda-baixo {
background-image: url(../../img/copa/mascote/borda-baixo.png);
}

.dg-mascote-corpo.dg-mascote-camisa {
background-image: url(../../img/copa/mascote/camisa.png);
}

.dg-mascote-corpo.dg-mascote-borda-cima {
background-image: url(../../img/copa/mascote/borda-cima.png);
}

.dg-mascote-corpo.dg-mascote-fundo {
background-image: url(../../img/copa/mascote/fundo.png);
}

.dg-mascote-menu>a {
    background-color: #349235;
}