$corPrimaria: #0B1841;
$corSecundaria: #002399;
$corComplementar: #00D19D;
$corVermelho: #E00D4C;

body {

    @media (min-width: 1280px) {
        .container {
            width: 1220px;
        }
    }
    background-color: #fff;
    .dg-checkout-footer, .dg-checkout-header {
        background-color: $corPrimaria;
    }

    .dg-checkout-main-side-resumo ul li, .dg-checkout-main-side-carrinho-form label {
        color: #626669;
    }

    .dg-checkout-main-bloco-conteudo, .dg-checkout-main-side-bloco, .dg-checkout-main-side-resumo, .dg-checkout-main-side-footer {
        background-color: #F5F9FD;
        background: #F5F9FD;
    }
    
    @media (max-width: 991px) {
        .dg-checkout-main-side-footer {
            background-color: $corPrimaria;
        }
    }
    
    .dg-checkout-header {
        border-bottom: 4px solid $corComplementar;
    }
    
    .dg-checkout-main-carrinho-item-total, .dg-checkout-main-bloco-topo>.dg-titulo strong {
        color: $corComplementar;
    }

    .dg-checkout-main-carrinho-item-total {
        font-size: 18px;
        font-weight: 600;
    }
    
    .dg-checkout-main-side .dg-titulo strong {
        color: $corSecundaria;
    }
    
    .dg-checkout-main-side-prosseguir {
        border-radius: 12px;
        font-size: 12px;
        background-color: $corComplementar;
        &:hover, &:focus {
            background-color: darken($corComplementar, 15%);
        }
    }
    
    .dg-checkout-main-carrinho-item, .dg-checkout-main-side-resumo ul li {
        color: #626669;
    }
    
    .dg-checkout-main-carrinho-item {
        border-color: #DFE6ED;
    }
    
    .dg-checkout-main-carrinho-titulos, .dg-checkout-main-carrinho-item-produto strong {
        color: $corPrimaria;
    }

    .dg-checkout-main-carrinho-item-valor{
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        color: #1e1e1e;
        s {
            display: block;
            margin-bottom: 4px;
            font-size: 10px;
            line-height: 14px;
            color: #A8A8A8;
        }
    }

    .dg-checkoug-main-carrinho-item-qtd {
        width: 80px;
    }

    .dg-checkout-main-carrinho-titulos {
        font-weight: 400;
        font-size: 12px;
    }
    
    .dg-checkout-main-bloco-barra {
        display: none;
    }
    
    .dg-checkout-main-bloco-btn-outline {
        background-color: $corVermelho;
        color: #fff;
        border:  0;
        &:hover, &:focus {
            background-color: darken($corVermelho, 15%);
            color: #fff;
            border:  0;
        }
    }
    .dg-checkout-main-bloco-footer {
        padding: 27px 0 0;
        margin-top: 27px;
        border-top: 1px solid #DFE6ED;
        min-height: auto;
        background-color: rgba(0,0,0,0);
    }

    .dg-checkout-main-bloco-topo>.dg-titulo {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 400;
        color: $corPrimaria;
    }
    .dg-checkout-header-info strong {
        font-weight: 500;
    }
    .dg-checkout-header-info {
        display: flex;
        align-items: center;
        width: auto !important;
        padding-left: 35px;
        > img {
            margin-right: 19px;
        }
        font-weight: 500;
        font-size: 12px;
        strong {
            font-weight: 500;
            font-size: 18px;
        }
    }
    .dg-checkout-header-info-chat {
        margin-left: auto;
    }
    .dg-checkout-header-topo {
        align-items: center;
    }

    .dg-checkout-footer-titulo {
        font-size: 14px;
        text-transform: none;
        font-weight: bold;
        color: $corComplementar;
        &::before {
            display: none;
        }
        img {
            margin-right: 15px;
        }
    }
    .dg-checkout-main-carrinho-item-produto > strong{
        display: block;
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
    }
    .dg-checkout-main-carrinho-item-marca {
        font-size: 9px;
        span:first-child {
            color: #969696;
        }
        span:last-child {
            font-weight: 600;
            color: $corComplementar;
        }
    }
    .dg-checkout-main-carrinho-item-val {
        font-size: 9px;
        color: $corVermelho;
        span {
            font-weight: 600;
        }
    }
    .dg-checkout-main-carrinho-item-crm {
        font-size: 11px;
        color: $corSecundaria;
    }
    .dg-checkout-main-carrinho-item-crm input{
        background-color: #e5f0fa;
    }
    .dg-checkout-main-carrinho-titulos, .dg-checkout-main-bloco-conteudo {
        background-color: rgba(0,0,0,0);
    }
    .dg-checkout-main-carrinho-titulos, .dg-checkout-main-bloco-topo > .dg-titulo {
        border: 0;
    }
    .dg-checkout-main-carrinho-item {
        padding: 27px;
        background-color: #F5F9FD;
    }
    .dg-checkout-main-carrinho-titulos {
        padding-top: 0;
        padding-bottom: 18px;
    }
    .dg-checkout-main-carrinho-titulos-produto {
        width: 48%;
        margin-left: 0;
    }
    .dg-checkoug-main-carrinho-item-qtd-input {
        background: none;
    }
    .dg-checkoug-main-carrinho-item-qtd-menos, .dg-checkoug-main-carrinho-item-qtd-mais {
        top: 3px;
        width: 18px;
        height: 18px;
        line-height: 17px;
        font-size: 16px;
        font-weight: 400;
        color: $corPrimaria;
        &:hover, &:focus {
            color: #fff;
            background-color: $corPrimaria;
        }
    }
    .dg-checkoug-main-carrinho-item-qtd-menos {
        background-color: rgba(0,0,0,0);
        border: 1px solid $corPrimaria;
    }
    .dg-checkoug-main-carrinho-item-qtd-mais {
        background-color: rgba(0,0,0,0);
        border: 1px solid $corPrimaria;
    }
    .dg-checkout-main-carrinho-item {
        align-items: center;
    }
    .dg-checkout-main-carrinho-item-apagar {
        width: 44px;
        height: 44px;
        padding: 0;
        border: 1px solid #CFCFCF;
        border-radius: 10px;
        text-align: center;
        svg {
            vertical-align: -13px
        }
        &:hover {
            background-color: $corVermelho;
            svg path {
                stroke: #fff;
            }
        }
    }
    .dg-checkoug-main-carrinho-item-qtd-input {
        color: $corPrimaria;
    }
    .dg-checkout-main-carrinho-item-produto {
        width: 38%;
    }
    .dg-checkout-main-carrinho-item {
        border-bottom: 0;
        padding-bottom: 0;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            display: block;
            background-color: #DFE6ED;
            margin-top: 27px;
        }
    }
    
    .dg-checkout-main-carrinho-titulos {
        + .dg-checkout-main-carrinho-item {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            &:last-child {
                padding-bottom: 27px;
                &::after {
                    display: none;
                }
            }
            ~ .dg-checkout-main-carrinho-item:last-child {
                padding-bottom: 27px;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                &::after {
                    display: none;
                }
            }
        }
    }
    .dg-checkout-main-carrinho-item-img {
        width: auto;
        margin-right: 22px;
    }
    .dg-checkout-main-carrinho-titulos-valor {
        width: 18%;
    }
    .dg-checkout-main-carrinho-titulos-qtd {
        width: 7%;
    }
    .dg-checkout-main-carrinho-titulos-total {
        width: 21%;
    }
    .dg-checkout-main-carrinho-item-crm input {
        font-size: 10px;
    }
    .dg-checkout-main-carrinho-item-crm .dg-checkout-main-carrinho-item-marca {
        vertical-align: middle;
    }
    .dg-checkout-main-bloco-topo > .dg-titulo {
        padding-left: 0;
        padding-right: 0;
    }
    .dg-checkout-main-bloco-topo  {
        &[paginaatual="carrinho"] {
            .dg-titulo {
                &::before {
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 26px;
                    margin-right: 10px;
                    vertical-align: middle;
                    background-image: url(../img/checkout/header/shopping-cart.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        &[paginaatual="endereco"], &[paginaatual="entrega"] {
            .dg-titulo {
                &::before {
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 26px;
                    margin-right: 10px;
                    vertical-align: middle;
                    background-image: url(../img/checkout/header/location.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
    .dg-checkout-main-bloco-progresso {
        width: auto;
        height: auto;
        padding: 0;
        font-weight: 400;
        font-size: 14px;
        color: $corPrimaria;
        background-color: rgba(0,0,0,0);
        b, span {
            font-weight: bold;
        }
    }
    .dg-checkout-main-side .dg-titulo {
        color: $corPrimaria;
    }
    .dg-checkout-main-side .dg-titulo, .dg-checkout-main-side-bloco, .dg-checkout-main-side-bloco .dg-subtitulo {
        border: 0;
    }
    .dg-checkout-main-side .dg-titulo {
        padding-top: 0;
    }
    .dg-checkout-main-bloco-topo > .dg-titulo, .dg-checkout-main-bloco-passo {
        padding: 0;
        min-height: auto;
        margin-bottom: 33px;
    }
    .dg-checkout-main-side .dg-titulo {
        padding-bottom: 13px;
        padding-left: 0;
        padding-right: 0;
        + .dg-checkout-main-side-bloco {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            padding-top: 15px;
        }
    }
    .dg-checkout-main-side-bloco {
        max-height: none;
    }
    .dg-checkout-main-side-toggle {
        display: none;
    }
    .dg-checkout-main-side-carrinho-form button, .dg-checkout-main-side-carrinho-form label {
        top: 0;
    }
    .dg-checkout-main-side-carrinho-form {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 10px;
        form {
            position: relative;
        }
    }
    .dg-checkout-main-side-observacao, .dg-checkout-main-side-cupom {
        .dg-subtitulo {
            display: none;
        }
    }
    .dg-checkout-main-side-resulfrete {
        border: 0;
        background-color: #F5F9FD;
        .dg-subtitulo {
            display: none;
        }
    }
    .dg-checkout-main-side-carrinho-form input, .dg-checkout-main-side-carrinho-form label {
        width: 100%;
        border-radius: 12px;
    }
    .dg-checkout-main-side-carrinho-form label {
        background-color: #fff;
        left: 0;
    }
    .dg-checkout-main-side-carrinho-form input {
        padding-left: 24px;
        font-size: 12px;
    }
    .dg-checkout-main-side-resulfrete .dg-checkout-main-side-fretes {
        min-height: auto;
        padding: 0 15px;
    }
    .dg-checkout-main-side-resulfrete .dg-checkout-main-side-fretes ul li {
        width: 100%;
        padding: 0;
        label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3px 19px 3px 41px !important;
            border: 0 !important;
            border-radius: 12px;
            background-color: #fff;
            margin-bottom: 6px;
            line-height: 1.25;
            > span + span {
                font-weight: 600;
                font-size: 11px;
                color: $corSecundaria;
            }
            strong {
                font-size: 11px;
            }
            p {
                font-size: 10px;
            }
        }
        &:last-child {
            label {
                margin-bottom: 31px;
            }
        }
    }
    // .dg-checkout-main-side-cupom {
    //     padding-top: 21px;
    // }
    .dg-checkout-main-side-resulfrete .dg-checkout-main-side-fretes ul li label:before{
        top: 10px;
        left: 14px;
        width: 14px;
        height: 14px;
        border: 2px solid $corComplementar;
        opacity: 1;
    }
    .dg-checkout-main-side-fretes li input:checked+label:before {
        content: '';
        background: none;
    }
    .dg-checkout-main-side-fretes li input:checked+label:after {
        content: '';
        position: absolute;
        top: 14px;
        left: 18px;
        width: 6px;
        height: 6px;
        background-color: $corComplementar;
        border-radius: 6px;
    }
    .dg-checkout-main-side-fretes li label {
        color: #626669;
        &:hover, &:focus {
            color: #626669;
        }
    }
    .dg-checkout-main-side {
        width: 23.334%;
        margin-bottom: 27px;
        .dg-relative {
            position: relative;
        }
    }
    .dg-checkout-main-bloco {
        width: 74.167%;
        margin-right: 2.5%;
        margin-bottom: 27px;
    }
    .dg-checkout-main-side-buscacep .dg-checkout-main-side-carrinho-form .dg-checkout-main-side-carrinho-form-buscar {
        top: 3px;
        right: 3px;
        width: 38px;
        height: 38px;
        border-radius: 12px;
        font-size: 0;
        background-image: url(../img/checkout/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: $corSecundaria;
        z-index: 10;
        &:hover, &:focus {
            background-color: darken($corSecundaria, 5%);
        }
        &.dg-loading {
            &::before {
                margin-top: 0;
            }
            &::after {
                height: 100%;
                max-height: 38px;
                min-height: auto;
                border-radius: 12px;
            }
        }
    }
    .dg-checkout-main-side-carrinho-form input, .dg-checkout-main-side-carrinho-form label {
        height: 44px;
    }
    .dg-checkout-main-side-cupom {
        button {
            position: static;
            height: 44px;
            padding: 13px 16px;
            margin-left: 12px;
            border-radius: 12px;
            font-size: 12px;
            font-weight: bold;
            background-color: $corSecundaria;
            color: #fff;
            &:hover, &:focus {
                background-color: darken($corSecundaria, 5%);
            }
        }
        input {
            border: 2px dashed $corSecundaria;
        }
        input:hover+label {
            border-color: #fff;
        }
    }

    .dg-checkout-main-side-observacao {
        button {
            right: 0;
            height: 44px;
            border-radius: 12px;
            font-size: 11px;
            font-weight: 600;
            color: $corSecundaria;
            background-color: #fff;
            &:hover, &:focus {
                background-color: #fff;
            }
        }
        textarea {
            width: 100%;
            background-color: #fff;
            border-radius: 12px;
        }
    }

    .dg-checkout-main-side-carrinho-form form {
        display: flex;
        align-items: center;
    }
    .dg-checkout-main-side-resumo ul li {
        display: flex;
        justify-content: space-between;
        >span {
            width: auto !important;
            &:first-child {
                font-weight: 500;
                font-size: 12px !important;
                b, strong {
                    font-weight: 500;
                }
            }
            + span {
                color: $corPrimaria;
            }
        }
        &.dg-checkout-main-side-resumo-total {
            .dg-checkout-main-side-resumo-valor {
                font-size: 20px;
                font-weight: bold;
                color: $corComplementar;
            }
        }
    }
    .dg-checkout-main-side-resumo ul li>span.dg-checkout-main-side-resumo-valor strong {
        color: $corComplementar;
    }

    .dg-checkout-footer-linha1-btn-historia {
        padding: 0;
        padding-top: 47px;
        border-radius: 0;
        background-image: url(../img/checkout/logo.svg);
        background-size: 306px;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,0) !important;
        background-position: bottom right;
        margin-bottom: 0;
        margin-left: auto;
        * {
            display: none;
        }
    }
    .dg-checkout-footer-topo {
        margin-bottom: 0;
        border: 0;
    }
    .dg-checkout-footer-final strong {
        max-width: 600px;
        float: left;
        font-weight: 400;
        font-size: 10px;
    }
    .dg-checkout-footer-final-degrau {
        padding-top: 0;
    }
    .dg-footer-mensagem-drogaria {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 9px;
        line-height: 10px;
        color: #2D407E;
    }
    .dg-checkout-footer {
        padding: 28px 0;
        border-bottom: 4px solid $corComplementar;
    }
    .dg-checkout-main-side-footer {
        padding: 0 0 24px;
    }

    .dg-checkout-footer-selos {
        width: auto;
        margin-right: 45px;
    }

    .dg-checkout-footer-selos-lista {
        max-width: 203px;
        @media (max-width: 575px) {
            max-width: none;
        }
        > div {
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
            @media (max-width: 575px) {
                margin: 0 4px 0 0;
            }
        }
        .dg-checkout-footer-selos-ebit {
            img {
                width: 29px;
            }
        }
        .dg-checkout-footer-selos-secure {
            img {
                width: 37px;
            }
        }
        .dg-checkout-footer-selos-reclameaqui {
            img {
                width: 36px;
            }
        }
        .dg-checkout-footer-selos-pci {
            img {
                width: 77px;
            }
        }
    }
    a.dg-checkout-main-bloco-btn-outline, .dg-checkout-main-bloco-btn, .dg-checkout-main-bloco-voltar {
        position: static;
        margin-left: auto;
        margin: 0 0 0 auto;
        padding: 9px 20px;
        width: auto;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        border-radius: 12px;
        max-width: none;
    }
    .dg-checkout-main-bloco-voltar {
        margin: 0;
    }
    .dg-checkout-main-carrinho {
        padding-bottom: 0;
    }

    .dg-usuario-editar-enderecos {
        margin: 0 -1%;
        padding: 0;
        width: auto;
    }

    .dg-usuario-editar-enderecos-escolha {
        border-radius: 6.74px;
        box-shadow: none;
        border: 0;
        &:hover {
            box-shadow: none;
            border: 0;
        }
    }
    .dg-usuario-editar-enderecos-escolha:hover, .dg-usuario-editar-enderecos-escolha:focus {
        box-shadow: none;
        border: 0;
    }
    .dg-endereco-principal {
        display: flex;
        justify-content: space-between;
        > span {
            font-size: 12px;
            line-height: 15px;
            + span {
                font-size: 10px;
                text-transform: none;
                font-weight: 400;
            }
        }
    }
    .dg-usuario-editar-enderecos-escolha {
        &::before {
            display: none !important;
        }
        padding: 13px 18px;
        strong:first-child {
            display: block;
            margin-bottom: 0;
            min-height: 17px;
            font-size: 12px;
        }
    }
    .dg-usuario-editar-enderecos-item {
        // position: absolute;
        &__info {
            display: flex;
            justify-content: space-between;
            margin-top: 13px;
            padding-top: 13px;
            border-top: 1px solid #DFE6ED;
            > div:first-child {
                overflow: hidden;
                flex: 1;
                padding-right: 8px;
                > * {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }
                > strong {
                    font-size: 12px;
                    color: $corPrimaria;
                    line-height: 15px;
                    text-transform: none;
                    font-weight: 500;
                }
                > span {
                    display: block;
                    font-size: 9px;
                    color: #969696;
                    font-weight: 400;
                    + span {
                        margin-top: 16px;
                    }
                }
            }
        }
        .dg-usuario-editar-enderecos-opcoes-menu {
            flex-shrink: 0;
            font-size: 0;
        }
        button {
            position: relative;
            left: unset;
            bottom: unset;
            border: 0;
            background-color: rgba(0,0,0,0);
            border-radius: 0;
            padding: 0;
            width: 28px;
            height: 29px;
            &:hover, &:focus {
                border: 0;
                box-shadow: none;
                background: none;
            }
            &.dg-usuario-editar-enderecos-editar {
                &:hover, &:focus {
                    svg {
                        fill: $corPrimaria;
                        rect {
                            stroke: $corPrimaria;
                        }
                        path {
                            fill: #fff
                        }
                    }
                }
            }
            &.dg-usuario-editar-enderecos-apagar {
                margin-left: 8px;
                &:hover, &:focus {
                    svg {
                        fill: $corVermelho;
                        rect {
                            stroke: $corVermelho;
                        }
                        path {
                            stroke: #fff
                        }
                    }
                }
            }
        }
    }
    .dg-icon-endereco-principal {
        &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 13px;
            background-repeat: no-repeat;
            background-image: url(../img/icones/central/location-tick.svg);
            background-position: center;
            margin-right: 5px;
            vertical-align: -2px;
        }
    }
    .dg-usuario-editar-enderecos-item a, .dg-usuario-editar-enderecos-item.dg-ativo .dg-usuario-editar-enderecos-escolha strong:first-child {
        color: $corPrimaria;
    }
    .dg-usuario-editar-enderecos-escolha {
        display: block;
        padding: 16px !important;
        margin-top: 20px;
        background: #F5F9FD;
        border-radius: 12px;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    .dg-usuario-editar-enderecos-item {
        // background: #fff;
        background: none !important;
        box-shadow: none;
        border-radius: 0 !important;
    }
    .dg-usuario-editar-enderecos-item {
        width: 48%;
        margin: 0 1%;
        position: relative;
        border-radius: 20px;
    }
    .dg-checkout-main-enderecos {
        padding: 0;
    }
    .dg-checkout-main-enderecos {
        margin: -20px -1% 0;
    }
    .dg-checkout-main-bloco-conteudo>.dg-subtitulo {
        padding: 0;
        margin-bottom: 23px;
        font-size: 12px;
        line-height: 14px;
        background-color: rgba(0,0,0,0);
        color: $corPrimaria;
    }
    .dg-checkout-main-bloco-voltar{
        background-color: $corPrimaria;
        &:hover, &:focus {
            background-color: darken($corPrimaria, 5%);
        }
    }
    .dg-checkout-main-bloco-btn {
        background-color: $corComplementar;
        &:hover, &:focus {
            background-color: darken($corComplementar, 5%);
        }
    }
    .dg-checkout-main-side-bloco .dg-subtitulo, .dg-checkout-main-side-produtos{
        padding-left: 15px;
        padding-right: 15px;
    }
    .dg-checkout-main-side-produtos{
        margin-top: 0;
        // margin-bottom: 0;
        li {
            font-size: 10px;
            color: #626669;
            &:first-child {
                padding-top: 0;
            }
            >span {
                width: 75%;
            }
            >span.dg-checkout-main-side-preco {
                width: 25%;
                color: $corPrimaria;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .dg-checkout-header {
        margin-bottom: 27px;
    }
    .dg-checkout-main-fretes-form {
        margin: 0 -10px;
        padding-top: 0;
    }
    .dg-checkout-main-fretes-form-checkbox {
        margin-bottom: 0;
    }

    .dg-checkout-main-fretes-form-wrapper {
        padding: 32px 32px 24px;
        border-radius: 15px;
        background-color: #F5F9FD;
    }
    .dg-checkout-main-fretes-form-checkbox label, .dg-checkout-main-fretes-form>div input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"])+label {
        background: #fff
    }
    .dg-checkout-main-fretes-form select:disabled+label, .dg-checkout-main-fretes-form select[readonly]+label, .dg-checkout-main-fretes-form input:disabled+label, .dg-checkout-main-fretes-form input[readonly]+label {
        background: #fff !important
    }
    .dg-checkout-main-fretes-form>div input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"]):hover+label {
        background: darken(#fff, 5%) !important
    }
    .dg-checkout-main-fretes-form>div input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"]):disabled,
    .dg-checkout-main-fretes-form>div input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"])[readonly="readonly"] {
        opacity: .5 !important;
    }

    .dg-checkout-main-fretes-form>div input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"])+label {
        height: 44px;
        margin-bottom: 11px;
        font-weight: 500;
    }
    .dg-finalizar-buscarendereco {
        top: 3px;
        right: 3px;
        width: 38px;
        height: 38px;
        border-radius: 12px;
        font-size: 0;
        background-image: url(../img/checkout/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: $corSecundaria;
        &:hover, &:focus {
            background-color: darken($corSecundaria, 5%);
        }
        &.dg-loading {
            &::before {
                margin-top: 0;
            }
            &::after {
                height: 100%;
                max-height: 38px;
                min-height: auto;
                border-radius: 12px;
            }
        }
    }
    .dg-checkout-main-bloco-footer.dg-loading{
        button, a {
            opacity: .5;
        }
        &::before {
            display: none;
        }
        &:after {
            background: none;
        }
    }
    .dg-checkout-main-fretes-form {
        .dg-checkout-main-bloco-btn {
            float: right;
            width: 240px;
            height: 44px;
            padding: 0;
            line-height: 44px;
            background-color: $corComplementar;
            &:hover, &:focus {
                background-color: darken($corComplementar, 5%);
            }
        }
        .dg-checkout-main-bloco-footer {
            padding-top: 0;
            margin-top: 17px;
            border: 0;
            border-radius: 0;
            &.dg-loading {
                button, a {
                    opacity: 1;
                }
                &::before {
                    top: 23px;
                    left: unset;
                    right: 86px;
                    display: block;
                    margin-top: 0;
                    border: 5px solid $corSecundaria;
                    border-top-color: transparent;
                }
                &::after {
                    left: unset;
                    right: 0;
                    width: 240px;
                    background: none;
                    background-color: rgba(255,255,255,.6);
                    min-height: 44px;
                    overflow: unset;
                }
            }
        }
        .dg-checkout-main-fretes-form-checkbox {
            margin-top: 32px;
        }
    }
    .dg-usuario-editar-enderecos-item .dg-usuario-editar-enderecos-opcoes-menu {
        position: absolute;
        bottom: 46px;
        right: 18px;
    }
    .dg-checkout-main-fretes-form>div input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"])+label, .dg-checkout-main-fretes-form>div input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"]) {
        font-size: 12px;
        color: #626669;
        padding-top: 13px;
    }
    .dg-checkout-main-bloco-footer.dg-loading {
        overflow: unset;
    }
    .dg-checkout-main-fretes-form-checkbox {
        label {
            font-size: 12px !important;
            line-height: 1.2;
            background: none !important;
            padding: 0 0 0 20px !important;
            box-shadow: none !important;
            color: #626669 !important;
        }
    }
    .dg-checkout-main-fretes-form-checkbox {
        input+label:before {
            content: "";
            width: 14px;
            height: 14px;
            border: 2px solid $corComplementar !important;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            background-color: rgba(0,0,0,0) !important;
        }
        input:checked+label:before {
            content: '';
            width: 14px;
            height: 14px;
        }
        label:after {
            content: '';
            position: absolute;
            border-radius: 50%;
            left: 4px;
            top: 4px;
            width: 6px;
            height: 6px;
        }
        input:checked + label:after {
            background-color: $corComplementar;
        }
    }
    .dg-checkout-main-fretes {
        padding: 0;
        margin: 0 -10px;
    }
    .dg-checkout-main-fretes li {
        label {
            padding: 18px 22px;
            background: none !important;
            border: 0 !important;
            background-color: #F5F9FD !important;
            &::before {
                display: none;
            }
            > strong {
                position: relative;
                padding-left: 33px;
                display: block;
                font-size: 12px;
                font-weight: 600;
                line-height: 15px;
                color: $corPrimaria;
                &:before {
                    content: "";
                    width: 14px;
                    height: 14px;
                    border: 2px solid $corComplementar !important;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: 50%;
                    background-color: rgba(0,0,0,0) !important;
                }
                &:after {
                    content: '';
                    position: absolute;
                    border-radius: 50%;
                    left: 4px;
                    top: 4px;
                    width: 6px;
                    height: 6px;
                }
            }
        }
        input:checked+label strong:before {
            content: '';
            width: 14px;
            height: 14px;
        }
        input:checked+label strong:after {
            background-color: $corComplementar;

        }
        p {
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            color: $corPrimaria;
            margin-top: 14px;
            padding-top: 14px;
            border-top: 1px solid #DFE6ED;
        }
    }
    .dg-checkout-main-fretes-aviso {
        border: 0;
        padding: 0;
        color: #626669;

        > .dg-wrapper {
            > div {
                padding-top: 27px;
            }
        }
    }
    .dg-checkout-main-fretes-aviso .dg-wrapper div p {
        margin-top: 4px;
    }
    .dg-checkout-main-fretes-aviso .dg-wrapper div>strong {
        color: $corComplementar;
    }
    .dg-checkout-main-fretes {
        min-height: auto;
    }
    .dg-checkout-main-fretes {
        margin-top: -22px;
    }
    .dg-checkout-main-carrinho-item-img {
        img {
            border-radius: 11px;
        }
    }
    .dg-checkout-main-fretes li {
        padding-bottom: 0;
        padding-top: 22px;
    }
    .dg-checkout-main-side-bloco .dg-subtitulo{
        padding-top: 0;
        margin-bottom: 16px;
        height: auto;
        line-height: 18px;
        color: #626669;
        a {
            right: 15px;
            top: 0;
            line-height: 1;
            color: #626669;
        }
    }
    .dg-checkout-main-side-produtos {
        margin-right: 15px;
    }
    .dg-checkout-main-side-buscacep {
        .dg-subtitulo {
            display: none;
        }
    }
    [paginaatual="frete"] {
        .dg-checkout-main-side-bloco .dg-subtitulo {
            display: block;
            padding-right: 15px;
            padding-left: 15px;
        }
        .dg-checkout-main-side .dg-titulo + .dg-checkout-main-side-bloco {
            padding-top: 15px;
        }
        .dg-checkout-main-side-bloco {
            max-height: 36px;
            padding-top: 15px;
            &.dg-ativo {
                max-height: none;
            }
        }

        .dg-checkout-main-side-toggle {
            display: block;
            color: $corSecundaria;
            &:hover, &:focus {
                background-color: rgba(0,0,0,0);
            }
        }
        a.dg-checkout-main-editar {
            top: 0;
            right: 46px;
            color: #626669;
        }
        a.dg-checkout-main-side-toggle {
            top: -12px;
            right: 1px;
        }
       
        .dg-checkout-main-side-cupom, .dg-checkout-main-side-observacao {
            padding-top: 15px;
        }
        .dg-checkout-main-side-cupom .dg-subtitulo a, .dg-checkout-main-side-observacao .dg-subtitulo a {
            display: block;
            color: $corSecundaria;
        }
        
        .dg-checkout-main-side-observacao {
            .dg-subtitulo a {
                line-height: 30px;
                font-size: 11px;
            }
        }
    }
    .dg-checkout-main-side-bloco.dg-ativo .dg-checkout-main-side-toggle .dg-icon-linha1, .dg-checkout-main-side-bloco.dg-ativo .dg-checkout-main-side-toggle .dg-icon-linha2 {
        background: #626669;
    }
    .dg-checkout-main-side-toggle .dg-icon-linha1, .dg-checkout-main-side-toggle .dg-icon-linha2 {
        background: $corSecundaria;
    }
    .dg-checkout-main-side-resumo {
        padding-right: 39px;
        padding-left: 39px;
    }
    .dg-checkout-main-side-toggle {
        right: 1px;
    }
    .dg-checkout-main-editar {
        right: 46px;
    }

    .dg-checkout-main-side-endereco, .dg-checkout-main-side-produto.dg-minizado {
        max-height: 36px;
        padding-top: 15px;
        .dg-checkout-main-side-toggle {
            display: block;
            color: $corSecundaria;
            &:hover, &:focus {
                background-color: rgba(0,0,0,0);
            }
        }
        a.dg-checkout-main-editar {
            top: 0;
            right: 46px;
            color: #626669;
        }
        a.dg-checkout-main-side-toggle {
            top: -12px;
            right: 1px;
        }
        .dg-checkout-main-side-toggle {
            display: block;
        }
    }
    .dg-checkout-main-side-produto.dg-minizado.dg-ativo {
        max-height: 500px;
    }
    .dg-minizado + .dg-checkout-main-side-endereco + .dg-checkout-main-side-cupom {
        padding-top: 15px;
    }
    .dg-checkout-main-carrinho-compre {
        margin-top: 24px;
        .dg-titulo {
            padding: 0;
            border: 0;
            margin-bottom: 24px;
            background-color: rgba(0,0,0,0);
            font-size: 20px;
            color: $corPrimaria;
        }
    }
    .dg-checkout-main-carrinho-compre-lista .dg-boxproduto-titulo a {
        font-size: 13px;
        font-weight: bold;
        line-height: 15px;
        color: $corPrimaria;
    }
    .dg-checkout-main-carrinho-compre .dg-boxproduto-preco-por, .compretambem .dg-boxproduto-preco-por {
        margin-top: 14px;
        font-size: 18px;
        line-height: 14px;
        font-weight: bold;
        color: $corComplementar;
        z-index: 1;
    }
    .dg-checkout-main-carrinho-compre>.dg-titulo strong {
        color: $corComplementar;
    }
    .dg-checkout-main-carrinho-compre .dg-boxproduto>form .dg-boxproduto-compra-btn, .compretambem .dg-boxproduto>form .dg-boxproduto-compra-btn {
        position: absolute;
        bottom: -4px;
        right: 22px;
        font-size: 0 !important;
        width: 24px;
        height: 24px;
        background-color: $corComplementar;
        border-radius: 5.82px;
        background-image: url(../img/icones/shopping-cart.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
        &::before {
            display: none;
        }
    }
    .dg-checkout-main-carrinho-compre .dg-boxproduto-img, .compretambem .dg-boxproduto-img {
        width: 96px;
    }
    .dg-checkout-main-carrinho-compre .dg-boxproduto>form, .dg-checkout-main-carrinho-compre .dg-boxproduto>div:not(.dg-boxproduto-concluido-overlay):not(.dg-boxproduto-concluido), .compretambem .dg-boxproduto>form, .compretambem .dg-boxproduto>div:not(.dg-boxproduto-concluido-overlay):not(.dg-boxproduto-concluido) {
        position: static;
        box-shadow: none;
        padding-left: 106px;
        z-index: 0;
    }
    .dg-checkout-main-carrinho-compre .dg-boxproduto-desconto-checkout, .compretambem .dg-boxproduto-desconto-checkout {
        position: absolute;
        top: 0;
        left: 128px;
        margin: 0;
        border-radius: 3.13px;
        background-color: $corVermelho;
    }
    .dg-checkout-main-carrinho-compre-lista .dg-boxproduto {
        min-height: 80px;
        padding-bottom: 0;
    }
    .dg-boxproduto-titulo {
        min-height: 30px;
        font-size: 13px;
        line-height: 15px;
    }
    .dg-alert-overlay {
        background-color: rgba(11, 24, 65, 0.8) !important;
        .dg-btn-alert-ok, .dg-btn-alert-cancelar {
            background: $corPrimaria;
            border: $corPrimaria;
        }
        .dg-alert-container {
            max-width: 400px;
            border: 0;
            background-color: #F5F9FD;
            border-radius: 15px;
            &::before {
                content: '';
                display: block;
                margin: 0 auto 12px;
                width: 36px;
                height: 36px;
                background-image: url(../img/checkout/logo-chat.svg);
                background-repeat: no-repeat;
                background-position: top center;
                margin-top: -34px;
                border: 1px solid $corPrimaria;
                border-radius: 50%;
            }
        }
        .dg-btn-alert-ok, .dg-btn-alert-cancelar {
            border-radius: 15px;
        }
    }
}