// Topo

.dg-categoria-topo {
    position: relative;
        margin-bottom: 55px;

    @media(min-width: 992px) {
        margin-top: -50px;
        z-index: 1;
        &-wrapper {
            padding-top: 50px;
        }
    }
    
    // background-color: #C6E3E1;
}

.dg-categoria-breadcrumb {
    display: inline-block;
    font-size: 11px;
    color: #8B98A3;
    font-style: italic;
    margin-bottom: 23px;
    a {
        color: #8B98A3;
    }
    li {
        display: inline-block;
        padding-right: 5px;
        
        &:after {
            content: ">";
            padding-left: 5px;
            display: inline-block;
            position: relative;
            top: 1px;
        }
        
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.dg-categoria-desc-fora {
    font-size: 12px;
    font-weight: 500;
    color: #505E6D;
    margin-top: 20px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(#D0D6DA, .30);
    &-h2 {
        font-weight: bold
    }
}

.dg-categoria-desc-fora-p {
    position: relative;
    overflow: hidden;
    &.dg-escondido {
        max-height: none;
        button {
            display: none;
        }
    }
}

.dg-categoria-desc-wrapper {
    @media (max-width: 991px) {
        max-height: 51px;
        overflow: hidden;
    }
}

.dg-categoria-desc-fora-btn {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    background-color: #eff2f5;
    z-index: 1;
    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: #4D869F;
        background-color: #eff2f5;
        font-size: 12px;
        font-weight: 600;
    }
}


.dg-categoria-intro {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    @media (min-width: $screen-md) {
        padding-bottom: 12px;
    }
    
}

.dg-categoria-titulo {
    width: 28%;
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; 
}
.dg-categoria-titulo-img {
    // width: 85px;
    height: 94px;
    border-radius: 10px;
    position: relative;
    // background-color: #C6E3E1;
    // margin-right: 40px;
    margin-right: 0;
    width: 125px;
    // margin-bottom: -25px;
    img {
        // position: absolute;
        left: 0;
        // top: -9px;
        @media (max-width: $screen-md - 1) {
            top: -7px
        }
    }
}
.dg-categoria-titulo-txt {
    max-width: 220px;
    line-height: 1.2;
    .dg-titulo {
        margin: 0 0 4px 0;
        font-size: 18px;
        color: #354350;
        font-weight: 600;
    }
}

.dg-categoria-titulo-desconto {
    text-align: center;
    min-width: 48px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    background: #1EC765;
    // line-height: 1;
    border-radius: 10px;
    display: inline-block;
        padding: 2px 8px;
}

.dg-categoria-desc {
    width: 72%;
    font-size: 12px;
    color: #505E6D;
    font-weight: 500;
    @media (min-width: 992px) {
        // > h2 {
        //     margin-left: -10px;
        // }
    }
    // h1, h2, h3 ,h4 ,h5 ,h6 {
    //     margin-bottom: 5px;
    //     font-weight: 600;
    //     font-size: 14px;
    //     background: rgba(0,0,0,0.1);
    //     padding: 2px 10px;
    // }
}


.dg-categoria-desc-titulo {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 10px;
    @media (max-width: 991px) {
        margin: 23px 0 0;
        padding: 0;
    }
    @media (min-width: 992px) {
        margin-left: -10px;
        // &.dg-isFamilia {
        //     float: right;
        //     width: 72%;
        // }
    }
    // @media (max-width: 991px) {
    //     display: none;
    // }
}




.dg-categoria {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.dg-categoria-sidebar {
    width: 25%;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #fff;
    
    .dg-titulo {
        color: #36404B;
        position: relative;
        background: #f5f7f9;
        font-weight: 500;
        padding: 15px 20px;
        width: 100%;
        strong {
            font-weight: 600;
        }
        
        .dg-categoria-sidebar-limpar {
            color: #FD3141;
            position: absolute;
            top: 16px;
            right: 15px;
            @media (max-width: 991px) {
                top: 19px;
                &:hover {
                    text-decoration: none;
                }
                .dg-tooltip {
                    left: unset;
                    right: 0;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    h2 {
        font-weight: 400;
        word-break: break-word;
    }
}

.dg-categoria-sidebar-titulo {
    color: #FD3141;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
}

.dg-categoria-produtos {
    width: 75%;
    padding-left: 20px;
}

.dg-categoria-sidebar-listagem {
    font-size: 12px;
    font-weight: 600;
    color: #6B6B7B;
    
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 7px;
        
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #e5e5e5;
        &:hover {
          background: darken(#e5e5e5,5%);  
            cursor: pointer !important;
        }
        
        
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b3b3b3;
        border-radius: 10px;
      outline: none;
        &:hover {
            
            background: #888888;
        }
    }
    
    a {
        color: #6B6B7B;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        @media (max-width: $screen-md - 1) {
            padding: 8px 0;
        }

        img {
            height: 20px;
            max-width: 50px;
            margin-right: 5px;
            position: absolute;
            left: 0;
            right: 0;
        }
        
        &.dg-ativo {
            color: #FD3141;
            
            .dg-categoria-sidebar-contagem {
                background: #FD3141;
                color: #fff;
            }
        }
    }
}

.dg-categoria-sidebar-listagem-marca {
    a {
        padding-left: 50px;
    }
}

.dg-categoria-sidebar-contagem {
    background: #dde6f2;
    font-size: 10px;
    color: #36404B;
    display: inline-block;
    padding: 3px 5px 2px;
    border-radius: 10px;
    margin-left: 5px;
    vertical-align: 1px;
    line-height: 1;
}

.dg-categoria-sidebar-letras {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #6B6B7B;
    text-align: center;
    padding: 10px 20px;
    
    li {
        display: inline-block;
    }
    
    a {
        color: #6B6B7B;
        padding: 5px 10px;
        display: block;
        &.dg-ativo {
            color: #FD3141;
        }
        border-radius: 15px;
        
        &:hover, &:focus {
            text-decoration: none;
            background: rgba(0,0,0,0.1);
        }
    }
    
    
}

.dg-categoria-sidebar-limpar-filtros {
    padding: 20px 20px;
    background: #f5f7f9;
    border-radius: 0 0 15px 15px;
    a {
        color: #FD3141;
        font-weight: 600;
        font-size: 14px;
    }
}


// Barra de ordem
.dg-categoria-ordenacao {
    background: rgba(#fff,0.4);
    border: 1px solid #fff;
    border-radius: 50px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 15px;
    
    .dg-titulo {
        color: #6B6B7B;
        font-size: 12px;
        font-weight: 600;
        width: 20%;
        padding: 15px 20px 10px 20px;
        margin: 0;
    }
    
    .dg-categoria-paginacao {
        padding-top: 13px;
        // width: 40%;
        margin: 0;
    }
   
}


    


.dg-categoria-ordenacao-item {
    color: #7C798B;
    font-size: 12px;
    opacity: 0.6;
    // width: 20%;
    position: relative;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 10px;
    // padding-left: 20px;
    // padding-right: 20px;

    width: auto;
    // padding-left: 37px;
    // padding-right: 37px;
    &.dg-ativo {
        color: #ff3141;
        opacity: 1;
        font-weight: 500;
        &:hover, &:focus {
            color: #ff3141; 
        }
    }

    &:hover, &:focus {
        opacity: 1;
        text-decoration: none;
        color: #7C798B;
    }
    .dg-icon {
        position: absolute;
        top: 18px;
        left: 10px;
        font-size: 12px;
    }
}



.dg-categoria-paginacao {
    // width: 100%;
    margin: 30px 0;

    
    > ul {
        max-width: 180px;
        margin: 0 auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        justify-content: center;
        > li {
            margin: 0 5px;
            width: 23px;
            height: 23px;
            background: #E4E5EC;
            text-align: center;
            
            font-size: 10px;
            font-weight: 600;
            border-radius: 50%;
            vertical-align: top;
            
            > a, > span {
                vertical-align: top;
                display: block;
                width: 23px;
                height: 23px;
                text-align: center;
                border-radius: 50%;
                padding-top: 5px;
            }
            
            > a {
                color: #8b8a93;
                
                &:hover, &:focus {
                    color: #fff;
                    background: #8b8a93;
                    text-decoration: none;
                }
            }
            
            > span {
                color: #fff;
                background: #FF3141;
            }
        }
        
        .dg-categoria-paginacao-etc {
            > span {
                background: transparent;
                color: #FF3141;
                font-weight: bold;
            }
        }
    }
}


@media(min-width: 992px) and (max-width: 1080px) {
    .dg-categoria-ordenacao {
        .dg-categoria-paginacao {
            display: none;
        }
    }
}


// Ordenação de bners
.dg-categoria-bners {
    order: 12;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    
    a {
        display: inline-block;
        &:hover {
            opacity: 0.8;
        }
    }
}

.dg-categoria-listagem .dg-boxproduto {
    order: 14;
    
    &:nth-child(1) {
        order: 1;
    }
    
    &:nth-child(2) {
        order: 2;
    }
    
    &:nth-child(3) {
        order: 3;
    }
    
    &:nth-child(4) {
        order: 4;
    }
    
    &:nth-child(5) {
        order: 5;
    }
    
    &:nth-child(6) {
        order: 6;
    }

    &:nth-child(7) {
        order: 7;
    }

    &:nth-child(8) {
        order: 8;
    }

    &:nth-child(9) {
        order: 9;
    }
    &:nth-child(10) {
        order: 10;
    }
    &:nth-child(11) {
        order: 11;
    }
    &:nth-child(12) {
        order: 12;
    }
}


.dg-categoria-paginacao {
    order: 20;
}







// Versão Mobile



@media(max-width: 991px) {
    .dg-categoria-sidebar, .dg-categoria-ordenacao {
        display: none;
    }

    .dg-categoria-breadcrumb {
        font-size: 9px;
        margin-top: 9px;
        margin-bottom: 12px;
    }

    .dg-categoria-titulo-txt {
        padding-top: 9px;
        .dg-titulo {
            font-size: 16px;
        }
    }
    
    .dg-categoria-titulo {
        width: 100%;
    }
    
    .dg-categoria-desc {
        width: 100%;
    }
    
    .dg-categoria {
        width: 100%;
        // padding-bottom: 27px;
        .dg-categoria-desc-vermais {
            position: absolute;
            // bottom: -33px;
        }
    }
    
    // .dg-categoria-desc {
    //     display: none;
    // }
    
    .dg-categoria-topo {
        margin-bottom: 30px;
        margin-top: -25px;
    padding-top: 10px;
    }
    
    .dg-categoria-produtos {
        padding-left: 0;
        width: 100%;
    }
    
    .dg-boxproduto-lista.dg-3, .dg-boxproduto-lista.dg-4 {
        margin-left: -1.5%;
        margin-right: -1.5%;
        .dg-boxproduto {
            width: 47%;
            margin-left: 1.5%;
            margin-right: 1.5%;
        }
    }
}

@media(max-width:414px) {
    .dg-boxproduto-lista.dg-3, .dg-boxproduto-lista.dg-4 {
        margin-left: -1.5%;
        margin-right: -1.5%;
        .dg-boxproduto {
            width: 47%;
            margin-left: 1.5%;
            margin-right: 1.5%;
        }
    }
}




// Botões filtro mobile
.dg-categoria-menumobile {
    display: none;
    @media(max-width: 991px) {
        display: block;
    }


    > ul {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        > li {
            width: 50%;
            
            &:first-child {
                padding-right: 10px;
            }
            &:last-child {
                padding-left: 10px;
            }
            
            > a {
                display: block;
                text-align: center;
                background: rgba(255, 255, 255, 0.4);
                border: 1px solid #fff;
                padding: 10px 0;
                margin-bottom: 20px;
                border-radius: 50px;
                color: #6B6B7B;
                font-size: 14px;
                font-weight: 600;
                vertical-align: top;

                &:hover, &:focus {
                    text-decoration: none;
                    color: #6B6B7B;
                }
                
                img {
                    vertical-align: top;
                    margin-top: 5px;
                    margin-right: 5px;
                    max-height: 15px;
                }
            }
        }
    }
}







// ORDENAÇÃO MOBILE

@media(max-width: 991px) {
    .dg-categoria-ordenacao.dg-ativo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .dg-categoria-ordenacao {
        position: fixed;
        font-size: 14px;
        z-index: 110;
        background: rgba(#FBFCFC,0.9);
        border-radius: 0;
        right: 0;
        top: 0;
        padding: 75px 0 0 !important;
        width: 85%;
        height: 100%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
        -webkit-animation-name: fadeInLeftCat;
        animation-name: fadeInLeftCat;
        -webkit-animation-duration: .24s;
        animation-duration: .24s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        // padding-left: 20px;
        // padding-right: 20px;
        // padding-bottom: 25px;
        &.dg-ativo + main:after {
            visibility: visible;
            opacity: 1;
        }
        .dg-categoria-paginacao {
            display: none;
        }
    }
    main:after {
        content: '';
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(#7699A8, .7);
        z-index: 40;
        visibility: hidden;
        opacity: 0;
        transition: .33s linear;
    }
    .dg-categoria {
        position: relative;
    }
    
    .dg-categoria-ordenacao-titulo {
        line-height: 1;
        padding: 20px 27px !important;
        background-image: url(../img/categoria/ordenar.svg);
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 0 !important;
        &::after {
            content: "Ordenar";
            font-size: 12px;
        }
    }

    .dg-categoria-ordenacao-voltar {
        line-height: 1;
        padding: 20px 0 20px 27px !important;
    }

    .dg-categoria-ordenacao-item {
        font-size: 14px;
        display: block;
        width: 100%;
        white-space: nowrap;
        flex-basis: 100%;
        padding: 20px 27px;
        br {
            display: none;
        }
        
        opacity: 1;
        // margin-top: 1px;
        border-top: 1px solid #fff;
        &:last-child {
            border-bottom: 1px solid #fff;
        }
        .dg-icon {
            position: static;
            display: inline-block;
            margin-right: 8px;
        }
    }
}


@-webkit-keyframes fadeInLeftCat {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInLeftCat {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}


.dg-categoria-ordenacao-voltar {
    display: none;
    
    @media(max-width: 991px) {
        display: block;
            color: #6B6B7B;
            font-size: 12px;
            font-weight: 600;
        // background: red;
        text-align: right;
        // position: absolute;
        // top: 0;
        // right: 0;
        // width: 50%;
        // padding: 16px 20px 12px 10px;

        &:hover, &:focus {
            text-decoration: none;
            color: #6B6B7B;
        }
        
        .dg-icon {
            font-size: 11px;
            position: relative;
            top: 1px;
            margin-right: 5px;
        }
    }
}

.dg-categoria-sidebar-voltar {
    display: none;
    
    @media(max-width: 991px) {
        display: block;
        color: #6B6B7B;
        font-size: 12px;
        font-weight: 600;
        float: left;

        // background: red;
        text-align: left;
        top: 0;
        right: 0;
        width: 50%;
        padding: 20px 0 20px 27px;

        &:hover, &:focus {
            text-decoration: none;
            color: #6B6B7B;
        }
        
        .dg-icon {
            font-size: 11px;
            position: relative;
            top: 1px;
            margin-right: 5px;
        }
    }
}



.dg-categoria-sidebar {
    @media(max-width: 991px) {
        &.dg-ativo {
            // display: flex;
            // flex-wrap: wrap;
            // justify-content: space-between;
            display: block;
        }
        &::after {
            content: '';
            display: table;
            clear: both;
        }
        overflow: auto;
        position: fixed;
        font-size: 14px;
        z-index: 110;
        background: #F6F8F9;
        border-radius: 0;
        right: 0;
        top: 0;
        width: 85%;
        height: 100%;
        padding-top: 75px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
        -webkit-animation-name: fadeInLeftCat;
        animation-name: fadeInLeftCat;
        -webkit-animation-duration: .24s;
        animation-duration: .24s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        // padding-left: 20px;
        // padding-right: 20px;
        // padding-bottom: 25px;
        &.dg-ativo + .dg-categoria-produtos main:after {
            visibility: visible;
            opacity: 1;
        }
        .dg-categoria-paginacao {
            display: none;
        }
        .dg-categoria-sidebar-titulo {
            padding: 20px 27px 20px 0;
            font-size: 0 !important;
            &::after {
                content: "Filtrar";
                padding-left: 13px;
                font-size: 12px;
                color: #7C798B;
                background-image: url(../img/categoria/filter.svg);
                background-repeat: no-repeat;
                background-position: left center;
            }
        }
        .dg-titulo {
            background-color: #f1f4f6;
        }
        .dg-categoria-sidebar-titulo {
            float: right;
            & ~ * {
                float: left;
                width: 100%;
                flex-basis: 100%;
                margin: 0;
                padding: 15px 27px;
            }
            & ~ .dg-categoria-sidebar-limpar-filtros {
                display: none;
            }
        }
        .dg-categoria-sidebar-listagem-wrapper {
            padding: 16px 27px;
            margin-right: 20px;
            .dg-categoria-sidebar-listagem {
                padding: 0;
            }
        }

    }
}

@-webkit-keyframes fadeInRightCat {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInRightCat {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}



.dg-categoria-listagem-showpages {
    font-size: 12px;
     color: #505E6D;
     font-weight: 500;
     padding-right: 20px;
     padding-bottom: 10px; 
 }

 .dg-categoria-ordenacao {
    padding-left: 10px;
    padding-right: 20px;
}

.dg-categoria-ordenacao .dg-categoria-paginacao {
    >ul {
        max-width: 250px;
        margin: 0 auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}


// notebook
@media(max-height: 680px) and (min-width: 992px) {
    .dg-categoria-topo {
        margin-bottom: 30px;
    }
    
    .dg-categoria-listagem-showpages {
        padding-bottom: 3px;
        font-size: 10px;
        font-weight: 600;
    }
    
    .dg-categoria-ordenacao {
        margin-bottom: 10px;
    }
    .dg-categoria-desc {
        font-size: 11px;
    }
    
    .dg-categoria-titulo-img {
        height: 70px;
        width: 60px;
    }
}
// /notebook





.dg-categoria-topo-txtClaro {
    .dg-categoria-breadcrumb a, .dg-categoria-breadcrumb span, .dg-categoria-breadcrumb li:after {
        color: rgba(#fff,0.7);
        
    }
    
    .dg-categoria-titulo-txt .dg-titulo {
        color: #fff;
    }
    
    .dg-categoria-desc {
        color: #fff;
        @media (max-width: 991px) {
            color: #505E6D;
            .dg-categoria-desc-titulo {
                color: #505E6D;
            }
        }
    }
} 



// Páginas específicas:
[nome-categoria="promoção"], [nome-categoria="promoções"] {
    .dg-categoria-topo-wrapper {
        background-image: url(../img/categoria/cat_promocoes.png) !important;
    }
    
    .dg-categoria-titulo-desconto {
        background: #36404B;
        margin-top: 3px; 
    }
}

// [nome-categoria="genericos"] {
//     // background: #D7E5F4 !important;
//     // color: #505E6D;
//     .dg-categoria-desc, .dg-categoria-titulo-txt .dg-titulo, .dg-categoria-breadcrumb, .dg-categoria-breadcrumb a, .dg-categoria-breadcrumb span, .dg-categoria-topo-txtClaro .dg-categoria-breadcrumb a, .dg-categoria-topo-txtClaro .dg-categoria-breadcrumb span, .dg-categoria-breadcrumb li:after {
//         // color: #505E6D;
//     }
    
//     .dg-categoria-titulo-txt .dg-titulo {
//         vertical-align: top;
//         position: relative;
//         &:before {
//             vertical-align: top;
//             font-family: "dne-2021" !important;
//             font-style: normal !important;
//             font-weight: normal !important;
//             font-variant: normal !important;
//             text-transform: none !important;
//             speak: none;
//             line-height: 1;
//             -webkit-font-smoothing: antialiased;
//             -moz-osx-font-smoothing: grayscale;
//             content: "\6a";
//             font-size: 13px;
//             width: 18px;
//             text-align: center;
//             border-radius: 50%;
//             line-height: 18px;
//             color: #202875;
//             line-height: 1;
//             padding-top: 1px;
//             display: inline-block;
//             position: relative;
//             z-index: 2;
//             top: 2px;
//         }
        
//         &:after {
//             content: " ";
//             position: absolute;
//             width: 18px;
//             height: 18px;
//             background: #FEC42D;
//             left: 0;
//             top: 1px;
//             z-index: 1;
//             border-radius: 50%;
//         }
//     }
// }

.dg-categoria-desc-divider {
    border-bottom: 2px solid rgba(#D0D6DA, .30);
    height: 27px;
    padding-bottom: 20px;
}

.dg-categoria-desc-vermais {
    display: block;
    width: auto;   
    text-align: center;
    min-width: 48px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    background: #333;
    display: inline-block;
    padding: 3px 15px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    
    &:hover, &:focus { 
        text-decoration: none;
        background: #222;
        color: #fff;
    }
    @media(max-width: 991px) {
        // display: none;
        position: absolute;
        top: unset;
        right: unset;
        width: 100%;
        background-color: rgba(0,0,0,0);
        text-align: left;
        padding: 0 0 7px 0;
        font-size: 12px;
        font-weight: 500;
        margin-top: 5px;
        padding-bottom: 8px;
        color: #4D869F;
        font-size: 12px;
        font-weight: 600;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 6px;
            width: 11px;
            height: 11px;
            background-repeat: no-repeat;
            background-image: url(../img/categoria/chevron-down.svg);
            background-position: center
        }
        &:hover, &:focus { 
            background: none;
            color: #4D869F;
        }
        &.dg-ativo {
            &::after {
                transform: scale(-1)
            }
        }
    }
    .dg-categoria-desc-vermais-mais {
        display: block;
    }
    .dg-categoria-desc-vermais-menos {
        display: none;
    }
    
    &.dg-ativo {
        opacity: 0.6;
        .dg-categoria-desc-vermais-mais {
            display: none;
        }
        .dg-categoria-desc-vermais-menos {
            display: block;
        }
    }
}


.dg-categoria-desc {
    position: relative;

    .dg-categoria-desc-wrapper.dg-txtao {
        transition: 300ms ease all;
    }

    .dg-categoria-desc-wrapper.dg-ativo {
        max-height: 1000px;
    }
    
}

h1.dg-categoria-desc {
    margin: 0;
}

// .dg-categoria-titulo-img {
//     margin-bottom: -25px;
// }

.dg-familia {
    .dg-categoria-desc-wrapper {
        @media(min-width: 992px) {
            min-height: 106px;
            max-height: 106px;
            overflow: hidden;
        }
    }
    .dg-categoria-titulo-img {
        margin-bottom: 0;
    }
}

// Bordas arredondadas
.dg-categoria-bners {
    img {
        border-radius: 10px;
    }
}


// Famílias
// [nome-tipo="Familia"].dg-categoria-topo {
//     background-color:#C6E3E1 !important;
//     .dg-categoria-desc, .dg-categoria-titulo-txt .dg-titulo, .dg-categoria-breadcrumb a, .dg-categoria-breadcrumb span, .dg-categoria-breadcrumb li:after {
//         color: #505E6D;
//     }
// }


// Busca
[nome-tipo="Busca"] {
    // .dg-categoria-titulo {
    //     width: 100%;
    // }
    
    // .dg-categoria-titulo-txt {
    //     max-width: 80%;
    //     padding-top: 15px;
    //     strong {
    //         color: #FD3141;
    //     }
    // }
    
    // .dg-categoria-titulo-txt .dg-titulo {
    //     font-size: 21px;
        
    // }
    
    .dg-categoria-titulo-img {
        width: 106px;
        // margin-bottom: -25px;
        margin-right: 0;
        // padding: 0;
        // top: 10px;
        img {
            max-width: 106px;
            @media (max-width: $screen-md - 1) {
                max-width: 76px;
            }
        }
        
    }
    .dg-categoria-titulo {
        width: 106px;
        margin-right: 15px;
        padding-right: 0;
        @media (max-width: $screen-md - 1) {
            width: 66px;
        }
    }

    .dg-categoria-desc {
        min-height: 70px;
        max-height: none;
        font-size: 19px;
        flex: 1;
        color: #36404B;
        padding-right: 0;
        strong {
            font-weight: 600;
            color: #FD3141;
        }
        @media (max-width: $screen-md - 1) {
            padding-top: 0;
            padding-bottom: 9px;
            font-size: 16px;
        }
    }
    
    .dg-categoria-titulo-txt .dg-titulo, .dg-categoria-breadcrumb li:after, .dg-categoria-breadcrumb li span, .dg-categoria-breadcrumb li a {
        color: #36404B;
    }
}



@media(max-height: 680px) and (min-width: 992px) {
    // [nome-tipo="Busca"] .dg-categoria-titulo-img {
    //     width: 120px;
    // }
    
    .dg-categoria-titulo-txt {
        padding-top: 5px;
    }

    // .dg-categoria-titulo {
    //     padding-bottom: 10px;
    // }
}



// Banner de categoria correção
.dg-categoria-bners {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    width: 100%;
    
    > a, > span, > div {
        width: 50%;
        &:nth-child(odd) {
            padding-right: 5px;
        }
        
        &:nth-child(even) {
            padding-left: 5px;
        }
        
        @media(max-width: 991px) {
            padding: 0 !important;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}



@media(min-width: 992px){
    .dg-categoria-titulo {
        position: relative;
        padding-right: 50px;
        
        &:before {
            content: " ";
            position: absolute;
            right: 40px;
            top: 8px;
            width: 5px;
            height: 80%;
            background: rgba(255,255,255,0.5);
            border-radius: 5px;
        }
    }
}



.dg-categoria-titulo-img {
    width: 94px;
    margin-right: 15px;
    img {
        max-width: 94px;
    }
    
    @media(max-width: 1279px) {
        width: 94px !important;
        margin-right: 15px;
        margin-bottom: 0;
        height: 50px;
        img {
            max-width: 80px;
        }
    }
    
    @media(max-width: 991px) {
        width: 70px !important;
        img {
            max-width: 70px;
            max-height: 70px;
        }
        // display: none;
    }
}

.dg-categoria-titulo {
    @media(max-width: 991px) {
        margin-bottom: 5px;
    }
}

@media(max-height: 680px) and (min-width: 992px) {
    .dg-categoria-titulo-img {
        width: 100px;
        margin-right: 0px;
        height: 70px;
        
        img {
            max-width: auto;
            max-height: 85px;
        }
    }
}


// [nome-tipo="Busca"] .dg-categoria-titulo-img img {
//     max-width: 150px;
// }


.dg-categoria-paginacao > ul > li > span {
    &.dg-categoria-paginacao-etc {
        background: #F6F8F9;
        color: #FF3141;
        padding: 0;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 18px;
        font-weight: 900;
        line-height: 1;
    }
}


.dg-categoria-ordenacao-titulo {
    color: #7C798B;
font-size: 12px;
opacity: 1;
// width: 20%;
text-align: center;
position: relative;
line-height: 1.2;
font-weight: 600;
// padding-bottom: 10px;
// padding-left: 20px;
// padding-right: 20px;
width: auto;
padding: 18px 20px;
}


// @media(max-width: 1281px) {
//     .dg-categoria-ordenacao-titulo {
//         padding: 18px 15px;
//     }
    
//     .dg-categoria-ordenacao-item {
//         // padding-left: 25px;
//         // padding-right: 25px;
//         .dg-icon {
//             left: 5px;
//         }
//     }
// }


.dg-categoria-sidebar-listagem-contrgenerico {
    li {
        position: relative;
        padding-left: 25px;
        padding-bottom: 10px;
        a {
            background-color: #d1e2fa;
            display: inline-block;
            position: relative;
            border-radius: 15px;
            line-height: 1;
            text-transform: uppercase;
            font-size: 11px;
            padding: 4px 10px;
            font-weight: 900;
            color: #333;
            .dg-icon {
                color: #fff;
                background: #333;
                position: absolute;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                top: 0px;
                left: -25px;
                padding-top: 3px;
                font-weight: 400; 
                font-size: 10px;
                transform: translateZ(0) perspective(1px);

                &.dg-icon-refrigerado {
                    display: inline-block;
                    background: #1476bc;
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 11px;
                        height: 11px;
                        margin: 0 3px;
                        background-image: url(../img/categoria/refrigerados.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 11px;
                    }
                }
                
                &.dg-icon-generico {
                    background: #f5c751;
                    color: #33336c;
                    padding-left: 3px;
                    font-size: 11px;
                }
                
                &.dg-icon-controlado {
                    background: #38404a;
                    color: #fff;
                    font-size: 9px;
                    padding-top: 4px;
                    padding-left: 4px;
                }
            }
            & + a.dg-categoria-sidebar-limpar {
                background-color: rgba(0,0,0,0);
                padding: 0;
                position: absolute;
                right: 0;
                top: 2px;
                &:hover {
                    text-decoration-color: #FD3141;
                }
                span.dg-icon {
                    position: static;
                    width: 14px;
                    height: 14px;
                    font-size: 14px;
                    background: none;
                    padding: 0;
                    color: #FD3141;
                }
                span.dg-tooltip {
                    left: unset;
                    right: -6px;
                    &::before {
                        display: none;
                        left: unset;
                        right: 10px;
                    }
                    @media (max-width: 991px) {
                        display: none;
                    }
                }
            }
        }
    }
} 

.dg-categoria-produtos {
    &[tipopg="Favoritos"] {
        width: 100%;
        padding-left: 0;
    }
}

.dg-categoria-semfavoritos {
    .dg-titulo {
        background: #fff;
        border-radius: 10px;
        border: 1px solid #e5e5e5;
        padding: 20px;
        text-align: center;
        color: #333;
        font-weight: 400;
        font-size: 18px;
        margin-top: 70px;
    }
    min-height: 50vh;
}




// Variações de paginação
// .dg-categoria-ordenacao-pag-6 { 
//     @media(min-width: 1281px) {
//         .dg-categoria-ordenacao-item {
//             padding-left: 34px;
//             padding-right: 34px;
//         }
//     }
    
//     @media(min-width: 992px) and (max-width: 1280px) {
//         .dg-categoria-ordenacao-item {
//             padding-left: 20px;
//             padding-right: 20px;
//             .dg-icon {
//                 left: 0;
//                 font-size: 11px;
//             }
//         }
        
//         .dg-categoria-ordenacao-titulo {
//             padding: 18px 13px;
//         }
//     }
// }



// .dg-categoria-ordenacao-pag-7 {
//     @media(min-width: 1281px) {
//         .dg-categoria-ordenacao-item {
//             padding-left: 31px;
//             padding-right: 31px;
//         }
//     }
    
//     @media(min-width: 992px) and (max-width: 1280px) {
//         .dg-categoria-ordenacao-item {
//             padding-left: 24px;
//             padding-right: 24px;
//             .dg-icon {
//                 // display: none;
//             }
//         }
        
//         .dg-categoria-ordenacao-titulo {
//             display: none;
//         }
//     }
// }



 
@media(min-width: 992px) {
    .dg-categoria-ordenacao {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    
    .dg-categoria-ordenacao-item {
        padding-left: 23px;
        .dg-icon {
            left: 0;
        }
    }
    
    .dg-categoria-ordenacao-titulo {
        padding-right: 0;
    }
}

.dg-categoria-paginacao-footer {
    width: 100%;
}

.dg-categoria-sidebar-preco-range {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px 20px 36px;
    #amount {
        margin: 32px auto 0;
        text-align: center;
        border-radius: 100px;
        border: 1px solid #dde6f2;
        padding: 0.3rem;
        font-size: 0.90em;
        color: #607d8b;
    }
    .ui-widget-content {
        border: 1px solid #dde6f2;
        border-radius: 10px;
        background-color: #dde6f2;
        flex: 1;
        &::after {
            content: '';
            display: block;
            height: 15px;
            width: 100%;
            background-image: url(../img/categoria/input-ranger.png);
            background-position: center;
            margin-top: 16px;
            @media (min-width: $screen-md) {
                background-repeat: no-repeat;
            }
        }
    }
    .ui-slider-handle {
        display: inline-block;
        border-radius: 50%;
        background: #ff3141;
        border: 0;
        z-index: 2;
        width: 16px;
        height: 16px;
        &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 8px;
            height: 8px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
    .ui-slider-horizontal .ui-slider-range {
        background: #ff3141;

    }
}

.dg-categoria-sidebar-preco-range-valor {
    width: auto;
    padding-top: 2px;
    margin: 0 15px;
    font-size: 10px;
    line-height: 1;
    font-weight: bold;
    color: #FD3141;
    min-width: 45px;
}

.dg-categoria-sidebar-preco-range-valor:first-child {
    margin-left: 0;
    text-align: right;
}

.dg-categoria-sidebar-preco-range-valor:last-child {
    margin-right: 0;
    text-align: left;
}

.dg-categoria-sidebar-preco-btn {
    position: relative;
    display: block;
    width: 50%;
    padding: 1px;
    margin: 5px auto 10px;
    border: 1px solid #eef0f1;
    font-size: 11px;
    font-weight: 500;
    text-transform: unset;
    background-color: #fff;
    z-index: 1;
    @media (max-width: $screen-md - 1) {
        background-color: #f6f8f9;
    }
}

// @media (max-width: 991px) {
//     .dg-categoria-sidebar-limpar-filtros {
//         position: absolute;
//         top: 153px;
//         right: 30px;
//         width: 12px;
//         height: 12px;
//         padding: 0 !important;
//         background-color: rgba(0,0,0,0);
//         a {
//             display: inline-block;
//             width: 12px;
//             height: 12px;
//             font-size: 0;
//             background-image: url(../img/categoria/fechar.svg);
//             background-repeat: no-repeat;
//             background-position: center;
//             vertical-align: top;
//         }
//     }
// }

.dg-categoria-sidebar-limpar-filtros {
    @media (max-width: 991px) {
        text-align: center;
    }
}

.dg-categoria-topo-wrapper {
    background-position: left bottom;
    background-repeat: no-repeat;
    @media (min-width: 992px) {
        &.dg-vermais {
            .dg-categoria-desc-titulo {
                position: absolute;
                top: -43px;
                width: 101%;
                left: 0;
                background: rgba(0,0,0,.1);
            }
        }
    }
    @media (max-width: 991px) {
        background-size: 991px 99px;
        background-position: left top;
    }
}

.dg-categoria-desc-wrapper-side {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    // display: none;
    width: 100%;
    z-index: 999999;
    height: 100%;
    padding: 0;
    background-color: rgba(118, 153, 168, 0.7);
    opacity: 0;
    visibility: hidden;
    .dg-categoria-desc-wrapper-side-text-wrapper {
        display: flex;
        flex-direction: column;
        width: 91%;
        height: 100%;
        margin-left: auto;
        padding: 20px 20px 0;
        border-radius: 20px 0 0 0;
        background-color: #fff;
        overflow: auto;
        transform: translateX(100%);
        transition: .16s linear;
    }
    &-title {
        color: #ff3141;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 10px;
    }
    &.dg-ativo {
        opacity: 1;
        visibility: visible;
        transition: .16s linear;
        .dg-categoria-desc-wrapper-side-text-wrapper {
            transform: translateX(0%)
        }
    }
    .dg-categoria-desc-wrapper-side-text {
        display: block;
        overflow-y: auto;
        padding-right: 20px;
        padding-bottom: 20px;
        flex: 1;
        margin-bottom: 0;
    }

    .dg-categoria-desc-wrapper-side-close {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
        background-color: rgba(0, 0, 0, 0);
        padding: 0 0 24px;
        font-size: 12px;
        font-weight: 500;
        color: #6B6B7B;
        span {
            display: flex;
            margin-right: 6px;
        }
        // &::before {
        //     content: '';
        //     display: inline-block;
        //     height: 11px;
        //     width: 7px;
        //     margin-right: 19px;
        //     background-image: url(../img/header/chevron-right.svg);
        //     background-repeat: no-repeat;
        //     background-position: center left;
        //     transform: scaleX(-1);
        //     vertical-align: -1px;
        // }
    }
}

html.dg-overflow-hidden, body.dg-overflow-hidden {
    overflow: hidden
}

@media (max-width: 991px) {
    #busca-pg {
        .dg-categoria-topo-wrapper {
            background-image: none !important;
        }
        .dg-categoria-listagem-showpages, .dg-categoria-titulo, .dg-categoria-breadcrumb {
            display: none
        }
        [nome-tipo="Busca"] .dg-categoria-desc {
            min-height: auto;
            margin-top: 6px;
            padding-bottom: 0;
            margin-bottom: 15px;
            font-size: 14px;
            color: #6B6B7B;
            &::after {
                content: '';
                display: block;
                width: 10px;
                height: 3px;
                background-color: #ff3141;
                border-radius: 9px;
            }
        }
        .dg-categoria-topo {
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
        .dg-categoria-menumobile > ul > li > a {
            margin-bottom: 12px;
        }
    }
    .dg-categoria {
        
        .dg-categoria-listagem .dg-boxproduto:nth-child(10) ~ .dg-boxproduto  {
            order: 12
        }
        .dg-categoria-listagem .dg-boxproduto:nth-child(9) + .dg-boxproduto {
            order: 10
        }
        .dg-categoria-bners {
            order: 11;
        }
    }
}

@media (max-width: 767px) {
    .dg-categoria-listagem {
        .dg-boxproduto-tags-mobile {
            position: absolute;
            top: 100%;
            left: 0;
            display: block !important;
            width: 100%;
            margin-top: -14px;
            text-align: center;
            > * {
                margin: 0;
                text-align: center;
                > * {
                    margin: 0;
                }
            }
        }
        .dg-boxproduto-desconto-levepague {
            display: none !important;
        }
        .dg-boxproduto--indisponivel .dg-boxproduto-tags .dg-boxproduto-desconto--indisponivel, .dg-boxproduto-tags .dg-boxproduto-desconto-comprexpaguey, .dg-boxproduto-tags .dg-boxprodudto-desconto-lab {
            display: none;
        }
    }
}

@media (max-width: $screen-md - 1) {
    .dg-categoria-listagem, .dg-favoritos-boxproduto-lista {
        .dg-boxproduto:nth-child(even) {
            .dg-broxproduto-parcelas-icone.dg-tooltip-hover .dg-tooltip {
                right: -16px !important;
                left: unset;
            }
        }
    }
}

.dg-favoritos-boxproduto-lista.dg-center-text {
    justify-content: center;
    text-align: center;
}

[nome-categoria="meus-favoritos"] {
    ~ .container {
        .dg-categoria-menumobile {
            display: none;
        }
    }
}

@media (min-width: $screen-md) {
    .dg-categoria-sidebar .dg-titulo.dg-titulo-subcategoria {
        border-top: 1px solid #e0e6eb;
    }
}


.dg-landing-banner {
    display: inline-block;
    text-align: center;
}


.dg-landing-banner-topo {
    margin-bottom: 15px;
    .dg-categoria-breadcrumb {
        margin-bottom: 13px;
    }
}

@media (max-width: 991px) {
    .dg-bannerMensagemTopo ~ .container .dg-categoria {
        .dg-categoria-ordenacao, .dg-categoria-sidebar {
            padding-top: 116px !important;
        }
    }

    html[tem-cronometro] {
        body {
            .dg-categoria-ordenacao, .dg-categoria-sidebar {
                padding-top: 120px !important;
            }
            .dg-bannerMensagemTopo ~ .container .dg-categoria {
                .dg-categoria-ordenacao, .dg-categoria-sidebar {
                    padding-top: 169px !important;
                }
            }
        }
    }

}

@media (max-width: 991px) {
    body {
        .dg-categoria-sidebar-listagem-contrgenerico li {
            padding-left: 15px;
        }
        .dg-categoria-sidebar {
            border-radius: 0;
            background: none;
            background-color: rgba(0,0,0,0);
            left: 0;
            width: 100%;
            padding-top: 0;
            z-index: 100007;
        }
        .dg-categoria-sidebar {
            border: 0;
        }
        .dg-categoria-sidebar .dg-categoria-sidebar-listagem-wrapper {
            padding: 28px 40px 40px;
            margin-right: 0;
        }
        .dg-categoria-sidebar .dg-categoria-sidebar-titulo {
            padding-bottom: 37px;
        }
        .dg-categoria-sidebar .dg-categoria-sidebar-titulo {
            position: static;
            float: none;
            width: 100%;
            display: block;
            text-align: left;
            font-size: 15px !important;
            float: left;
            padding-left: 40px;
            padding-right: 40px;
            color: #fff;
            path {
                fill: #fff;
            }
            &::after {
                display: none;
            }
        }
        .dg-categoria-sidebar-listagem::-webkit-scrollbar-track {
            background: #fff;
        }
        .dg-categoria-sidebar .dg-titulo {
            padding: 0 0 0 40px;
            background-color: rgba(0,0,0,0) !important;
        }
        .dg-categoria-sidebar-listagem a, .dg-categoria-sidebar-voltar {
            color: #fff;
        }
        .dg-categoria-sidebar-letras a, .dg-categoria-sidebar-preco-range-valor {
            color: #fff;
        }
        .dg-categoria-sidebar-voltar {
            position: absolute;
            top: 12px;
            right: 24px;
            width: 38px;
            height: 38px;
            border-radius: 12px;
            background-image: url(../img/header/close.svg);
            background-repeat: no-repeat;
            background-position: center;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .dg-categoria-menumobile>ul {
            justify-content: space-between;
        }
        .dg-categoria-sidebar .dg-categoria-sidebar-preco-range {
            padding-bottom: 40px;
        }
        .dg-categoria-sidebar .dg-categoria-sidebar-letras {
            padding-bottom: 30px;
        }
        .dg-categoria-sidebar {
            .dg-titulo + * {
                padding-top: 30px;
                &.dg-categoria-sidebar-listagem-wrapper {
                    padding-top: 28px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    body .dg-categoria-sidebar {
        overflow: hidden;

        .dg-header-minhaconta-modal {
            position: fixed;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: 0.33s transform cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
            height: 100%;
            background-color: #EFF2F5;
            box-sizing: border-box;
            width: 94%;
            z-index: 50;
            display: block;
            padding: 0 16px;
            .dg-header-minhaconta-flex form {
                .dg-titulo {
                    line-height: 1.42857143;
                }
            }
        }
        .dg-header-minhaconta-modal.dg-ativo {
            transform: translateX(0);
        }

        .dg-categoria-sidebar-voltar {
            position: static;
            width: 38px;
            height: 38px;
            border-radius: 12px;
            margin-right: 16px;
            padding: 0;
        }
        .dg-categoria-filtro-wrapper {
            overflow: auto;
        }
        .templateLogadoLogadoCont {
            margin: auto 0;
        }
        .dg-menu-login-mobile img {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            border-radius: 50%;
        }
        .dg-menu-login-mobile {
            display: flex;
            align-items: center;
            .dg-menu-login-mobile img {
                width: 35px;
                height: 35px;
                margin-right: 10px;
                border-radius: 50%;
            }
            .dg-menu-login-mobile-top {
                font-size: 20px;
                font-weight: 500;
                strong {
                    font-weight: 500;
                }
            }
            .dg-menu-login-mobile-bottom {
                color: #fff;
                margin-top: 4px;
                font-size: 14px;
                font-weight: 600;
                a {
                    display: inline-block;
                    padding: 4px 8px;
                    border-radius: 7px;
                    background-color: #E5E5E5;
                    font-size: 12px;
                    font-weight: 500;
                    color: #3A4855;
                    &:first-child {
                        margin-right: 2px;
                    }
                    &:last-child {
                        margin-left: 2px;
                    }
                    &:hover, &:focus {
                        color: #3A4855;
                        text-decoration: none;
                        background-color: #d8d8d8;
                    }
                }
            }
        }
        .dg-categoria-header-wrapper {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            height: 188px;
            padding: 22px 20px 0 !important;
            background-color: rgba(0, 0, 0, 0);
            top: -188px;
            z-index: 3;
        }
        .dg-categoria-sidebar-titulo {
            border-top: 1px solid #294BBB;
        }
        .dg-titulo, .dg-categoria-sidebar-titulo ~ *, .dg-categoria-sidebar-listagem-wrapper, .dg-categoria-sidebar-titulo {
            padding-left: 20px;
            padding-right: 20px;
        }
        .dg-categoria-sidebar-wrapper {
            max-height: calc(100% - 188px);
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 188px;
            left: 0;
        }
    }
    body .dg-categoria-produtos main:after {
        background-color: #fff;
    }
}


body {
    @media (max-width: 991px) {
        .dg-categoria-sidebar .dg-categoria-sidebar-titulo svg path {
            fill: #36404B;
        }
        .dg-categoria-sidebar .dg-menu-login-mobile .dg-menu-login-mobile-bottom, .dg-categoria-sidebar-letras a, .dg-categoria-sidebar-preco-range-valor,
        .dg-categoria-sidebar-listagem a, .dg-categoria-sidebar-voltar,
        .dg-categoria-sidebar .dg-categoria-sidebar-titulo, .dg-categoria-sidebar .dg-titulo {
            color: #36404B;
        }
        .dg-categoria-sidebar .dg-categoria-sidebar-titulo {
            color: #FD3141;
        }
        .dg-categoria-sidebar .dg-categoria-header-wrapper {
            background-color: #EDF0F3;
        }
        .dg-categoria-sidebar .dg-categoria-sidebar-titulo {
            border-top: 1px solid #e6e6e6;
        }
        .dg-categoria-sidebar-listagem::-webkit-scrollbar-track {
            background-color: #eee;
        }
        .dg-categoria-sidebar-listagem a {
            padding-top: 7px;
            padding-bottom: 7px;
            position: relative;
            line-height: 14px;
            font-size: 12px;
        }
        .dg-categoria-sidebar .dg-titulo strong {
            font-weight: bold;
        }
    }
}

body .dg-categoria-sidebar-titulo svg {
    vertical-align: middle;
    margin-right: 11px;
}

@media (max-width: 991px) {
    body {
        .dg-categoria-menumobile>ul>li>a {
            width: 38px;
            height: 38px;
            text-align: center;
            display: inline-block;
            margin-right: 8px;
            margin-bottom: 8px;
            span.dg-icon {
                margin-right: 0;
                font-size: 14px;
                color: #acacb7;
            }
        }
        .dg-categoria-menumobile>ul>li {
            width: auto;
            padding: 0 !important;
        }
        .dg-categoria-menumobile>ul>li>a.jsAbrirFiltrar {
            margin-right: 0;
            background-color: #acacb7;
        }
    }
}

@media (max-width: 414px) {
    body .dg-categoria-sidebar .dg-header-minhaconta-modal {
        padding: 0 16px;
    }
}

.dg-categoria-wrapper-img {
    @media (min-width: 992px) {
        &.dg-categoria-tem-banner {
            background-repeat: no-repeat;
            background-position: bottom right;
            height: 166px;
        }
    }
    @media(max-width: 1279px) {
        &.dg-categoria-tem-banner {
            background-position: bottom right -200px;
        }
    }
    @media(max-width: 991px) {
        &.dg-categoria-tem-banner {
            background-image: none !important;
            background-position: bottom right -200px;
        }
    }

    @media (min-width: 992px) {
        &.dg-categoria-tem-banner {
            .dg-categoria-desc {
                max-width: 400px;
            }
        }
    }
}