@model Banners

@if (!string.IsNullOrEmpty(Model.Imagem))
{

// tem como mudar o nome dessa classa pra dg-footer-banner?

    <div class="dg-outro-banner" style="background-image:url(https://static.farmaciamix.com.br/banners/fmix/@Model.Imagem)"></div>
}











