@model Banners

@if (!string.IsNullOrEmpty(Model.Imagem))
{

// tem como mudar o nome dessa classa pra dg-footer-banner?

    <div class="dg-outro-banner" style="background-image:url(@Html.Domain()/Themes/DefaultClean/Content/img/footer/outro.png)"></div>
}











